<div *ngIf="attendance.checkOut">
  <div>{{attendance.checkOut | date:'shortTime'}}</div>
  <ng-container *ngIf="isPast" [ngSwitch]="attendance.checkOutStatus">
    <ng-container class="sub-text" *ngSwitchCase="'late'">
      <span *ngIf="!overTime" class="sub-text">Went Late</span>
      <span *ngIf="overTime" class="sub-text over-time">{{overTime}} Overtime</span>
    </ng-container>
    <span class="sub-text" *ngSwitchCase="'early'">{{early}} Early</span>
    <span class="sub-text" *ngSwitchCase="'missed'">Missed</span>
  </ng-container>
</div>
<span class="cta" *ngIf="!attendance.checkOut && isPast && attendance.status === 'present'">Missed
  Check Out</span>
