<div class="tool-bar controls-row">
  <h5>Leave Rules</h5>
  <span class="spacer"></span>
  <button [disabled]="leaveTypes?.isLoading  || leaveType?.isProcessing" md-icon-button mdTooltip="Add New"
    [mdTooltipPosition]="'above'" (click)="toggleNew()">
    <md-icon>add_circle_outline</md-icon>
  </button>
</div>
<md-spinner class="custom_spinner" *ngIf="leaveTypes?.isLoading  || leaveType?.isProcessing" mode="indeterminate"></md-spinner>

<aqua-leave-type *ngIf="isNew || isEdit" [leave]="leaveTypeModel"></aqua-leave-type>

<md-card class="card">
  <table class="table table-condensed table-hover">
    <thead class="primary_thead">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>
          <div>Min</div>
          <span class="sub-text">per Day</span>
        </th>
        <th>
          <div>Max</div>
          <span class="sub-text">per Month</span>
        </th>
        <th>Unlimited</th>
        <th>
          <div>No of Leaves</div>
          <span class="sub-text">Trigger</span>
        </th>
        <th>
          <div>Carry Forward</div>
          <span class="sub-text">Yearly</span>
        </th>
        <th class="actionBtnss"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaveTypes.items" class="capitalize">

        <td>
          <div>{{item?.name}}</div>
          <span class="sub-text">{{item?.code}}</span>
        </td>
        <td>{{item?.category}}</td>
        <td>{{item?.unitsPerDay === 1 ? 'Full': item?.unitsPerDay === 2? '½':'⅓'}}</td>
        <td>{{item?.monthlyLimit || 'No Limit'}}</td>
        <td>{{item?.unlimited === false ? 'No': '∞'}}</td>
        <td>
          <ng-container [ngSwitch]="item.periodicity?.type">
            <ng-container *ngSwitchCase="'daily'">
              <div>1 Leave</div>
              <span class="sub-text">On {{item?.periodicity?.value}} hrs of overtime</span>
            </ng-container>
            <ng-container *ngSwitchCase="'monthly'">
              <div>{{item?.periodicity?.value}} Leave(s)</div>
              <span class="sub-text">On month start</span>
            </ng-container>
            <ng-container *ngSwitchCase="'yearly'">
              <div>{{item?.periodicity?.value}} Leave(s)</div>
              <span class="sub-text">On year start</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <div>{{item?.periodicity?.value}} Leave(s)</div>
              <span class="sub-text">Manually</span>
            </ng-container>
          </ng-container>
        </td>
        <td>{{item?.carryForward || 'All'}}</td>
        <td>
          <button *ngIf="!item?.isEdit" md-icon-button class="subtle" mdTooltip="Edit" [mdTooltipPosition]="'above'"
            (click)="isEdit = true;leaveTypeModel = item;">
            <md-icon>edit</md-icon>
          </button>
          <!-- <button *ngIf="!item?.isEdit" md-icon-button class="button_align cursor" mdTooltip="Delete"
              [mdTooltipPosition]="'above'" (click)="remove(item)">
              <md-icon>delete</md-icon>
            </button>
            <button *ngIf="item?.isEdit" [disabled]="leaveTypes?.isLoading  || leaveType?.isProcessing" md-icon-button
              class="button_align cursor " (click)="saveLeaveType(item)" mdTooltip="Save" [mdTooltipPosition]="'above'">
              <md-icon>save</md-icon>
            </button>
            <button *ngIf="item?.isEdit" [disabled]="leaveTypes?.isLoading  || leaveType?.isProcessing" md-icon-button
              class="button_align cursor" (click)="toggleLeaveType(item, false)" mdTooltip="Cancel" [mdTooltipPosition]="'above'">
              <md-icon>undo</md-icon>
            </button> -->
        </td>
      </tr>

    </tbody>
  </table>
</md-card>
