<md-card class="customCard borderBox">
    <div class="row text-center upper">

        <img src="assets/images/login/logo.png">
        <h1>Congratulations</h1>
        <h4>Now you can enjoy Aqua Teams a complete HR Solution</h4>
    </div>
    <div class="row text-center lower">
        <h4 class="grey_color">Get the apps to sync your files</h4>
        <div class="row text-center links">
            <a href="http://bit.ly/2sPVnP3">
                <img src="assets/images/googlestore.png">
            </a>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <a href="https://goo.gl/A4op5a">
                <img src="assets/images/appstore.png">
            </a>
        </div>
        <h4><b>Thank You for creating Aqua Teams Account</b></h4>
        <br>
        <div class="row text-center">
            <a class="btn btn_proceed" (click)="next()" angulartics2On="click" angularticsEvent="completeGettingStarted" angularticsCategory="complete"><b>Continue to AQUA Teams</b></a>
        </div>
    </div>
</md-card>