<table class="table table-condensed ">
    <tr class="leave-details">
        <td width="30%">
            {{type.name}}
            <ng-container *ngIf="limitLabel">
                <br>
                <span class="sub-text">{{limitLabel}}</span>
            </ng-container>
            <div class="footer">
                <md-button-toggle-group [(ngModel)]="duration" (change)="changed()" class="mini-control">
                    <md-button-toggle *ngIf="enable.durations.multi" value="multi">Multi</md-button-toggle>
                    <md-button-toggle *ngIf="enable.durations.single" value="single">1</md-button-toggle>
                    <md-button-toggle *ngIf="enable.durations.twoThird" value="twoThird">2/3</md-button-toggle>
                    <md-button-toggle *ngIf="enable.durations.half" value="half">1/2</md-button-toggle>
                    <md-button-toggle *ngIf="enable.durations.oneThird" value="oneThird">1/3</md-button-toggle>
                </md-button-toggle-group>
            </div>

        </td>
        <td width="30%">
            <label>Date: <span class="asterisk">*</span></label>
            <input type="date" [ngModel]="leave.date" class="form-control" (change)="changed()" [disabled]="!enable.start.date">
            <ng-container *ngIf="duration !== 'single' && (enable.durations.twoThird || enable.durations.half || enable.durations.oneThird)">
                <md-checkbox [ngModel]="leave.start.first" (change)="changed()" [disabled]="!enable.start.first">First</md-checkbox>
                <md-checkbox [ngModel]="leave.start.second" (change)="changed()" [disabled]="!enable.start.second">Second</md-checkbox>
            </ng-container>
        </td>
        <td width="30%">
            <ng-container *ngIf="duration === 'multi'">
                <label>To: <span class="asterisk">*</span></label>
                <input type="date" [ngModel]="leave.toDate" class="form-control" (change)="changed()" [disabled]="!enable.end.date">
                <ng-container *ngIf="duration !== 'single' && (enable.durations.twoThird || enable.durations.half || enable.durations.oneThird)">
                    <md-checkbox [ngModel]="leave.end.first" (change)="changed()" [disabled]="!enable.end.first">First</md-checkbox>
                    <md-checkbox [ngModel]="leave.end.second" (change)="changed()" [disabled]="!enable.end.second">Second</md-checkbox>
                </ng-container>
            </ng-container>
        </td>
    </tr>
</table>