.example-icon {
    padding: 0 14px;
}

.logout {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}

.loginHeader {
    background-color: #ffffff !important;
    color: #8b9caf!important;
    position: fixed;
    width: 84%;
    right: 0;
    /* left: 0; */
    top: 0;
    z-index: 3;
    box-shadow: 0 0 9px 0px black;
}

.bodyPart {
    margin-top: 5.1%;
    overflow-y: auto;
    max-height: 100%;
    /*width: 100%;*/
    /*overflow-x: hidden;*/
}

.section {
    /* border: 1px solid #d0cdcd; */
    padding: 0;
}

.fixedSideNav a {
    background-color: #283047 !important;
}


/* .activeTab {
    border-bottom: 2px solid #00a8c6;
    color: #00a8c6;
} */


/* .logo {
    margin-right: 2%;
    width: 7%;
} */

.searchXs {
    display: none !important;
}

.searchbar {
    width: 67%;
    margin-right: 9%;
}

.searchbarinput {
    border: 2px solid #afbbc8 !important;
}

.searchbarinput::-webkit-input-placeholder {
    color: #afbbc8;
}

.loginFormXS {
    width: 100%;
}

.example-full-width-input {
    margin-top: 6%;
}

.loginFormXS td,
.loginFormXS .example-full-width-input {
    width: 100%;
    margin-top: 6%;
}

@media only screen and (max-width:1359px) {
    .bodyPart {
        margin-top: 6%;
    }
}

@media only screen and (max-width:1359px) {
    .bodyPart {
        margin-top: 8%;
    }
}

@media only screen and (max-width:852px) {
    .bodyPart {
        margin-top: 10%;
    }
}

@media only screen and (max-width:676px) {
    .bodyPart {
        margin-top: 13%;
    }
}

@media only screen and (max-width:520px) {
    .loginForm {
        display: none;
    }
    .searchXs {
        display: flex !important;
    }
    .bodyPart {
        margin-top: 24%;
    }
}

@media only screen and (max-width:520px) {
    .bodyPart {
        margin-top: 25%;
    }
}

@media only screen and (max-width:480px) {
    .bodyPart {
        margin-top: 27%;
    }
    .logo {
        margin-right: 5px;
    }
}

@media only screen and (max-width:450px) {
    .bodyPart {
        margin-top: 30%;
    }
}

@media only screen and (max-width:407px) {
    .bodyPart {
        margin-top: 35%;
    }
}

@media only screen and (max-width:350px) {
    .bodyPart {
        margin-top: 40%;
    }
}

.menu {
    background-color: #757575;
}

h5 {
    color: white;
}

.activeTab {
    border-left: 3px solid #00a8c6;
    background-color: #444c6f !important;
    /* box-shadow: 3px -2px 6px 0px #030306; */
}


/* .mat-list-item h5 {
    margin: 0 auto;
} */

.subListHeader {
    padding-left: 7%;
    padding-bottom: 3%;
    padding-top: 3%;
    color: rgb(255, 255, 255);
    background: #444c6f;
    margin-bottom: 0px;
    border-bottom: 1px solid #283047;
    border-top: 1px solid #283047;
    cursor: pointer;
}

.leftIcon {
    float: right;
}
