<div class="container">
    <md-sidenav-container class="nav-container" *ngIf="!shouldRun">
        <md-sidenav #sidenav>
            <div style="width:100%">
                <aqua-navigation-bar [userType]="userType" [sectionEmployee]="sections.employee" [isShowEmployeeTab]="isShowEmployeeTab" (isSelected)="closeNav($event)"></aqua-navigation-bar>
            </div>

        </md-sidenav>

        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                <md-toolbar class="loginHeader" color="primary">
                    <span class="menuBtn" md-button (click)="sidenav.open()">
                        <md-icon>menu</md-icon>
                    </span>
                    <span class="example-spacer"></span>
                    <div class="org-logo" *ngIf="currentUser && currentUser.organization && currentUser.organization">
                        {{currentUser.organization.name}}
                    </div>
                    <!-- <div class="logoHeader">
                        <img src="assets/images/splash_logo2.png" height="50px">
                    </div> -->
                    <span class="example-spacer"></span>
                    <!-- <div *ngIf="employeeSearch" class="searchbar">
                        <input ngui-auto-complete [min-chars]="1" *ngIf="userType == 'superadmin'" placeholder="Employee search" [(ngModel)]="selectedEmp"
                            (valueChanged)="onSelectEmp($event)" [source]="empSource.bind(this)" [value-formatter]="empFormatter"
                            [list-formatter]="empListFormatter" class="form-control searchbarinput search" name="roleId" />
                    </div> -->
                    <!-- <button md-icon-button (click)="syncEmployees()" *ngIf="userType == 'superadmin'" [disabled]="isSyncing" mdTooltip="Sync Employees" class="marginLetf" [mdTooltipPosition]="'below'">
                        <i class="fa fa-refresh  fa-lg" [ngClass]="{'fa-spin':isSyncing}" aria-hidden="true"></i>
                    </button> -->
                    <button md-button class="capitalize marginLetf" (click)="logout()" mdTooltip="Logout" [mdTooltipPosition]="'below'">{{currentUser?.name}}
                        <md-icon class="example-icon">exit_to_app</md-icon>
                    </button>

                </md-toolbar>
            </div>
        </div>
        <div class="bodyPart row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowBody">
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
                    <aqua-navigation-bar [userType]="userType" [sectionEmployee]="sections.employee"></aqua-navigation-bar>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 section hiddenHorScroll">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </md-sidenav-container>
</div>