.example-spacer {
    flex: 1 1 auto;
}

.tdWidth {
    width: 15%;
    text-align: center;
}

.profile_pic {
    width: 33px;
    height: 33px;
}

.headerBtns1 {
    position: absolute;
    /* width: 21%; */
    right: 0%;
    top: -3px;
    color: #6b6b6b;
}

.activationKeySpan {
    border: 1px solid #ababab;
    border-radius: 4px;
    padding: 1.5%;
    margin-right: 8%;
}

#activationKey {
    width: 42%;
}

.marginTopAdd{
    margin-top: 2%;
}

.marginTopSubtract{
    margin-top: -1%;
}

.queue{
    margin-top: -1% !important;
}