<div class="tool-bar controls-row">
  <h5>Devices</h5>
  <span class="spacer"></span>
  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <span *ngIf="activationKey" class="activationKeySpan">
      <span>Activation Key :
        <input disabled id="activationKey" [value]="activationKey">
      </span>
      <button md-menu-item
        [disabled]="devices?.isLoading || isDownloading || device?.isProcessing || categories?.isLoading"
        (click)="copyKey()" mdTooltip="Copy Activation Key" class="marginLetf" [mdTooltipPosition]="'above'">
        <md-icon>content_copy</md-icon>
      </button>
    </span>
    <button md-menu-item *ngIf="!activationKey" [disabled]="isDownloading" (click)="getActivationKey()"
      mdTooltip="Get Activation Key" class="marginLetf" [mdTooltipPosition]="'above'">
      <md-icon>vpn_key</md-icon>Activation Key
    </button>
    <a md-menu-item mdTooltip="Download Sync App" class="marginLetf" [mdTooltipPosition]="'above'"
      href="https://s3.ap-south-1.amazonaws.com/aqua-setups/AquaSync.msi">
      <md-icon>cloud_download</md-icon> Download
    </a>
    <button md-menu-item
      [disabled]="devices?.isLoading || isDownloading || device?.isProcessing || categories?.isLoading" (click)="add()"
      mdTooltip="Add Devices" class="marginLetf" [mdTooltipPosition]="'above'">
      <md-icon>add_circle_outline</md-icon> Add Devices
    </button>

    <button md-menu-item [disabled]="devices?.isLoading" (click)="sync()" mdTooltip="Resync" class="marginLetf"
      [mdTooltipPosition]="'above'">
      <md-icon>update</md-icon> Set Last Sync
    </button>

  </md-menu>
</div>

<md-spinner class="custom_spinner"
  *ngIf="devices?.isLoading || isDownloading || device?.isProcessing || categories?.isLoading" mode="indeterminate">
</md-spinner>


<md-card class="card">
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead class="primary_thead">
        <tr>
          <th class="tdWidth">Name</th>
          <th class="tdWidth">Type</th>
          <th class="tdWidth">Category</th>
          <th class="tdWidth">IP</th>
          <th class="tdWidth">Port No</th>
          <th class="tdWidth"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of devices.items | paginate: { id: 'foo',
                                                      itemsPerPage: devices.pageSize,
                                                      currentPage: devices.pageNo,
                                                      totalItems: devices.totalRecords };" class="capitalize">

          <td class="tdWidth">
            <div class="available {{item?.status}}"></div>
            {{item?.name || '--'}}
          </td>
          <td class="tdWidth">{{(item?.type === 'both'? 'In/Out': item?.type) || '--'}}</td>
          <td class="tdWidth">{{item?.category?.name}}</td>
          <td class="tdWidth">{{item?.ip}}</td>
          <td class="tdWidth">{{item?.port || '--'}}</td>
          <td class="tdWidth">
            <button class="subtle" md-icon-button
              [disabled]="devices?.isLoading || device?.isProcessing || categories?.isLoading" mdTooltip="Edit"
              [mdTooltipPosition]="'above'" (click)="edit(item)">
              <i class="fa fa-pencil-square-o  fa-lg" aria-hidden="true"></i>
            </button>
            <button class="subtle" md-icon-button
              [disabled]="devices?.isLoading || device?.isProcessing || categories?.isLoading" mdTooltip="Delete"
              [mdTooltipPosition]="'above'" (click)="remove(item)">
              <md-icon>delete</md-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>
