.example-spacer {
    flex: 1 1 auto;
}

.tdWidth {
    width: 15%;
    text-align: center;
}

.headerBtns1 {
    position: absolute;
    /* width: 21%; */
    right: 0%;
    top: -3px;
    color: #6b6b6b;
}

.activationKeySpan {
    border: 1px solid #ababab;
    border-radius: 4px;
    padding: 1.5%;
    margin-right: 8%;
}


/* .page_header {
    background-color: #e4e4e4;
    padding-top: 0.5%;
    padding-left: 0.5%;
     padding-right: 0% !important;
} */

#activationKey {
    width: 50%;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    padding-left: 30px !important;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px;
    padding-left: 25px !important;
}

.activationKeySpan[_ngcontent-c7] {
    border: 0px solid #ababab !important;
    border-radius: 0px !important;
    padding: 0% !important;
    margin-right: 0% !important;
}

@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}
