<div>
    <div class="row text-center header">
        <h5><b>Reset Password</b></h5>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <form #passwordForm="ngForm">
            <table class="table">
                <tr>
                    <th>New Password:<span class="asterisk">*</span></th>
                    <td>
                        <input [minlength]="validatorService.passwordMinLength" [maxlength]="validatorService.passwordMaxLength" [(ngModel)]="resetPassword.password" [pattern]="validatorService.passwordRegExp_onlyNumberAndChar" type="password" class="form-control" #pass="ngModel"
                            name="pass" placeholder="min 6 char" required>
                        <!-- <span class="asterisk" *ngIf="!pass.valid && pass.touched">Password sholud contains only letters and numbers</span> -->
                    </td>
                </tr>
                <tr>
                    <th>Confirm Password:<span class="asterisk">*</span></th>
                    <td>
                        <input [minlength]="validatorService.passwordMinLength" [maxlength]="validatorService.passwordMaxLength" [(ngModel)]="resetPassword.confirmPassword" type="password" class="form-control" name="passCONFI" placeholder="min 6 char" required>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" class="text-center">
                        <button md-raised-button color="primary" (click)="save(passwordForm)">Save</button>
                        <button md-raised-button class="btn_grey" md-dialog-close>Cancel</button>
                    </th>
                </tr>
            </table>
        </form>
    </div>
</div>