<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th style="width:115px">Date</th>
        <th>Params</th>
        <th style="width:125px">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reportRequests.items | paginate: { id: 'foo',
        itemsPerPage: reportRequests.pageSize,
        currentPage: reportRequests.pageNo,
        totalItems: reportRequests.totalRecords }; let i=index"
        class="capitalize {{item.status}}">
        <td>{{i + 1}}</td>
        <td>
          <span *ngIf="item.reportParams.dates">
            {{item.reportParams.dates.from| date: 'dd-MM-yyyy'}}</span>
          <br>
          <span class="sub-text">{{item.date | date: 'HH:mm dd-MM-yyyy'}}</span>
        </td>
        <td>
          <div class="params">
            <ng-container *ngIf="item.reportParams.employee">
              <span *ngIf="item.reportParams.employee.name" class="badge-holder">
                Name <span class="badge badge-primary">{{item.reportParams.employee.name}}</span>
              </span>
              <span *ngIf="item.reportParams.employee.code" class="badge-holder">
                Code<span class="badge badge-primary"> {{item.reportParams.employee.code}}</span>
              </span>
              <span *ngIf="item.reportParams.employee.biomatricId" class="badge-holder">
                Biomatric<span class="badge badge-primary"> {{item.reportParams.employee.biomatricId}}</span>
              </span>
              <span *ngIf="item.reportParams.employee.supervisor" class="badge-holder">
                Supervisor<span class="badge badge-primary">{{item.reportParams.employee.supervisor.name}}</span>
              </span>
              <span *ngIf="item.reportParams.employee.divisions" class="badge-holder">
                  Divisions<span class="badge badge-primary" *ngFor="let division of item.reportParams.employee.divisions">{{division.name}}</span>
                </span>
              <span *ngIf="item.reportParams.employee.contractors" class="badge-holder">
                  Contractors<span class="badge badge-primary" *ngFor="let contractor of item.reportParams.employee.contractors">{{contractor.name}}</span>
                </span>
              <span *ngIf="item.reportParams.employee.departments" class="badge-holder">
                Departments<span class="badge badge-primary" *ngFor="let department of item.reportParams.employee.departments">{{department.name}}</span>
              </span>
              <span *ngIf="item.reportParams.employee.designations" class="badge-holder">
                Designations<span class="badge badge-primary" *ngFor="let designation of item.reportParams.employee.designations">{{designation.name}}</span>
              </span>
            </ng-container>
            <span class="badge-holder" *ngIf="item.reportParams.shiftType">
              Shifts<span class="badge badge-primary" *ngFor="let shiftType of item.reportParams.shiftType">{{shiftType.name}}</span>
            </span>
            <ng-container *ngIf="item.reportParams.attendance">
              <span class="badge-holder" *ngIf="item.reportParams.attendance.status">
                Attendance<span class="badge badge-primary" *ngFor="let status of item.reportParams.attendance.status">{{status.name}}</span>
              </span>

              <span class="badge-holder" *ngIf="item.reportParams.attendance.clocked">
                Clocked
                <span class="badge badge-primary" *ngFor="let status of item.reportParams.attendance.clocked.status">{{status.name}}</span>
                <ng-container *ngIf="item.reportParams.attendance.clocked?.hours">
                  <span class="badge badge-primary" *ngIf="item.reportParams.attendance.clocked.hours.greaterThan">
                    &gt;{{item.reportParams.attendance.clocked.hours.greaterThan}} hrs </span>
                  <span class="badge badge-primary" *ngIf="item.reportParams.attendance.clocked.hours.greaterThan">
                    &lt;{{item.reportParams.attendance.clocked.hours.lessThan}} hrs </span>
                </ng-container>
              </span>

              <span class="badge-holder" *ngIf="item.reportParams.attendance.checkIn">
                Check In
                <span class="badge badge-primary" *ngFor="let status of item.reportParams.attendance.checkIn.status">{{status.name}}</span>
                <ng-container *ngIf="item.reportParams.attendance.clocked?.hours">
                  <span class="badge badge-primary" *ngIf="item.reportParams.attendance.checkIn.before">
                    before: {{item.reportParams.attendance.checkIn.before}} </span>
                  <span class="badge badge-primary" *ngIf="item.reportParams.attendance.checkIn.after">
                    after: {{item.reportParams.attendance.checkIn.after}}</span>
                </ng-container>
              </span>

              <span class="badge-holder" *ngIf="item.reportParams.attendance.checkOut">
                Check Out
                <span class="badge badge-primary" *ngFor="let status of item.reportParams.attendance.checkOut.status">{{status.name}}</span>
                <ng-container *ngIf="item.reportParams.attendance.clocked?.hours">
                  <span class="badge badge-primary" *ngIf="item.reportParams.attendance.checkOut.before">
                    before: {{item.reportParams.attendance.checkOut.before}} </span>
                  <span class="badge badge-primary" *ngIf="item.reportParams.attendance.checkOut.after">
                    after: {{item.reportParams.attendance.checkOut.after}}</span>
                </ng-container>
              </span>
            </ng-container>
          </div>
        </td>
        <td>
          <ng-container *ngIf="item.status === 'new'">
            <button md-raised-button (click)="updateList()">Requested</button>
            <span class="sub-text">{{item.agoTime}} ago</span>
          </ng-container>
          <ng-container *ngIf="item.status === 'in-progress'">
            <button md-raised-button (click)="updateList()">Generating</button>
            <span class="sub-text">{{item.agoTime}} ago</span>
          </ng-container>
          <ng-container *ngIf="item.status === 'ready'">
            <button md-icon-button (click)="download(item.url, item.type)">
              <md-icon>cloud_download</md-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="item.status === 'errored'">
            <md-icon>report_problem</md-icon>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="custom_pagination">
    <pagination-controls id="foo" (pageChange)="reportRequests.pageNo = $event;"></pagination-controls>
    <label>Total Records: {{reportRequests.totalRecords}}</label>
    <div class="pageSize">
      <label>Page Size:</label>
      <select name="pageSize" [(ngModel)]="reportRequests.pageSize" (change)="reportRequests.pageNo = 1;">
        <option value=10>10</option>
        <option value=50>50</option>
        <option value=100>100</option>
        <option value=500>500</option>
      </select>
    </div>
  </div>
  </div>

