.full-width {
        width: 100%;
        /*margin-top: 2%;*/
        color: black !important;
        background-color: white !important;
    }
    
    .selectTag {
        margin-bottom: 4%;
        width: 100%;
        color: black !important;
        background-color: white !important;
    }
    
    .header {
        color: white;
        background-color: #2d3349 !important;
        /* position: fixed;
        top: 0;
        right: 0;
        left: 0; */
    }
    
    .lable_w {
        width: 24% !important;
    }
    
    table.table-bordered>tbody>tr>td,
    table.table-bordered>tbody>tr>th,
    table.table-bordered>tfoot>tr>td,
    table.table-bordered>tfoot>tr>th,
    table.table-bordered>thead>tr>td,
    table.table-bordered>thead>tr>th,
    table.table-bordered>tbody>tr>td {
        border: 1px solid white;
    }
    
    .myFormControl {    
            display: block;
            width: 210px;
            height: 34px;
           padding: 6px 12px;
           font-size: 14px;    
           line-height: 1.42857143;
           color: #555;
           background-color: #fff;
           background-image: none;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
           transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
   }
   
   td {
       padding: 2px;
   }
   
   .alignButton {
       float: left;
       margin-left: 31%;
       margin-top: 6px;
   }
   .mat-dialog-container {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        display: block;
        padding: 2px !important;
        border-radius: 2px;
        box-sizing: border-box;
        overflow: auto;
        max-width: 80vw;
        outline: 0;
        width: 100%;
        height: 100%;
    }
    .header[_ngcontent-c13][_ngcontent-c13] {
        color: white;
        background-color: #2d3349 !important;
        /* margin: -23px !important; */
        margin-bottom: -22px !important;
        margin-top: -22px !important;
        margin-left: -36px !important;
        margin-right: -36px !important;
    }