<div class="row page_header">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a *ngIf="user == 'superadmin'" md-raised-button class="reply" color="primary" [routerLink]="['/pages/attendances/leaves']">
            <md-icon>reply</md-icon>Leaves(all)
        </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
        <h5>
            <b>New Leave</b>
        </h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
</div>
<md-spinner class="custom_spinner" *ngIf="employee?.isProcessing" mode="indeterminate"></md-spinner>

<div class="row">
    <md-card class="">
        <div class="table-responsive">
            <form #leaveForm="ngForm" class="formClass">
                <table class="table table-condensed" *ngIf="!isEmpId">
                    <thead class="primary_thead">
                        <tr>
                            <th colspan="4" class="text-center">Select Employee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="lableWidth">
                                <label>Name:
                                    <span class="asterisk">*</span>
                                </label>
                            </td>
                            <td class="valueWidth">
                                <input ngui-auto-complete [min-chars]="1" placeholder="Employee search by name or code" [(ngModel)]="leave.properties.employee"
                                    (valueChanged)="onSelectEmp($event)" [source]="empSource.bind(this)" [value-formatter]="empFormatter"
                                    [list-formatter]="empListFormatter" class="form-control search" name="roleId" [required]="!isEmpId"
                                />
                                <!--<input type="text" [(ngModel)]="leave.properties.employee.name" [maxlength]="validatorService.textLength" class="form-control" name="empName" required readonly>-->
                            </td>
                            <td class="lableWidth">
                                <label>Code:
                                    <span class="asterisk">*</span>
                                </label>
                            </td>
                            <td class="valueWidth">
                                <input type="text" [(ngModel)]="leave.properties.employee.code" [maxlength]="validatorService.textLength" class="form-control"
                                    name="code" [required]="!isEmpId" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Designation:</label>
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="leave.properties.employee.designation" [maxlength]="validatorService.textLength" class="form-control"
                                    name="designation" readonly>
                            </td>
                            <td>
                                <!--<label>Code:<span class="asterisk">*</span></label>-->
                            </td>
                            <td>
                                <!--<input type="text" [(ngModel)]="leave.properties..employee.code" [maxlength]="validatorService.textLength" class="form-control" name="code" required>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-condensed" *ngIf="isEmpId">
                    <thead class="primary_thead">
                        <tr>
                            <th colspan="4" class="text-center">Select Employee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="lableWidth">
                                <label>Name:
                                    <span class="asterisk">*</span>
                                </label>
                            </td>
                            <td class="valueWidth">
                                <input type="text" [(ngModel)]="leave.properties.employee.name" [maxlength]="validatorService.textLength" class="form-control"
                                    name="empName" [required]="isEmpId" readonly>
                            </td>
                            <td class="lableWidth">
                                <label>Code:
                                    <span class="asterisk">*</span>
                                </label>
                            </td>
                            <td class="valueWidth">
                                <input type="text" [(ngModel)]="leave.properties.employee.code" [maxlength]="validatorService.textLength" class="form-control"
                                    name="code" [required]="isEmpId" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Designation:
                                    <span class="asterisk">*</span>
                                </label>
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="leave.properties.employee.designation" [maxlength]="validatorService.textLength" class="form-control"
                                    name="designation" [required]="isEmpId" readonly>
                            </td>
                            <td>
                                <!--<label>Code:<span class="asterisk">*</span></label>-->
                            </td>
                            <td>
                                <!--<input type="text" [(ngModel)]="leave.properties..employee.code" [maxlength]="validatorService.textLength" class="form-control" name="code" required>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-condensed">
                    <thead class="primary_thead">
                        <tr>
                            <th colspan="4" class="text-center">Select Leave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div *ngFor="let item of leaveBalances.items;let idx = index">
                                    <aqua-apply-leave-type [leaveBalance]="item" [empl]="isEmpId" (allLeaves)="allLeaves($event)"></aqua-apply-leave-type>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="lableWidth">
                                <label>Type:<span class="asterisk">*</span></label>
                            </td>
                            <td class="valueWidth">
                                <select [(ngModel)]="leave.properties.type.id" (change)="selectLeveType(leave.properties.type.id)" class="form-control" name="selectType" required>
                                 <option [ngValue]="null">select an option </option>
                                  <option *ngFor="let item of leaveBalances.items" [value]="item.leaveType.id">{{item?.leaveType?.name}} ({{item?.leaveType?.unlimited ? 'Unlimited': (item?.leaveType?.monthlyLimit && item?.days > item?.leaveType?.monthlyLimit? item?.leaveType?.monthlyLimit:item?.days) }})</option>
                                </select>
                            </td>
                            <td class="lableWidth">
                                <span *ngIf="leaveBalances?.isLoading"><i class="fa fa-spinner fa-spin  fa-fw"></i> Loading</span>
                            </td>
                            <td class="valueWidth"></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Duration:<span class="asterisk">*</span></label>
                            </td>
                            <td>
                                <md-radio-group [(ngModel)]="duration" name="duration">
                                    <md-radio-button value="multi">Multi</md-radio-button>
                                    <md-radio-button value="full">Full</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 2" value="half">Half</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 3" value="1/3">One Third</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 3" value="2/3">Two Third</md-radio-button>
                                </md-radio-group>
                            </td>
                        </tr>
                        <tr *ngIf="duration != 'multi'">
                            <td>
                                <label>Date:<span class="asterisk">*</span></label>
                            </td>
                            <td>

                                <input name="startdate1" class="form-control  calendar no-spin" type="date" [ngModel]="leave.properties.date  | date:'yyyy-MM-dd'" (ngModelChange)="leave.properties.date = $event" [required]="duration != 'multi'">
                            </td>

                        </tr>
                        <tr *ngIf="duration === 'multi'">
                            <td>
                                <label>Start Date:<span class="asterisk">*</span></label>
                            </td>
                            <td>
                                <input name="startdate" class="form-control  calendar no-spin" type="date" [ngModel]="leave.properties.date  | date:'yyyy-MM-dd'" (ngModelChange)="leave.properties.date = $event" [required]="duration === 'multi'">
                                <md-radio-group [(ngModel)]="startTime" name="startTime">
                                    <md-radio-button value="startfull">Full</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 2" value="starthalf">Half</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 3" value="start1/3">One Third</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 3" value="2/3">Two Third</md-radio-button>
                                </md-radio-group>
                            </td>
                            <td>
                                <label>End Date:<span class="asterisk">*</span></label>
                            </td>
                            <td>
                                <input name="enddate" class="form-control  calendar no-spin" type="date" [ngModel]="leave.properties.toDate  | date:'yyyy-MM-dd'" (ngModelChange)="leave.properties.toDate = $event" [required]="duration === 'multi'">
                                <md-radio-group [(ngModel)]="endTime" name="endTime" style="margin-top:20px;">
                                    <md-radio-button value="endfull">Full</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 2" value="endhalf">Half</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 3" value="end1/3">One Third</md-radio-button>
                                    <md-radio-button *ngIf="leave.properties.leaveType.unitsPerDay == 3" value="2/3">Two Third</md-radio-button>
                                </md-radio-group>
                            </td>
                        </tr> -->


                        <tr *ngIf="leaveBalances.items.length">
                            <td>
                                <label>Reason:
                                    <span class="asterisk">*</span>
                                </label>
                            </td>
                            <td colspan="3">
                                <textarea type="text" [(ngModel)]="leave.properties.reason" [maxlength]="validatorService.textLength" class="form-control"
                                    name="reason" required></textarea>
                            </td>
                        </tr>
                        <tr *ngIf="leaveBalances.items.length">
                            <td colspan="4" class="footerBtn">
                                <button md-raised-button color="primary" [disabled]="leave?.isProcessing" (click)="applyLeave(leaveForm.valid)">
                                    <span *ngIf="!leave?.isProcessing">Add</span>
                                    <i *ngIf="leave?.isProcessing" class="fa fa-spinner fa-spin  fa-fw"></i>
                                </button>
                                <button md-raised-button [disabled]="leave?.isProcessing" (click)="reset()">Reset</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </md-card>
</div>