.bodyPart {
    margin-top: 5.1%;
    overflow-y: auto;
    max-height: 100%;
    /*width: 100%;*/
    /*overflow-x: hidden;*/
}

.subListHeader {
    padding-left: 7%;
    padding-bottom: 3%;
    padding-top: 3%;
    color: rgb(255, 255, 255);
    background: #444c6f;
    margin-bottom: 0px;
    border-bottom: 1px solid #283047;
    border-top: 1px solid #283047;
    cursor: pointer;
}


h5 {
    color: white;
}

.activeTab {
    border-left: 3px solid #00a8c6;
    background-color: #444c6f !important;
    /* box-shadow: 3px -2px 6px 0px #030306; */
}

.leftIcon {
    float: right;
}
.fixedSideNav a {
    background-color: #283047 !important;
}

@media only screen and (max-width:600px) {
    
    .logo_container {
        background: #444c6f;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    
    md-nav-list{
        width: 100%
    }
} 