<div class="row page_header">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a md-raised-button class="reply" color="primary" (click)="backClicked()">
            <md-icon>reply</md-icon> Back
        </a>
        <h5>
            <b>Time Logs</b>
        </h5>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h5>
            <b>Date: </b> {{ofDate | date}}
        </h5>
    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="employee?.isProcessing || logs?.isLoading || attendances?.isLoading || timeLog?.isProcessing"
    mode="indeterminate"></md-spinner>
<br>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <md-card>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 capitalize">
                    <h4>{{employee?.properties?.name}}</h4>
                    <h5>{{employee?.properties?.code}}</h5>
                    <h5>{{employee?.properties?.designation}}</h5>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row profileImage">
                        <img *ngIf="employee?.properties?.picUrl" [src]="employee?.properties?.picUrl" width="100%" onError="this.src='/assets/images/blank.png'">
                        <img *ngIf="!employee?.properties?.picUrl" alt="img" src="assets/images/blank.png" width="100%">
                    </div>
                </div>
                <br>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table">
                        <tr>
                            <td> Shift : </td>
                            <td> {{ (attendance?.shift?.shiftType.name || employee?.properties?.shiftType?.name)| titlecase}}
                                <span *ngIf="extraShiftCount !== 0">+ {{extraShiftCount}} Shift(s)</span>
                            </td>
                        </tr>
                        <tr class="capitalize">
                            <td> Shift Time: </td>
                            <td> {{(attendance?.shift?.shiftType || employee?.properties?.shiftType)?.startTime | date:'shortTime'}}
                                - {{(attendance?.shift?.shiftType || employee?.properties?.shiftType)?.endTime | date:'shortTime'}}</td>
                        </tr>
                        <tr class="capitalize">
                            <td> CheckIn : </td>
                            <td> {{attendance?.checkIn | date: 'shortTime'}}</td>
                        </tr>
                        <tr class="capitalize">
                            <td> CheckOut : </td>
                            <td> {{attendance?.checkOut | date: 'shortTime'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </md-card>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div>
            <md-card>
                <div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead class="primary_thead">
                                <tr>
                                    <th class="text-center">NextDay</th>
                                    <th class="text-center">Time</th>
                                    <th class="text-center">Type</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="attendance">

                                <tr class="capitalize" *ngFor="let item of attendance.timeLogs;">
                                    <td class="text-center">
                                        <md-checkbox type="checkbox" *ngIf="item?.time > ofDate" [disabled]="item"></md-checkbox>
                                        <md-checkbox type="checkbox" *ngIf="item?.time < ofDate" [(ngModel)]="checkedDate" [disabled]="item"></md-checkbox>
                                    </td>
                                    <!-- <td class="text-center" *ngIf="!item?.location?.show && item">{{item?.time | date: 'dd MM yyyy' || '--'}}</td> -->
                                    <td class="text-center" *ngIf="!item?.location?.show && item">{{item?.time | date: 'h:mm a' || '--'}}</td>
                                    <td class="text-center" *ngIf="!item?.location?.show && item.type =='checkIn'">In</td>
                                    <td class="text-center" *ngIf="!item?.location?.show && item.type =='checkOut'">Out</td>
                                </tr>
                                <tr *ngFor="let item of addAttendanceLogs">
                                    <td class="text-center">
                                        <md-checkbox type="checkbox" [(ngModel)]="item.day"></md-checkbox>
                                    </td>
                                    <td class="text-center">
                                        <input class="form-control" type="time" [(ngModel)]="item.time" required>
                                    </td>
                                    <td class="text-center" *ngIf="item.type == 'checkIn'">In</td>
                                    <td class="text-center" *ngIf="item.type == 'checkOut'">Out</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center">

                                    </td>
                                    <td>
                                        <a md-icon-button mdTooltip="New Row" [mdTooltipPosition]="'above'" (click)="addNewRow()" style="float: right">
                                            <md-icon>add_circle_outline</md-icon>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button md-raised-button color="primary" (click)="updateLogs()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>