<div class="tool-bar controls-row">
  <h5>Time Logs</h5>
  <span class="spacer"></span>
  <button md-icon-button (click)="showPreviousDate()">
    <md-icon>arrow_back</md-icon>
  </button>
  <button md-button [routerLink]="[ '/attendances/monthly', employee?.properties?.id ]">{{ofDate | date}}</button>
  <button md-icon-button (click)="showNextDate()">
    <md-icon>arrow_forward</md-icon>
  </button>
  <span class="spacer"></span>
  <a md-icon-button (click)="backClicked()">
    <md-icon>close</md-icon>
  </a>
</div>
<md-spinner class="custom_spinner" *ngIf="employee?.isProcessing || logs?.isLoading || attendances?.isLoading || timeLog?.isProcessing || isProcessing"
  mode="indeterminate"></md-spinner>
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <md-card>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 capitalize">
          <h4>{{employee?.properties?.name}}</h4>
          <h5>{{employee?.properties?.code}}</h5>
          <h5>{{employee?.properties?.designation}}</h5>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row profileImage">
            <img *ngIf="employee?.properties?.picUrl" [src]="employee?.properties?.picUrl" width="100%" onError="this.src='/assets/images/blank.png'">
            <img *ngIf="!employee?.properties?.picUrl" alt="img" src="assets/images/blank.png" width="100%">
          </div>
        </div>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table">
            <tr>
              <td>Status: </td>
              <td>
                <aqua-attendance-status *ngIf="attendance" [attendance]="attendance"></aqua-attendance-status>
              </td>
            </tr>
            <tr>
              <td> Shift : </td>
              <td>
                <div class="controls-row footer">
                  <div>{{ (attendance?.shift?.shiftType?.name || employee?.properties?.shiftType?.name)| titlecase}}
                    <p class="sub-text" *ngIf="extraShiftCount !== 0">+ {{extraShiftCount}} Shift(s)</p>
                  </div>
                  <span class="spacer"></span>
                  <button [matMenuTriggerFor]="moreMenu" class="subtle" md-icon-button>
                    <md-icon>more_vert</md-icon>
                  </button>
                  <md-menu #moreMenu="mdMenu">
                    <button *ngIf="auth.hasPermission('superadmin')" md-menu-item (click)="repair()">
                      <md-icon>build</md-icon> Rebuild
                    </button>
                    <button *ngIf="auth.hasPermission('superadmin')" md-menu-item (click)="runOvertimeRules()">
                      <md-icon>play_arrow</md-icon> Overtime Rules
                    </button>
                  </md-menu>
                </div>
              </td>
            </tr>
            <tr>
              <td>Shift Time:</td>
              <td> {{(attendance?.shift?.shiftType || employee?.properties?.shiftType)?.startTime | date:'shortTime'}}
                - {{(attendance?.shift?.shiftType || employee?.properties?.shiftType)?.endTime | date:'shortTime'}}</td>
            </tr>
            <tr>
              <td>CheckIn:</td>
              <td>
                <aqua-check-in *ngIf="attendance" [attendance]="attendance"></aqua-check-in>
              </td>
            </tr>
            <tr>
              <td>CheckOut:</td>
              <td>
                <aqua-check-out *ngIf="attendance" [attendance]="attendance"></aqua-check-out>
                <span *ngIf="attendance?.overTime" class="sub-text">{{attendance?.overTime}} minutes</span>
              </td>
            </tr>
            <tr *ngIf="logsSource">
              <td>Shift Continued </td>
              <td></td>
            </tr>
            <tr class="capitalize" *ngIf="!logsSource">
              <td>Shift Extended: </td>
              <td>{{attendance?.checkOutExtend | date: 'shortTime'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </md-card>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <md-card class="table-only">

      <table class="table table-condensed table-hover">
        <thead class="primary_thead">
          <tr>
            <th width="20%" class="text-center">Day</th>
            <th width="20%" class="text-center">Time</th>
            <th width="10%" class="text-center">Type</th>
            <th width="25%" class="text-center">Source</th>
            <th width="20%" class="text-center"></th>
          </tr>
        </thead>

        <tbody *ngIf="attendance">
          <tr class="capitalize" *ngFor="let item of attendance.timeLogs;index as i" [class.ignored]="item.ignore">
            <td class="text-center" *ngIf="!item?.location?.show && item">{{item?.time | date: 'dd-MM-yyyy' ||
              '--'}}</td>
            <td class="text-center" *ngIf="!item?.location?.show && item">{{item?.time | date: 'h:mm a' ||
              '--'}}</td>
            <td class="text-center" *ngIf="!item?.location?.show && (timeLogsLength != 1 || !item?.isComputed)">
              <span *ngIf="item.type =='checkIn'">In</span>
              <span *ngIf="item.type =='checkOut'">Out</span>
              <span *ngIf="item.isComputed">*</span>
            </td>
            <td class="text-center" *ngIf="!item?.location?.show">
              <div>{{item.device && item.device.name ? item.device.name:item.ipAddress}}</div>
              <span class="sub-text" *ngIf="item.source === 'system'">Continued</span>
              <span class="sub-text" *ngIf="item.source !== 'system'">{{item.source}}</span>
            </td>
            <td class="text-center" *ngIf="!item?.location?.show">
              <button [matMenuTriggerFor]="moreMenu" md-icon-button class="subtle" *ngIf="auth.hasPermission('superadmin')">
                <md-icon>more_vert</md-icon>
              </button>
              <md-menu #moreMenu="mdMenu">
                <button md-menu-item (click)="moveNext(item)" *ngIf="!item.ignore && i == timeLogsLength - 1">
                  <md-icon>arrow_forward</md-icon> Move to Next
                </button>
                <button md-menu-item (click)="movePrevious(item)" *ngIf="!item.ignore && i == 0">
                  <md-icon>arrow_back</md-icon> Move to Previous
                </button>
                <button md-menu-item *ngIf="!item.ignore" (click)="ignore(item, true)">
                  <md-icon>remove_circle_outline</md-icon> Ignore
                </button>
                <button md-menu-item *ngIf="item.ignore" (click)="ignore(item, false)">
                  <md-icon>add_circle_outline</md-icon> Include
                </button>
                <button md-menu-item *ngIf="!item.ignore && item.type === 'checkIn'" (click)="setType(item, 'checkOut')">
                  <md-icon>compare_arrows</md-icon> Set Check Out
                </button>
                <button md-menu-item *ngIf="!item.ignore && item.type === 'checkOut'" (click)="setType(item, 'checkIn')">
                  <md-icon>compare_arrows</md-icon> Set Check In
                </button>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </md-card>
    <span class="foot-note">* system calculated</span>
    <div class="controls-row footer">
      <span class="spacer"></span>
      <button *ngIf="auth.hasPermission('superadmin')" md-raised-button (click)="addLogs()">
        Add Logs
      </button>
    </div>
  </div>
</div>
