<form class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="email">Name</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input [maxlength]="validatorService.textLength" type="text" class="form-control" [(ngModel)]="selectedEmployeeName" name="Name">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="pwd">Code</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input [maxlength]="validatorService.textLength" type="text" class="form-control" [(ngModel)]="selectedEmployeeCode" name="Code">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label>Shift</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control" [(ngModel)]="selectedShiftType" placeholder="Shift" name="shift">
                  <option *ngFor="let item of shiftTypes.items" [value]="item">
                      {{item?.name}}
                  </option>
              </select>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group" *ngIf="!hidden.attendanceStatus">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 formSets">
                <label class="setStatus">Status</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control boxStatus" [(ngModel)]="selectedAttendanceStatus" placeholder="Status" name="Status">
                  <option value="">All</option>
                  <option value="present">Present</option>
                  <option value="absent">Absent</option>
                  <option value="missSwipe">Missed Swipe</option>
                  <option value="halfday">Half Day</option>
                  <option value="onLeave">On Leave</option>
              </select>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group" *ngFor="let item of tagTypes?.items">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label>{{item?.name | titlecase}}</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control" #tag (change)="tags.reset();tags.select({tagTypeId:item.id,tagId:tag.value})" placeholder="Tag" name="tags">
                  <option selected [ngValue]="null">select an option</option>
                  <option *ngFor="let tag of item?.tags" [value]="tag.id">
                      {{tag?.name | titlecase}}
                  </option>
              </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="button_align form-group">
            <button md-raised-button color="primary" mdTooltip="Apply" [mdTooltipPosition]="'above'" (click)="apply()">Apply</button>
            <button md-raised-button mdTooltip="Reset" [mdTooltipPosition]="'above'" (click)="reset()">Reset</button>
        </div>
    </div>
</form>