label {
    width: 55px;
}

input {
    width: 200px;
}

.filters {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -14px;
    margin-right: -11px;
}

.form-group {
    padding: 0 5px;
}

label.section {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    color: #a1a1a1;
    font-weight: 100;
}

.tags {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.row {
    min-width: 33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px
}

@media only screen and (max-width: 600px) {
    .row {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px
    }
}

.tags {
    box-shadow: 0px;
    height: 34px !important;
}

.filterTag {
    width: 33%
}
