<div class="row page_header">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>
            <b>Team Attendance</b>
        </h5>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="headerInpts">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Select Date</span>
                <input id="dateSelector" type="text" class="form-control input-sm calendar no-spin">

                <!--<input class="form-control input-sm calendar no-spin" type="date" [disabled]="dailyAttendnace?.isLoading   " [ngModel]="date  | date:'yyyy-MM-dd'" (ngModelChange)="date = $event;getAttendance($event)" aria-describedby="basic-addon1">-->
            </div>
        </div>
        <div class="headerBtns ">
            <button [disabled]="dailyAttendnace?.isLoading || employee?.isProcessing" md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters"
                class="marginLetf" [mdTooltipPosition]="'above'">
                <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
            </button>
            <!-- <button [disabled]="dailyAttendnace?.isLoading   || employee?.isProcessing" [mdMenuTriggerFor]="appMenu" md-icon-button><md-icon>cloud_download</md-icon> </button>
            <md-menu #appMenu="mdMenu">
                <button md-menu-item (click)="download(true,false,'Extra hours - after Shift end time')">Extra hours - after Shift end time</button>
                <button md-menu-item (click)="download(false,true,'Extra hours - after Shift hours')">Extra hours - after Shift hours
                </button>
                <button md-menu-item (click)="download(false,false, 'Day Attendance')">Day's Attendance</button>
            </md-menu> -->
            <!-- <button [disabled]="dailyAttendnace?.isLoading   || employee?.isProcessing" md-icon-button mdTooltip="Download Attendance extraHours" [mdTooltipPosition]="'above'" (click)="download(true)"><md-icon>cloud_download</md-icon> </button>
            <button [disabled]="dailyAttendnace?.isLoading   || employee?.isProcessing" md-icon-button mdTooltip="Download Attendance" [mdTooltipPosition]="'above'" (click)="download(false)" angulartics2On="click" angularticsEvent="dialyAttendnaceDownloadClick"
                angularticsCategory="dialyAttendnace" [angularticsProperties]="{label: 'Fall Campaign'}"><md-icon >cloud_download</md-icon></button> -->
        </div>

    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="dailyAttendnace?.isLoading  " mode="indeterminate"></md-spinner>


<div class="row" *ngIf="isFilter">
    <md-card class="card">
        <div class="row text-center headr_bar">
            <h5>
                <b>Filters</b>
            </h5>
            <div class="actionBtns">
                <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter">
                    <md-icon>highlight_off</md-icon>
                </button>
            </div>
        </div>
        <br>
        <form class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="email">Name</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="dailyAttendnace?.isLoading   "
                            [(ngModel)]="dailyAttendnace.filters.properties['name']['value']" name="Name">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="pwd">Code</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="dailyAttendnace?.isLoading   "
                            [(ngModel)]="dailyAttendnace.filters.properties['code']['value']" name="Code">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Shift</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" [disabled]="dailyAttendnace?.isLoading   " [(ngModel)]="dailyAttendnace.filters.properties['shiftTypeId']['value']"
                            placeholder="Shift" name="shift">
                            <option *ngFor="let item of shiftTypes.items" [value]="item.id">
                                {{item?.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 formSets">
                        <label class="setStatus">Status</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control boxStatus" [disabled]="dailyAttendnace?.isLoading   " [(ngModel)]="dailyAttendnace.filters.properties['status']['value']"
                            placeholder="Status" name="Status">
                            <option value="">All</option>
                            <option value="present">Present</option>
                            <option value="absent">Absent</option>
                            <option value="missSwipe">Missed Swipe</option>
                            <option value="halfday">Half Day</option>
                            <option value="onLeave">On Leave</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group" *ngFor="let item of tagTypes?.items">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>{{item?.name | titlecase}}</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" [disabled]="dailyAttendnace?.isLoading   " #tag (change)="tags.reset();tags.select({tagTypeId:item.id,tagId:tag.value})"
                            placeholder="Tag" name="tags">
                            <option selected [ngValue]="null">select an option</option>
                            <option *ngFor="let tag of item?.tags" [value]="tag.id">
                                {{tag?.name | titlecase}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 chipsBadge form-group">
                <span *ngFor="let item of selectedTags;let i = index" class="badge badge-pill badge-dark"> {{item?.name | titlecase}}&nbsp;<i (click)="removeChip(i)" class="fa fa-times" aria-hidden="true"></i></span>
            </div> -->
                <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 formSets">
                        <label class="setStatus">Department</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control boxStatus" [disabled]="dailyAttendnace?.isLoading   " [(ngModel)]="dailyAttendnace.filters.properties['status']['value']" placeholder="Status" name="Status">
                        <option value="">All</option>
                        <option value="present">Present</option>
                        <option value="absent">Absent</option>
                        <option value="missSwipe">Missed Swipe</option>
                        <option value="halfday">Half Day</option>
                        <option value="onLeave">On Leave</option>
                        </select>
                    </div>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 button_align form-group">
                        <button [disabled]="dailyAttendnace?.isLoading" md-raised-button color="primary" mdTooltip="Apply" [mdTooltipPosition]="'above'"
                            (click)="getAttendance(dailyAttendnace.filters.properties['ofDate']['value']);">Apply</button>
                        <button [disabled]="dailyAttendnace?.isLoading" md-raised-button class="btn_grey" mdTooltip="Reset" [mdTooltipPosition]="'above'"
                            (click)="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </md-card>
</div>

<div class="row">
    <md-card class="card">
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead class="primary_thead">
                    <tr>
                        <th class="td">Name</th>
                        <th class="tdWidth">Code</th>
                        <th class="tdWidth">Status</th>
                        <th class="tdWidth">Designation</th>
                        <th class="tdWidth">Department</th>
                        <th class="tdWidth">Check In</th>
                        <th class="tdWidth">Check Out</th>
                        <th class="tdWidth">Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dailyAttendnace.items">
                        <td>
                            <img *ngIf="item?.picUrl" class="img-circle profile_pic" alt="img" [src]="item?.picUrl" onError="this.src='/assets/images/blank.png'">
                            <img *ngIf="!item?.picUrl" class="img-circle profile_pic" alt="img" src="assets/images/blank.png"> &nbsp;
                            <a (click)="mypage(item.id)">{{item?.name || '--'}}</a>
                        </td>
                        <td class="tdWidth">{{item?.code || '--'}}</td>
                        <td class="tdWidth">
                            <ng-template #elsePart>
                                <span>{{item?.attendance?.status?.toLowerCase() == 'checkedin' ? 'Present' : item?.attendance?.status}}</span>
                            </ng-template>
                            <span *ngIf="item?.attendance?.status == 'absent' && (item?.attendance?.shift?.status === 'weekOff' || item?.attendance?.shift?.status === 'holiday'); else elsePart">{{item?.attendance?.shift?.status | titlecase}}</span>
                        </td>
                        <td class="tdWidth">{{item?.designation || '--'}}</td>
                        <td class="tdWidth">{{item?.department || '--'}}</td>
                        <td class="tdWidth">{{(item?.attendance?.checkIn | date:'shortTime') || '--'}}</td>
                        <td class="tdWidth">{{(item?.attendance?.checkOut | date:'shortTime') || '--'}}</td>
                        <td class="tdWidth">
                            <a (click)="myTeam(item.id)" *ngIf="item?.team?.total != 0">Team</a>
                            <span *ngIf="item?.team?.total == 0">--</span>
                        </td>
                        <td class="tdWidth"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </md-card>
</div>