<md-spinner class="custom_spinner" *ngIf="isProcessing" mode="indeterminate"></md-spinner>
<div class="shift" [class.hasValue]="selectedShiftType && !isDynamic" [class.continue]="!selectedShiftType || isDynamic" [style.border-color]="shiftColour()">
    <button [mdMenuTriggerFor]="dayMenu" class="display-text" [disabled]="isProcessing" (click)="getMenuItems()">
        <ng-container *ngIf="!isPast">
            <div *ngIf="isDynamic" [class.compressed]="isOff && leave">
                <span *ngIf="!isOff && !leave" class="name" mdTooltip="Shift is same as previous day">&raquo;</span>
                <span *ngIf="leave" class="badge info"  [class.first]="leaveSummary.first" [class.second]="leaveSummary.second">{{leaveSummary.code}}<span *ngIf="leaveSummary.status === 'submitted'" class="asterisk">*</span></span>
                <span *ngIf="isOff" class="badge" mdTooltip="Off Day">Off</span>
            </div>
            <div *ngIf="!isDynamic" [class.compressed]="(isOff && leave) || (isOff && selectedShiftType) || (leave && selectedShiftType)">
                <span *ngIf="!isOff && !leave && !selectedShiftType" class="name" mdTooltip="Shift is same as previous day">&raquo;</span>
                <span *ngIf="selectedShiftType" class="name info" mdTooltip="New shift starts from this day"> {{selectedShiftType.name}} </span>
                <span *ngIf="leave" class="badge info"  [class.first]="leaveSummary.first" [class.second]="leaveSummary.second" mdTooltip="Reason: {{leaveSummary.reason}}">{{leaveSummary.code}}<span *ngIf="leaveSummary.status === 'submitted'" class="asterisk">*</span></span>
                <span *ngIf="isOff" class="badge" mdTooltip="Off Day">Off</span>
            </div>
        </ng-container>
        <ng-container *ngIf="isPast" [ngSwitch]="daySummary.status">        
            <span *ngIf="selectedShiftType" class="name info" mdTooltip="New shift starts from this day"> {{selectedShiftType.name}}</span>
            <br *ngIf="selectedShiftType">
            <span *ngSwitchCase="'present'"  class="name" [class.sub-text]="selectedShiftType" mdTooltip="Present (In: {{daySummary.attendance.checkIn| date: 'HH:MM'}}, Out: {{daySummary.attendance.checkOut| date: 'HH:MM'}})">&#10003;</span>
            <span *ngSwitchCase="'missSwipe'" class="name warn" [class.sub-text]="selectedShiftType" mdTooltip="Missed Swipe">M</span>
            <span *ngSwitchCase="'absent'" class="name warn" [class.sub-text]="selectedShiftType" mdTooltip="Absent">A</span>
            <span *ngSwitchCase="'weekOff'" class="badge" mdTooltip="Off Day">Off</span>
            <div *ngSwitchCase="'onLeave'" class="badge info" [class.first]="leaveSummary.first" [class.second]="leaveSummary.second" mdTooltip="Reason: {{leaveSummary.reason}}" >{{leaveSummary.code}}<span *ngIf="leaveSummary.status === 'submitted'" class="asterisk">*</span></div>
        </ng-container>
    </button>
    <md-menu #dayMenu="mdMenu">
        <button md-menu-item [disabled]="leave || isProcessing || !onDutyBalance" (click)="setOnDuty()">On Duty</button>
        <button md-menu-item [disabled]="leave || isProcessing || !compOffBalance" (click)="setCompOff()">Comp Off</button>
        <button md-menu-item [mdMenuTriggerFor]="offOptions">Weekly Off</button>
        <button md-menu-item [mdMenuTriggerFor]="leaveOptions" [disabled]="isProcessing">Apply Leave</button>
        <button md-menu-item [mdMenuTriggerFor]="shiftOptions" [disabled]="isDynamic || isPast" (click)="stopPropagation($event)">Shifts</button>
    </md-menu>
    <md-menu #offOptions="mdMenu" class="off" xPosition="after" [overlapTrigger]="false">
        <button md-menu-item [disabled]="isPast" (click)="setWeeklyOff()">
            <span>Every Week</span>
            <md-slide-toggle [disabled]="isPast" [checked]="isWeeklyOff"></md-slide-toggle>
        </button>
        <button md-menu-item [disabled]="leave" (click)="setDayOff()">
            <span>This Week</span>
            <md-slide-toggle [checked]="isDayOff"></md-slide-toggle>
        </button>
    </md-menu>
    <md-menu #leaveOptions="mdMenu" class="leaves" xPosition="after" [overlapTrigger]="false">
        <button md-menu-item [disabled]="!leave" (click)="resetLeave()">Remove</button>
        <md-divider *ngIf="leaveBalances.length"></md-divider>
        <ng-container *ngIf="leaveBalances.length">
            <button *ngFor="let leaveBalance of leaveBalances" md-menu-item (click)="applyLeave(leaveBalance)">
              <span>{{leaveBalance.leaveType.name}}({{leaveBalance.days}})</span>
            </button>
        </ng-container>
    </md-menu>
    <md-menu #shiftOptions="mdMenu" class="shifts" xPosition="after" [overlapTrigger]="false">
        <button md-menu-item (click)="resetShift()">Remove</button>
        <md-divider></md-divider>
        <ng-container *ngIf="shiftTypes.length > 5">
            <div>
                <input class="search" placeholder="Search Shifts" [(ngModel)]="shiftSearch" (click)="stopPropagation($event)">
            </div>
        </ng-container>
        <div class="shifts">
            <button md-menu-item *ngFor="let shiftType of shiftTypes| shiftTypeFilter: shiftSearch" (click)="selectShift(shiftType)">
                <span>{{shiftType.name}}</span>
            </button>
        </div>
    </md-menu>
</div>