<div *ngIf="isShow" [style.border-color]="shiftColour()">
    <select [(ngModel)]="selectedShiftType" class="selectStyle semi-square" (ngModelChange)="onShiftChange($event)">
    <option *ngFor="let shiftType of shiftTypes" [ngValue]="shiftType">{{shiftType.name}}</option>
</select>
</div>
<div *ngIf="!isShow" [style.border-color]="shiftColour()">
    <select [(ngModel)]="selectedShiftType" class="styled-select" (ngModelChange)="onShiftChange($event)">
    <option *ngFor="let shiftType of shiftTypes" [ngValue]="shiftType">{{shiftType.name}}</option>
</select>
</div>