
<div *ngIf="isShow">
    <select [(ngModel)]="effectiveShift.shiftType" class="selectStyle semi-square"
        (ngModelChange)="onShiftChange($event)">
        <option *ngFor="let shiftType of shiftTypes" [ngValue]="shiftType">{{shiftType.name}}</option>
    </select>
</div>

<div *ngIf="!isShow">
    <select [(ngModel)]="effectiveShift.shiftType" class="styled-select" (ngModelChange)="onShiftChange($event)">
        <option *ngFor="let shiftType of shiftTypes" [ngValue]="shiftType">{{shiftType.name}}</option>
    </select>

</div>


   


