<md-spinner class="custom_spinner" *ngIf="isProcessing" mode="indeterminate"></md-spinner>





<!-- <div class="row setup_signupBox text-center"> -->
<div *ngIf="section == 'COMPLETE'" class="row setup_signupBox text-center">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="otp_leftBox">
      <div class="row">
        <img src="assets/images/splash_logo.png" alt="logo">
      </div>
      <div class="row text-center">
        <h3>Sign Up</h3>
        <p>Step Ahead to enjoy AQUA Teams</p>
        <p>A Complete HR Solutions</p>
      </div>
    </div>

  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="row setup_rightBox borderBox">
      <div class="row text-center">
        <h2><b>Sign Up</b></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 setupForm">
        <form #setupProfileForm="ngForm">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" placeholder="Give us your Name" name="empName" class="form-control" [(ngModel)]="profileModel.name"
              [maxlength]="validatorService.textLength" required>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" placeholder="Give us the name of your Organization" name="orgName" class="form-control"
              [(ngModel)]="profileModel.organization.name" [maxlength]="validatorService.textLength" required>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" placeholder="Set your Organization code.Like MSAS For Mindful System and Solution" name="orgCode"
              class="form-control" [(ngModel)]="profileModel.organization.code" [maxlength]="validatorService.textLength"
              required>
          </div>
        </form>
      </div>
      <br>
      <br>
      <br>
      <div class="row text-center">
        <button type="submit" class="btn btn_proceed" [disabled]="isProcessing || setupProfileForm.invalid" (click)="setupProfile(password2.value)"
          angulartics2On="click" angularticsEvent="CompleteSignup" angularticsCategory="signup" [angularticsProperties]="{label: 'Orgcode '+profileModel.organization.code}"><b>PROCEED</b></button>
      </div>
      <br>
    </div>
  </div>
</div>
