/* .otp_signupBox {
    margin: 8% 4% 0% 4%;
}

.setup_signupBox {
    margin: 3% 4% 0% 4%;
}

.signinBox {
    margin: 3% 4% 0% 4%;
} */

.signinBox,
.setup_signupBox,
.otp_signupBox {
    width: 65%;
    margin: 0 auto;
    margin-top: 4%;
}

.otp_leftBox {
    padding: 14% 0;
    background-color: #3f4766;
    color: white;
    width: 110%;
    margin: 29% 0% 15% -4%;
}

.otp_leftBox img {
    width: 30%;
    margin: 4% 0;
}

.sigin_rightBox {
    padding: 6% 0;
    margin-top: 7%;
}

.forgot_rightBox {
    padding: 6% 0;
    margin-top: 4%;
}

.otp_rightBox {
    padding: 2% 0;
    margin-top: 3%;
}

.setup_rightBox {
    margin-top: 4%;
}

.otp_rightBox p {
    color: grey;
}

.otp_inputBoxes {
    padding: 1% 9% 2% 9%;
}

.otp_inputBoxes input {
    border-radius: 0px !important;
    font-size: 205%;
    padding: 37%;
    background-color: #eaeaea;
}

.btn_proceed {
    width: 36%;
    background-color: #00bbd3;
    color: white;
    outline: none;
    border: 1px solid #00bbd3;
    border-radius: 0;
}

.setupForm {
    padding: 1% 8%;
}

.setupForm input,
.setupForm select {
    border-radius: 0;
    margin-bottom: 1%;
    background-color: #ffffff;
    border: 1px solid #ccc9c9;
}

.linksBtn {
    color: #00bbd3 !important;
    background: transparent;
    border: none;
    outline: none;
}

.reset_rightBox {
    padding: 0% 0;
}