<div class="tool-bar controls-row">
  <h5>Leave Balances</h5>
  <span class="spacer"></span>
  <button md-icon-button (click)="leaveBalances.showPrevious()" [disabled]="!leaveBalances.previousEnabled">
    <md-icon>chevron_left</md-icon>
  </button>
  <button md-icon-button (click)="leaveBalances.fetch()">
    <md-icon>loop</md-icon>
  </button>
  <button md-icon-button (click)="leaveBalances.showNext()" [disabled]="!leaveBalances.nextEnabled">
    <md-icon>chevron_right</md-icon>
  </button>
  <span class="spacer"></span>

  <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'">
    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button md-menu-item>
      <md-icon>cloud_upload</md-icon>
      Upload
    </button>
    <button md-menu-item [routerLink]="['/reports', 'leaves', 'balances']">
      <md-icon>cloud_download</md-icon>
      Report
    </button>
  </md-menu>
</div>

<md-spinner class="custom_spinner" *ngIf="leaveBalances.isLoading || isProcessing" mode="indeterminate"></md-spinner>
<aqua-employees-filter *ngIf="isFilter" [fields]="filterFields" (onReset)="reset()" (onChange)="applyFilters($event)"></aqua-employees-filter>

<md-card class="card">
  <table class="table table-condensed table-hover">
    <thead class="primary_thead">
      <tr>
        <th class="user-summary">Employee</th>
        <th class="tdWidth" *ngFor="let item of leaveTypes.items">
          <div class="controls-row">
            <span>{{item?.name}}</span>
            <button class="subtle" *ngIf="!item.unlimited && auth.hasPermission('superadmin')" [disabled]="item.isProcessing"
              md-icon-button (click)="grant(item)">
              <md-icon>add_circle_outline</md-icon>
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaveBalances.items | paginate: { id: 'foo',
                                                      itemsPerPage: leaveBalances.pageSize,
                                                      currentPage: leaveBalances.pageNo,
                                                      totalItems: leaveBalances.totalRecords };">

        <td>

          <div class="cols">
            <div>
              <img *ngIf="item?.picUrl" class="img-circle img-profile" alt="img" [src]="item?.picUrl" onError="this.src='/assets/images/blank.png'">
              <img *ngIf="!item?.picUrl" class="img-circle img-profile" alt="img" src="assets/images/blank.png">
            </div>
            <div>
              <a *ngIf="auth.hasPermission('superadmin')" [routerLink]="[ '/', 'employees', item?.code]">{{item?.name
                || '--'}}</a>
              <span *ngIf="!auth.hasPermission('superadmin')">{{item?.name || '--'}}</span>
              <p class="sub-text">{{item?.code || ''}}</p>
            </div>
          </div>
        </td>
        <td *ngFor="let lb of item?.leaveBalances">
          <span *ngIf="lb.leaveType.unlimited">∞</span>
          <button md-icon-button *ngIf="!lb.leaveType.unlimited" (click)="explain(lb)" class="text-center">{{lb.days}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</md-card>
<label class="full">Total: {{leaveBalances.totalRecords}}</label>
<pagination-controls id="foo" (pageChange)="leaveBalances.pageNo = $event;fetchLeaveBalances();"></pagination-controls>
<div class="pageSize">
  <label>Page Size:</label>
  <select name="pageSize" [(ngModel)]="leaveBalances.pageSize" (change)="leaveBalances.pageNo = 1;fetchLeaveBalances();">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>
