<div class="tool-bar controls-row">
  <h5>Leave Balances</h5>
  <span class="spacer"></span>
  <div class="input-group">
    <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="leaveBalances.isLoading  || isUpdatingLeave"
      [(ngModel)]="leaveBalances.filters.properties['name']['value']" name="Name" placeholder="Search by employee name">
    <span class="input-group-btn">
      <button [disabled]="leaveBalances.isLoading  || isUpdatingLeave" class="btn btn-default" type="submit" (click)="fetchLeaveBalances()">Search</button>
    </span>
  </div>
</div>

<md-spinner class="custom_spinner" *ngIf="leaveBalances.isLoading || isUpdatingLeave" mode="indeterminate"></md-spinner>
<div class="row" *ngIf="isFilter">
  <md-card class="card">
    <div class="row text-center headr_bar">
      <h5><b>Filters</b></h5>
      <div class="actionBtns">
        <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter">
          <md-icon>highlight_off</md-icon>
        </button>
      </div>
    </div>
    <br>
    <form class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <label for="email">Name</label>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <!--<input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="leaveBalances.isLoading  || isUpdatingLeave" [(ngModel)]="leaveBalances.filters.properties['name']['value']" name="Name">-->
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <label for="pwd">Code</label>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <!--<input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="leaveBalances.isLoading  || isUpdatingLeave" [(ngModel)]="leaveBalances.filters.properties['code']['value']" name="Code">-->
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <label>Shift</label>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <!--<select class="form-control" [disabled]="leaveBalances.isLoading  || isUpdatingLeave" [(ngModel)]="leaveBalances.filters.properties['shiftType']['value']" placeholder="Shift" name="shift">
                   <option *ngFor="let item of shiftTypes.items" [value]="item.id">
                    {{item?.name}}
                </option>
                </select>-->
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 button_align form-group text-center">
        <button [disabled]="leaveBalances.isLoading || isUpdatingLeave" md-mini-fab color="primary" mdTooltip="Apply"
          [mdTooltipPosition]="'above'" (click)="fetchLeaveBalances()">
          <md-icon>done</md-icon>
        </button>
        <button [disabled]="leaveBalances.isLoading || isUpdatingLeave" md-mini-fab color="primary" mdTooltip="Reset"
          [mdTooltipPosition]="'above'" (click)="reset()">
          <md-icon>undo</md-icon>
        </button>
      </div>
    </form>
  </md-card>
</div>
<div class="row">
  <md-card class="card">
    <table class="table table-condensed table-hover">
      <thead class="primary_thead">
        <tr>
          <th>Name</th>
          <th class="tdWidth">Code</th>
          <th class="tdWidth capitalize" *ngFor="let item of leaveTypes.items">{{item?.name}}</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of leaveBalances.items | paginate: { id: 'foo',
                                                      itemsPerPage: leaveBalances.pageSize,
                                                      currentPage: leaveBalances.pageNo,
                                                      totalItems: leaveBalances.totalRecords };"
          class="capitalize">

          <td>
            <!--<img *ngIf="item?.picUrl" class="img-circle img-profile" alt="img" [src]="item?.picUrl">-->
            <!--<img *ngIf="!item?.picUrl" class="img-circle img-profile" alt="img" src="assets/images/blank.png"> &nbsp;-->
            <a [routerLink]="['/employees', item.code]">{{item?.name}}</a>
          </td>
          <td class="tdWidth">
            {{item?.code}}
          </td>
          <td *ngFor="let lb of item?.leaveBalances">
            <input *ngIf="!lb.leaveType.unlimited" type="text" maxlength="4" [name]="lb.days" [readOnly]="leaveBalances.isLoading || isUpdatingLeave || !item?.isEdit"
              class="number form-control input-xs" [(ngModel)]="lb.days">
            <span *ngIf="lb.leaveType.unlimited">∞</span>
          </td>
          <td class="btnClmWidth">
            <button *ngIf="!item?.isEdit" md-icon-button class="button_align cursor" mdTooltip="Edit"
              [mdTooltipPosition]="'above'" (click)="toggleLaveBalnce(item, true)">
              <md-icon>edit</md-icon>
            </button>
            <button *ngIf="item?.isEdit" [disabled]="leaveBalances.isLoading || isUpdatingLeave" md-icon-button class="button_align cursor "
              (click)="updateLeaveBalance(item)" mdTooltip="Save" [mdTooltipPosition]="'above'">
              <md-icon>save</md-icon>
            </button>
            <button *ngIf="item?.isEdit" [disabled]="leaveBalances.isLoading || isUpdatingLeave" md-icon-button class="button_align cursor"
              (click)="toggleLaveBalnce(item, false)" mdTooltip="Cancel" [mdTooltipPosition]="'above'">
              <md-icon>undo</md-icon>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="custom_pagination">
        <pagination-controls id="foo" (pageChange)="leaveBalances.pageNo = $event;fetchLeaveBalances();"></pagination-controls>
        <div class="pageSize">
          <label>Page Size:</label>
          <select name="pageSize" [(ngModel)]="leaveBalances.pageSize" (change)="leaveBalances.pageNo = 1;fetchLeaveBalances();">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </md-card>
</div>
