.profile_pic {
    width: 33px;
    height: 33px;
}

.tdWidth {
    width: 11%;
    /*text-align: center;*/
}

.setButton{
    margin-left: 0%;
}
/* .apporve {
    color: green !important;
}

.reject {
    color: red !important;
} */