.profile_pic {
    width: 33px;
    height: 33px;
}

.tdWidth {
    width: 11%;
    /*text-align: center;*/
}

.filerRow {
    width: 100%;
}

.setButton {
    margin-left: 0%;
}

.chipsBadge {
    padding: 0px 2%;
}

.chipsBadge span {
    font-weight: 100;
}

.chipsBadge i {
    font-weight: 100;
    cursor: pointer;
}