<div class="row page_header">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5><b>All Leaves</b></h5>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <!--<div class="headerInpts">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Select Date</span>
                <input class="form-control input-sm calendar no-spin" type="date" [disabled]="leaves?.isLoading  || isUpdatingLeaveStatus" [ngModel]="date  | date:'yyyy-MM-dd'" (ngModelChange)="date = $event;getAttendance($event)" aria-describedby="basic-addon1">
            </div>
        </div>-->
        <div class="headerBtns">
            <button [disabled]="leaves?.isLoading  || isUpdatingLeaveStatus" md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>
            <a md-icon-button [routerLink]="['new/apply']" mdTooltip="New Leave" [mdTooltipPosition]="'above'">
                <md-icon>add_circle_outline</md-icon>
            </a>
        </div>

    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="leaves?.isLoading || isUpdatingLeaveStatus" mode="indeterminate"></md-spinner>


<div class="row" *ngIf="isFilter">
    <md-card class="card">
        <div class="row text-center headr_bar">
            <h5><b>Filters</b></h5>
            <div class="actionBtns">
                <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter"><md-icon >highlight_off</md-icon></button>
            </div>
        </div>
        <br>
        <form class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label for="email">Employee Name</label>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="leaves?.isLoading  || isUpdatingLeaveStatus" [(ngModel)]="leaves.filters.properties['name']['value']" name="Name">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>Status</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <select class="form-control" [disabled]="leaves?.isLoading  || isUpdatingLeaveStatus" [(ngModel)]="leaves.filters.properties['status']['value']" name="shift">
                   <option  value="approved">Approved</option>
                   <option  value="submitted">Submitted</option>
                   <option  value="cancelled">Cancelled</option>
                   <option  value="rejected">Rejected</option>
                </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 button_align form-group text-center setButton">
                <button [disabled]="leaves?.isLoading || isUpdatingLeaveStatus" md-raised-button color="primary" mdTooltip="Apply" [mdTooltipPosition]="'above'" (click)="fetchLeaves()">Apply</button>
                <button [disabled]="leaves?.isLoading || isUpdatingLeaveStatus" md-raised-button class="btn_grey" mdTooltip="Reset" [mdTooltipPosition]="'above'" (click)="reset()">Reset</button>
            </div>

        </form>
    </md-card>
</div>

<div class="row">
    <md-card class="card">
        <div class="">
            <table class="table table-condensed table-hover">
                <thead class="primary_thead">
                    <tr>
                        <th>Name</th>
                        <th class="tdWidth">Code</th>
                        <th class="tdWidth">Start Date</th>
                        <th class="tdWidth">End Date</th>
                        <th class="tdWidth">Type</th>
                        <th class="tdWidth">Count</th>
                        <th class="tdWidth">Reason</th>
                        <th class="tdWidth">Status</th>
                        <th class="tdWidth text-center" *ngIf="isShowLeaveAction">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of leaves.items | paginate: { id: 'leavs',
                                                      itemsPerPage: leaves.pageSize,
                                                      currentPage: leaves.pageNo,
                                                      totalItems: leaves.totalRecords };" class="capitalize">
                        <td>
                            <!--<img *ngIf="item?.picUrl" class="img-circle profile_pic" alt="img" [src]="item?.picUrl">-->
                            <!--<img *ngIf="!item?.picUrl" class="img-circle profile_pic" alt="img" src="assets/images/blank.png"> &nbsp;-->
                            <a [routerLink]="[item?.employee?.id]">{{item?.employee?.name}}</a>
                        </td>
                        <td class="tdWidth">{{item?.employee?.code}}</td>
                        <td class="tdWidth">{{item?.date | date}}</td>
                        <td class="tdWidth">{{setDate(item?.date, item?.days) | date}}</td>
                        <td class="tdWidth">{{item?.leaveType?.name}}</td>
                        <td class="tdWidth">{{item?.days}}</td>
                        <td class="tdWidth">{{item?.reason}}</td>
                        <td class="tdWidth">{{item?.status}}</td>
                        <td class="tdWidth text-center" *ngIf="isShowLeaveAction">
                            <!--<button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor reject" *ngIf="item?.status?.toLowerCase() == 'approved'
                                      || item?.status?.toLowerCase() == 'submitted'" (click)="accept_reject_leave(item, 'rejected')" mdTooltip="Reject" [mdTooltipPosition]="'above'">
                                <md-icon>highlight_off</md-icon>
                            </button>
                            <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor apporve" *ngIf="item?.status?.toLowerCase() == 'rejected'
                                      || item?.status?.toLowerCase() == 'submitted'
                                      || item?.status?.toLowerCase() == 'cancelled'" (click)="accept_reject_leave(item, 'approved')" mdTooltip="Approve" [mdTooltipPosition]="'above'">
                                <md-icon>check_cirle</md-icon>
                            </button>-->
                            <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor reject" *ngIf="item?.status?.toLowerCase() == 'submitted'" (click)="accept_reject_leave(item, 'rejected')" mdTooltip="Reject" [mdTooltipPosition]="'above'">
                                <md-icon>highlight_off</md-icon>
                            </button>
                            <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor apporve" *ngIf="item?.status?.toLowerCase() == 'submitted'" (click)="accept_reject_leave(item, 'approved')" mdTooltip="Approve" [mdTooltipPosition]="'above'">
                                <md-icon>check_cirle</md-icon>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="custom_pagination">
                <pagination-controls id="leavs" (pageChange)="leaves.pageNo = $event;fetchLeaves();"></pagination-controls>
                <div class="pageSize">
                    <label>Page Size:</label>
                    <select name="pageSize" [(ngModel)]="leaves.pageSize" (change)="leaves.pageNo = 1;fetchLeaves();">
                      <option value=10>10</option>
                      <option value=20>20</option>
                      <option value=50>50</option>
                      <option value=100>100</option>
                    </select>
                </div>
            </div>
        </div>
    </md-card>
</div>