<div class="tool-bar controls-row">
  <h5>Leaves</h5>
  <span class="spacer"></span>

  <button md-icon-button (click)="showPreviousMonth()" [disabled]="isProcessing">
    <md-icon>arrow_back</md-icon>
  </button>
  <div class="input-group">
    <span id="monthSelector" class="form-control input-sm calendar no-spin">{{date| date: 'MMM yy'}}</span>
  </div>
  <button md-icon-button (click)="showNextMonth()" [disabled]="isProcessing">
    <md-icon>arrow_forward</md-icon>
  </button>
  <span class="spacer"></span>

  <button [disabled]="isProcessing" md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf"
    [mdTooltipPosition]="'above'"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>
  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button *ngIf="auth.hasPermission(['superadmin', 'admin'])" [routerLink]="['new/apply']" mdTooltip="New Leave"
      [mdTooltipPosition]="'above'" md-menu-item>
      <md-icon>add_circle_outline</md-icon> New Leave
    </button>

    <button *ngIf="auth.hasPermission('superadmin')" (click)="import()" md-menu-item>
      <md-icon>cloud_upload</md-icon> Upload
    </button>

    <button *ngIf="selected.length" [disabled]="isProcessing" (click)="approveLeaves('approved')" mdTooltip="Approve"
      [mdTooltipPosition]="'above'" md-menu-item>
      Approve</button>
    <button *ngIf="selected.length" [disabled]="isProcessing" (click)="approveLeaves('rejected')" mdTooltip="Reject"
      [mdTooltipPosition]="'above'" md-menu-item>
      Reject</button>
  </md-menu>
</div>

<md-spinner class="custom_spinner" *ngIf="isProcessing" mode="indeterminate"></md-spinner>

<md-card *ngIf="isFilter" class="card">
  <div class="row text-center headr_bar">
    <h5><b>Filters</b></h5>
    <div class="actionBtns">
      <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter">
        <md-icon>highlight_off</md-icon>
      </button>
    </div>
  </div>
  <br>
  <div class="row filerRow">
    <form>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <label for="email">Employee Name</label>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="isProcessing "
            [(ngModel)]="leaves.filters.properties['name']['value']" name="Name">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <label>Status</label>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <select class="form-control" [disabled]="isProcessing " [(ngModel)]="leaves.filters.properties['status']['value']"
            name="shift">
            <option value="approved">Approved</option>
            <option value="submitted">Submitted</option>
            <option value="cancelled">Cancelled</option>
            <option value="rejected">Rejected</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class=" input-group">
          <span class="input-group-addon" id="basic-addon1">Select Month</span>
          <input id="monthSelector" type="text" class="form-control input-sm calendar no-spin">
        </div>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-8 col-lg-8"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 button_align form-group text-center">
        <button [disabled]="isProcessing" md-raised-button color="primary" mdTooltip="Apply" [mdTooltipPosition]="'above'"
          (click)="fetchLeaves(leaves.filters.properties['date']['value'])">Apply</button>
        <button [disabled]="isProcessing" md-raised-button class="btn_grey" mdTooltip="Reset" [mdTooltipPosition]="'above'"
          (click)="reset()">Reset</button>
      </div>

    </form>
  </div>
</md-card>

<md-card class="card">
  <div class="">
    <table class="table table-condensed table-hover">
      <thead class="primary_thead">
        <tr>
          <th class="selector">
            <input *ngIf="bulkActions" type="checkbox" [value]="leave.items.length === selected.length" (click)="selectAll()">
          </th>
          <th class="tdWidth">Employee</th>
          <th class="tdWidth">Date</th>
          <th class="tdWidth">Type</th>
          <th class="tdWidth">Count</th>
          <th class="tdWidth">Status</th>
          <th class="tdWidth">Reason/Comment</th>
          <th class="tdWidth"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of leaves.items | paginate: { id: 'leavs',
                                                      itemsPerPage: leaves.pageSize,
                                                      currentPage: leaves.pageNo,
                                                      totalItems: leaves.totalRecords };"
          class="capitalize">

          <td class="selector">
            <input type="checkbox" [checked]="item.isSelected" (change)="toggleLeaveSelection(item)" *ngIf="item?.status === 'submitted'">
          </td>
          <td class="tdWidth">
            <a [routerLink]="['/employees', item.employee?.code]">{{item.employee?.name || '--'}}</a>
            <br>
            <span class="sub-text">{{item.employee?.code}}</span>
          </td>
          <td class="tdWidth">
            {{item?.date | date}}
            <ng-container *ngIf="item.start">
              <span class="badge" *ngIf="item.start.first && !item.start.second">F</span>
              <span class="badge" *ngIf="!item.start.first && item.start.second">S</span>
            </ng-container>
            <ng-container *ngIf="item.toDate && item.toDate !== item.date">
              <br>
              <span class="sub-text text-center">to</span>
              <br> {{item?.toDate | date}}
              <ng-container *ngIf="item.end">
                <span class="badge" *ngIf="item.end.first && !item.end.second">F</span>
                <span class="badge" *ngIf="!item.end.first && item.end.second">S</span>
              </ng-container>
            </ng-container>

          </td>
          <td class="tdWidth">{{item?.leaveType?.name}}</td>
          <td class="tdWidth">{{item?.days}}</td>
          <td class="tdWidth">{{item?.status}}</td>
          <td class="tdWidth">
            {{item?.reason}}
            <ng-container *ngIf="item?.comment">
              <br>
              <span class="sub-text">{{item?.comment}}</span>
            </ng-container>
          </td>
          <td class="tdWidth text-center">
            <button [disabled]="item.isProcessing" md-icon-button *ngIf="item?.status?.toLowerCase() == 'submitted'"
              (click)="setStatus(item, 'rejected')" mdTooltip="Reject" [mdTooltipPosition]="'above'">
              <md-icon>highlight_off</md-icon>
            </button>
            <button [disabled]="item.isProcessing" md-icon-button class="subtle" *ngIf="item?.status?.toLowerCase() == 'submitted'"
              (click)="setStatus(item, 'approved')" mdTooltip="Approve" [mdTooltipPosition]="'above'">
              <md-icon>check_circle</md-icon>
            </button>
            <button [disabled]="item.isProcessing" md-icon-button class="subtle" *ngIf="item?.status?.toLowerCase() == 'approved'"
              (click)="setStatus(item, 'cancelled')" mdTooltip="Cancel" [mdTooltipPosition]="'above'">
              <md-icon>close</md-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="custom_pagination">
      <pagination-controls id="leavs" (pageChange)="leaves.pageNo = $event;fetch();"></pagination-controls>
      <div class="pageSize">
        <label>Page Size:</label>
        <select name="pageSize" [(ngModel)]="leaves.pageSize" (change)="leaves.pageNo = 1;fetch();">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>
</md-card>
