
.text{
   margin: 10px auto;
   border: solid black;
}

.btnFetch{
    background-color: #00a8c6 ;
    color: white    ;
    margin-left: 1%;
}
.btnClear{
    background-color: #848484;
    color: white;
    
}
.navTab{
    width: 10%;
    text-align: center;
    margin-top: 3%;
}

.para-font{
    color: #848484;
}


.star{
    color: rgb(250, 49, 49);
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: black !important;
}
alertTitle{
    text-align: left;
    padding: 50px;
}