<div class="row page_header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a md-raised-button class="reply" color="primary" [routerLink]="['../']">
            <md-icon>reply</md-icon> Alerts
        </a>
        <h5 class="heading"><b>&nbsp;&nbsp;Alert Configuration: {{alert?.properties?.alertType?.name}}</b></h5>
    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="alert?.isProcessing" mode="indeterminate">

</md-spinner>
<br>
<div class="row">
    <md-card>
        <div class="row">
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                <img [src]="alert?.properties?.alertType?.picUrl" width=" 100%;">
            </div>
            <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                <h5><b>Alert Configuration: {{alert?.properties?.alertType?.name}}</b></h5>
                <p>{{alert?.properties?.alertType?.description}}</p>
            </div>
        </div>
    </md-card>
</div>
<br>
<div class="row" *ngIf="alert?.properties?.alertType?.trigger?.parameters?.length > 0">
    <md-card>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4><b>Trigger Configuration</b></h4>
            </div>
            <div *ngFor="let item of alert?.properties?.alertType?.trigger?.parameters">
                <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                    <h5><b>{{item?.title}}</b></h5>
                    <p>{{item?.description}}</p>
                </div>
                <div *ngIf="item.type.toLowerCase() == 'number' && item.expectedValues.length == 0" class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <input type="number" class="form-control" [name]="item?.name" [maxlength]="validatorService.aletrNumberLength" [pattern]="validatorService.onlyNumber" [(ngModel)]="item.value">
                </div>
                <div *ngIf="item.type.toLowerCase() == 'string' && item.expectedValues.length == 0" class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" [name]="item?.name" [(ngModel)]="item.value" [maxlength]="validatorService.textLength">
                </div>
                <div *ngIf="item.expectedValues.length != 0" class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <select class="form-control" [name]="item?.name" [(ngModel)]="item.value">
                      <option [ngValue]="null"></option>
                      <option *ngFor="let i of item.expectedValues" [value]="i">{{i}}</option>
                    </select>
                </div>
            </div>
        </div>
    </md-card>
</div>
<br>
<div class="row">
    <md-card>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4><b>Action Configuration</b>
                    <button md-icon-button (click)="reset()" [disabled]="resetConfig" mdTooltip="Reset Configurations" [mdTooltipPosition]="'below'">
                    <i class="fa fa-refresh  fa-lg" [ngClass]="{'fa-spin':resetConfig}"  aria-hidden="true">
                    </i></button>
                </h4>

            </div>
            <div>
                <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9 spacer">
                    <h5><b>Mode of Notification</b></h5>
                    <p>The channel using which the supervisor will be Notified.</p>
                </div>


                <div class="col-xs-12 col-xs-offset-1
                col-sm-12 col-sm-offset-1
                col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-1">

                    <table>
                        <td><img src="assets/images/default-radio.png"></td>
                        <td><span style="color:gray;"><h5><b>Push Notifications</b></h5></span></td>
                    </table>
                    <div class="row">
                        <img src="assets/images/default-radio.png"> <span style="color:gray;"><h5><b>Push Notifications</b></h5></span>
                    </div>
                    <md-radio-group [(ngModel)]="alert.properties.config.processor['channel']">
                        <div class="row" *ngFor="let item of alert.properties?.alertType?.processor?.comApp">
                            <md-radio-button *ngIf="item != 'push'" [value]="item">
                                {{item | titlecase}}
                            </md-radio-button>
                        </div>

                        <!-- <md-radio-button value="sms">
                            SMS
                        </md-radio-button><br>
                        <md-radio-button value="chat">
                            Chat Bot
                        </md-radio-button> -->
                    </md-radio-group>
                </div>
            </div>
        </div>
    </md-card>
</div>
<br>
<div class="row">
    <md-card>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button md-raised-button (click)="alert.properties.status = 'active'" [ngClass]="{'mat-primary':alert?.properties?.status == 'active'}">Active</button>
                <button md-raised-button (click)="alert.properties.status = 'inactive'" [ngClass]="{'mat-primary':alert?.properties?.status == 'inactive'}">Disable</button>
                <div class="rightBtn">
                    <button md-raised-button color="primary" (click)="configure()">Save</button>
                    <button md-raised-button class="btn_grey" [routerLink]="['../']">Cancel</button>
                </div>
            </div>
        </div>
    </md-card>
</div>