<div class="tool-bar controls-row">
  <h5>Attendance Details</h5>
  <span class="spacer"></span>
  <button md-icon-button (click)="showPreviousMonth()" [disabled]="isProcessing">
    <md-icon>arrow_back</md-icon>
  </button>
  <div class="input-group">
    <span id="monthSelector" class="form-control input-sm calendar no-spin">{{date| date: 'MMM yy'}}</span>
  </div>
  <button md-icon-button (click)="showNextMonth()" [disabled]="isProcessing">
    <md-icon>arrow_forward</md-icon>
  </button>
  <span class="spacer"></span>
  <a md-icon-button *ngIf="auth.hasPermission(['superadmin', 'admin'])" (click)="backClicked()">
    <md-icon>close</md-icon>
  </a>
</div>

<md-spinner class="custom_spinner" *ngIf="employee?.isProcessing" mode="indeterminate"></md-spinner>
<br>
<div class="row" *ngIf="employee.properties.id">
  <div class="col-sm-4 col-md-4 col-lg-4 profile-card nameFormat cards-col">
    <md-card>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 capitalize">
          <h4>{{employee?.properties?.name}}</h4>
          <h5>{{employee?.properties?.code}}</h5>
          <h5>{{employee?.properties?.designation}}</h5>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row profileImage">
            <img *ngIf="employee?.properties?.picUrl" [src]="employee?.properties?.picUrl" width="100%" onError="this.src='/assets/images/blank.png'">
            <img *ngIf="!employee?.properties?.picUrl" alt="img" src="assets/images/blank.png" width="100%">
          </div>
        </div>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table">

            <!-- <tr class="capitalize">
                            <td>Monthly Average Hours:</td>
                            <td>{{employee?.properties?.avgHours | number:'1.0-2'}}</td>
                        </tr> -->
            <tr class="capitalize">
              <!-- <td>Supervisor:</td> -->
              <td>Supervisor:</td>
              <td>{{employee?.properties?.supervisor?.name}} {{employee?.properties?.supervisor?.code ?
                '('+employee?.properties?.supervisor?.code+')':'--'}}</td>
            </tr>
            <!-- <tr>
                            <td>Email:</td>
                            <td>{{employee?.properties?.email ? employee?.properties?.email : '--'}} </td>
                        </tr> -->
            <tr class="capitalize">
              <td>Mobile:</td>
              <td>{{employee?.properties?.phone ? employee?.properties?.phone : '--'}} </td>
            </tr>
            <tr class="capitalize">
              <td>Department:</td>
              <td> </td>
            </tr>
            <tr class="capitalize">
              <td colspan="2">
                <button class="resetPW" *ngIf="employee?.properties?.id" md-raised-button [disabled]="employee?.isProcessing || designations?.isLoading"
                  color="primary" (click)="resetPassword()">Reset Password</button>
              </td>
            </tr>
            <!-- <tr class="capitalize">
                            <td>Shift:</td>
                            <td>{{employee?.properties?.shiftType.name ? employee?.properties?.shiftType.name : '--'}} </td>
                        </tr>
                        <tr>
                            <td colspan="2" angulartics2On="click" angularticsEvent="trackLocation" angularticsCategory="dailyAttendance" [angularticsProperties]="{label: 'Fall Campaign'}">
                                Track Location:&nbsp;
                                <md-slide-toggle [checked]="employee?.properties?.abilities?.trackLocation" (change)="toggleManual('trackLocation')">{{employee?.properties?.abilities?.trackLocation ? 'Enabled':'Disabled'}}</md-slide-toggle>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" angulartics2On="click" angularticsEvent="shiftNotifier" angularticsCategory="dailyAttendance" [angularticsProperties]="{label: 'Fall Campaign'}">
                                Shift Notifier:&nbsp;
                                <md-slide-toggle [checked]="employee?.properties?.abilities?.shiftNotifier" (change)="toggleManual('shiftNotifier')">{{employee?.properties?.abilities?.shiftNotifier ? 'Enabled':'Disabled'}}</md-slide-toggle>
                            </td>
                        </tr> -->
          </table>
        </div>
      </div>
    </md-card>
    <md-card *ngIf="auth.hasPermission('superadmin')">
      <md-card-header>
        CheckIn/Checkout
      </md-card-header>
      <md-radio-group class="example-radio-group" [(ngModel)]="this.employee.properties['currentAblitiy']" (change)="selectAbility(this.employee.properties['currentAblitiy'])">
        <md-radio-button class="example-radio-button" [value]="'none'">
          Biometric Only
        </md-radio-button>
        <md-radio-button class="example-radio-button" [value]="'manualByBeacon'">
          By Beacon
        </md-radio-button>
        <md-radio-button class="example-radio-button" [value]="'manualByGeoFencing'">
          By Geo Fencing
        </md-radio-button>
        <md-radio-button class="example-radio-button" [value]="'manualByWifi'">
          By WiFi
        </md-radio-button>
        <md-radio-button class="example-radio-button" [value]="'maualAttendance'">
          By App
        </md-radio-button>
      </md-radio-group>
    </md-card>
  </div>

  <div class="col-sm-8 col-md-8 col-lg-8">
    <aqua-calendar-view [month]="date" [employee]="employee.properties"></aqua-calendar-view>
  </div>
</div>
<br>
<div class="row" *ngIf="employee.properties.id">
  <div class="col-md-6 col-lg-6">
    <md-card>
      <div class="mat-card-header controls-row">
        <span class="spacer"></span>
        <h5>Leaves</h5>
        <span class="spacer"></span>
        <button md-icon-button class="subtle" [routerLink]="['apply-leave']" mdTooltip="Apply Leave"
          [mdTooltipPosition]="'above'">
          <md-icon>add_circle_outline</md-icon>
        </button>
      </div>
      <app-processing-indicator *ngIf="leaves?.isLoading || isUpdatingLeaveStatus"></app-processing-indicator>
      <div class="mat-card-content">
        <table class="table">
          <tr>
            <th>Start Date</th>
            <th>Count</th>
            <th>Type</th>
            <th>Reason</th>
            <th>Status</th>
            <th class="text-center" *ngIf="isShowLeaveAction && auth.hasPermission( ['superadmin', 'admin'])">Action</th>
          </tr>
          <tr *ngFor="let item of leaves.items  | paginate: { id: 'leaveBalanceBar',
                                                      itemsPerPage: leaves.pageSize,
                                                      currentPage: leaves.pageNo,
                                                      totalItems: leaves.totalRecords }">
            <td>{{item?.date | date}}</td>
            <td>{{item?.days}}</td>
            <td>{{item?.leaveType?.name}}</td>
            <td>{{item?.reason}}</td>
            <td>{{item?.status}}</td>
            <td class="text-center" *ngIf="isShowLeaveAction && auth.hasPermission( ['superadmin', 'admin'])">
              <!--<button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor reject" *ngIf="item?.status == 'approved'
                                      || item?.status == 'submitted'" (click)="accept_reject_leave(item, 'rejected')" mdTooltip="Reject" [mdTooltipPosition]="'above'">
                                <md-icon>highlight_off</md-icon>
                            </button>
                            <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor apporve" *ngIf="item?.status == 'rejected'
                                      || item?.status == 'submitted'
                                      || item?.status == 'cancelled'" (click)="accept_reject_leave(item, 'approved')" mdTooltip="Approve" [mdTooltipPosition]="'above'">
                                <md-icon>check_cirle</md-icon>
                            </button>-->
              <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor reject" *ngIf="item?.status == 'submitted'"
                (click)="accept_reject_leave(item, 'rejected')" mdTooltip="Reject" [mdTooltipPosition]="'above'">
                <md-icon>highlight_off</md-icon>
              </button>
              <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor apporve" *ngIf="item?.status == 'submitted'"
                (click)="accept_reject_leave(item, 'approved')" mdTooltip="Approve" [mdTooltipPosition]="'above'">
                <md-icon>check_cirle</md-icon>
              </button>
              <button [disabled]="isUpdatingLeaveStatus" md-icon-button class="button_align cursor apporve" *ngIf="item?.status?.toLowerCase() == 'approved'"
                (click)="accept_reject_leave(item, 'cancelled')" mdTooltip="Cancel" [mdTooltipPosition]="'above'">
                <md-icon>close</md-icon>
              </button>
            </td>
          </tr>
        </table>
        <div class="row">
          <div class="custom_pagination">
            <pagination-controls id="leaveBalanceBar" (pageChange)="leaves.pageNo = $event;fetchSubmittedLeaveBalance();"></pagination-controls>
            <div class="pageSize">
              <label>Page Size:</label>
              <select name="pageSize" [(ngModel)]="leaves.pageSize" (change)="leaves.pageNo = 1;fetchSubmittedLeaveBalance();">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div class="col-md-6 col-lg-6">
    <md-card>
      <div class="mat-card-header controls-row">
        <span class="spacer"></span>
        <h5>Leave Balance</h5>
        <span class="spacer"></span>
      </div>
      <app-processing-indicator *ngIf="leaveBalances?.isLoading"></app-processing-indicator>
      <div class="mat-card-content">
        <table class="table">
          <tr>
            <th>Type</th>
            <th>Opening Balance</th>
            <th>Availed</th>
            <th>Balance</th>
          </tr>
          <tr *ngFor="let item of leaveBalances.items">
            <td>{{item?.leaveType?.name}}</td>
            <td>{{item?.leaveType?.unlimited ? '∞': item?.openingBalance}}</td>
            <td>{{item?.leaveType?.unlimited ? '∞': item?.daysAvailed}}</td>
            <td>{{item?.leaveType?.unlimited ? '∞': item?.days}}</td>
          </tr>
        </table>
      </div>
    </md-card>
  </div>
</div>
