.mat-button-toggle-checked {
    color: #00A8c6;
    background-color: #ffffff;
    border-radius: 5px;
    border: #00A8c6 1px solid;
}

.mat-button-toggle-group.form-control {
    border-radius: 5px;
    padding: 1px 5px;
    box-shadow: none;
}

.mat-button-toggle-label>.mat-button-toggle-label-content {
    line-height: 30px;
    font-weight: 300px;
}

.mat-card {
    margin-bottom: 3px;
}

.hint {
    padding-right: 9px;
    text-decoration: underline;
}



