<div>
    <div md-dialog-title>Extend Shift</div>
    <div md-dialog-content>
        <div class="form-group">
            <label>Date</label>
            <md-button-toggle-group class="form-control" [(ngModel)]="date">
                <md-button-toggle [value]="currentShift.date">{{currentShift.date | date}}</md-button-toggle>
                <md-button-toggle [value]="nextShift.date">{{nextShift.date | date}}</md-button-toggle>
            </md-button-toggle-group>
        </div>
        <div class="form-group">
            <label>Time</label>
            <input class="form-control" type="time" [(ngModel)]="time" (blur)="timeChanged()">
        </div>
    </div>
    <div class="shifts">
        <label>Shifts</label>
        <div class="flex-row">
            <div (click)="date = currentShift.date" [class.mat-elevation-z4]="currentShift.date === date" [class.mat-elevation-z1]="currentShift.date !== date" [class.selected]="currentShift.date === date" class="col shift">
                <label>Current</label>
                <div class="time form-group" (click)="setTime(currentShift.shiftType.startTime)" [class.selected]="time === (currentShift.shiftType.startTime| date: 'HH:mm')">
                    <label>Start</label>
                    <div class="form-control">{{currentShift.shiftType.startTime | date :'h:mm:a'}}</div>
                </div>
                <div class="time form-group" (click)="setTime(currentShift.shiftType.endTime)" [class.selected]="time === (currentShift.shiftType.endTime| date: 'HH:mm')">
                    <label>End</label>
                    <div class="form-control">{{currentShift.shiftType.endTime | date :'h:mm:a'}}</div>
                </div>
            </div>
            <div (click)="date = nextShift.date" [class.mat-elevation-z4]="nextShift.date === date" [class.mat-elevation-z1]="nextShift.date !== date" [class.selected]="nextShift.date === date" class="col shift">
                <label>Next</label>
                <div class="time form-group" (click)="setTime(nextShift.shiftType.startTime)" [class.selected]="time === (nextShift.shiftType.startTime| date: 'HH:mm')">
                    <label>Start</label>
                    <div class="form-control">{{nextShift.shiftType.startTime | date :'h:mm:a'}}</div>
                </div>
                <div class="time form-group" (click)="setTime(nextShift.shiftType.endTime)" [class.selected]="time === (nextShift.shiftType.endTime| date: 'HH:mm')">
                    <label>End</label>
                    <div class="form-control">{{nextShift.shiftType.endTime | date :'h:mm:a'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div md-dialog-actions class="controls-row">
        <span class="spacer"></span>
        <button md-button (click)="dialogRef.close()">Cancel</button>
        <button md-raised-button (click)="dialogRef.close('reset')">Reset</button>
        <button md-raised-button (click)="continue()" color="primary">Extend</button>
    </div>
</div>