<div class="tool-bar controls-row">
  <h5>{{employee?.id ? 'Employee Details' : 'New Employee' }}</h5>
  <span class="spacer"></span>
  <a md-icon-button *ngIf="!isNew" (click)="backClicked()">
    <md-icon>close</md-icon>
  </a>
  <ng-container *ngIf="isNew">
    <button md-button (click)="backClicked()">Cancel</button>
    <button md-raised-button [disabled]="isProcessing || !employee.profile.firstName" color="primary" (click)="save()">Next
    </button>
  </ng-container>
</div>
<div class="row capitalize">
  <md-spinner class="custom_spinner" *ngIf="isProcessing" mode="indeterminate">
  </md-spinner>
  <div *ngIf="!isNew" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 cards-col profile-card">
    <md-card>
      <div class="row nameFormat">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4>{{employee?.profile?.firstName}} {{employee?.profile?.lastName}}</h4>
          <h5>{{employee?.code}}</h5>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 image-picker" *ngIf="employee?.id">
          <a class="profileImage" (click)="profileImageInput.click()" mdTooltip="Change Profile Picture"
            [mdTooltipPosition]="'above'">
            <img *ngIf="employee?.profile?.pic?.url" class="avatar" [src]="employee?.profile?.pic?.url" onerror="this.src = 'assets/images/blank.png'"
              width="100%">
            <img *ngIf="!employee?.profile?.pic?.url" class="avatar" alt="img" src="assets/images/blank.png" width="100%">
          </a>
          <input #profileImageInput type="file" accept="image/*" (change)="onNewImageSelect($event)" style="position: fixed;top: -100px;" />
        </div>
        <br>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br> User Type:&nbsp;
          <select class="form-control small right" [(ngModel)]="employee.type">
            <option value="superadmin">Super Admin</option>
            <option value="admin">Admin</option>
            <option value="normal">Normal</option>
          </select>
        </div>
        <div *ngIf="!isNew" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br>Status:&nbsp;
          <select name="status" class="form-control small right" [(ngModel)]="employee.status" [required]="!isNew">
            <option [ngValue]="null">Select an option</option>
            <option value="new">New</option>
            <option value="active">Active</option>
            <option value="inactive">In Active</option>
            <option value="archived">Archived</option>
            <option value="in-complete">In Complete</option>
          </select>
        </div>
      </div>
    </md-card>
    <app-processing-indicator *ngIf="!amsEmployee"></app-processing-indicator>
    <aqua-finger-print *ngIf="amsEmployee" [employee]="amsEmployee"></aqua-finger-print>
    <aqua-emp-leaves *ngIf="amsEmployee" [employee]="amsEmployee"></aqua-emp-leaves>
    <aqua-emp-shift *ngIf="amsEmployee" [employee]="amsEmployee"></aqua-emp-shift>

  </div>

  <div [class.col-lg-offset-2]="isNew" class=" col-xs-12 col-sm-12 col-md-12 col-lg-8 cards-col">
    <md-card>
      <div class="dialog_Header text-center">
        <h5>
          <b>Personal</b>
        </h5>
      </div>
      <br>
      <div class="form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>First Name:</b>
            <span class="asterisk">*</span>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="firstName" type="text" class="form-control" [maxlength]="validatorService.textLength"
              [(ngModel)]="employee.profile.firstName" required>
          </div>
        </div>
        <br class="fieldsGap">

        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Last Name:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="lastName" type="text" class="form-control" [maxlength]="validatorService.textLength"
              [(ngModel)]="employee.profile.lastName" required>
          </div>
        </div>

      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>DOB:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="dob" id="dateSelector" type="text" class="form-control input-sm calendar no-spin">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Father/Husband:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="fname" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.profile.fatherName">
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Blood Group:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select name="bgroup" class="form-control" [(ngModel)]="employee.profile.bloodGroup">
              <option [ngValue]="null">Select an option</option>
              <option value="A+">A+</option>
              <option value="B+">B+</option>
              <option value="O+">O+</option>
              <option value="AB+">AB+</option>
              <option value="A-">A-</option>
              <option value="B-">B-</option>
              <option value="O-">O-</option>
              <option value="AB-">AB-</option>
            </select>
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Gender:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select name="gender" class="form-control" [(ngModel)]="employee.profile.gender">
              <option [ngValue]="null">Select an option</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select>
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Phone:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="phone" type="text" class="form-control" [maxlength]="validatorService.phoneNumberLength"
              [minLength]="validatorService.phoneNumberLength" [pattern]="validatorService.onlyNumber" [(ngModel)]="employee.phone">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Email:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="email" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.email">
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Aadhaar No:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="aadhaar" type="text" class="form-control" [maxlength]="validatorService.textLength"
              [(ngModel)]="employee.config.aadhaar">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Pan No:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="pan" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.config.pan">
          </div>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="dialog_Header text-center">
        <h5>
          <b>Employment</b>
        </h5>
      </div>
      <br>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Code:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.code">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Supervisor:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input ngui-auto-complete [min-chars]="1" placeholder="Employee search" [(ngModel)]="employee.supervisor"
              [source]="empSource.bind(this)" [value-formatter]="empFormatter" [list-formatter]="empListFormatter"
              class="form-control search" name="Supervisor" />
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Date Of Joining:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input id="joiningDate" type="text" class="form-control input-sm calendar no-spin">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Designation:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select class="form-control" [(ngModel)]="employee.designation">
              <option [ngValue]="null">Select an option</option>
              <option *ngFor="let item of designations" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Type:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select class="form-control" [(ngModel)]="employee.config.employmentType">
              <option disabled value=" " selected>Select an option</option>
              <option value="permanent">Permanent</option>
              <option value="contract">Contract</option>
            </select>
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Department:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select class="form-control" [(ngModel)]="employee.department">
              <option [ngValue]="null">Select an option</option>
              <option *ngFor="let item of departments" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </md-card>
    <md-card [class.show]="employee.config.employmentType == 'contract'" [class.hide]="employee.config.employmentType != 'contract'">
      <div class="dialog_Header text-center">
        <h5>
          <b>Contractor Details</b>
        </h5>
      </div>
      <br>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Contractor:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select class="form-control" [(ngModel)]="employee.config.contractor">
              <option [ngValue]="null">Select an option</option>
              <option *ngFor="let item of contractors" [ngValue]="item">{{item.name}}({{item.code}})</option>
            </select>
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Date of Membership:</b>
            <span *ngIf="!isNew" class="asterisk">*</span>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input id="membershipDate" type="text" class="form-control input-sm calendar no-spin">
          </div>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="dialog_Header text-center">
        <h5>
          <b>Address</b>
        </h5>
      </div>
      <br>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Line 1:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="line1" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.address.line1">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Line 2:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="line2" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.address.line2">
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>City:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="city" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.address.city">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>District:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="district" type="text" class="form-control" [maxlength]="validatorService.textLength"
              [(ngModel)]="employee.address.district">
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>State:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="state" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.address.state">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Pin Code:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="pincode" #pincode="ngModel" type="text" class="form-control" [maxlength]="validatorService.pinCodeLength"
              [minlength]="validatorService.pinCodeLength" [pattern]="validatorService.onlyNumber" [(ngModel)]="employee.address.pinCode">
            <span class="asterisk" *ngIf="pincode.invalid">Enter 6 digit valid pin code</span>
          </div>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="dialog_Header text-center">
        <h5>
          <b>Bank Details</b>
        </h5>
      </div>
      <br>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Account No.:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="accountNo" type="text" class="form-control" [maxlength]="validatorService.textLength"
              [(ngModel)]="employee.config.accountNo">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>IFSC Code:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="ifsc" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.config.ifsc">
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Bank:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="bank" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.config.bank">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Branch:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="branch" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.config.branch">
          </div>
        </div>
      </div>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Account Holder Name.:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name="accountHolder" type="text" class="form-control" [maxlength]="validatorService.textLength"
              [(ngModel)]="employee.config.accountHolder">
          </div>
        </div>
      </div>
    </md-card>
    <md-card *ngIf="!isNew">
      <div class="dialog_Header text-center">
        <h5>
          <b>Relieving</b>
        </h5>
      </div>
      <br>
      <div class=" form-group row">
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Date:</b>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input id="terminateDate" type="text" class="form-control input-sm calendar no-spin">
          </div>
        </div>
        <div class="fields">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <b>Reason:</b>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select class="form-control" [(ngModel)]="employee.reason">
              <option disabled value="null">Select an option</option>
              <option value="resign">Resign</option>
              <option value="terminate">Terminate</option>
              <option value="death">Death</option>
            </select>
          </div>
        </div>
      </div>
    </md-card>
    <div class="controls-row footer">
      <span class="spacer"></span>
      <ng-container *ngIf="isNew">
        <button md-button (click)="backClicked()">Cancel</button>
        <button md-raised-button [disabled]="isProcessing || !employee.profile.firstName" color="primary" (click)="save()">Next</button>
      </ng-container>
      <ng-container *ngIf="!isNew">
        <button md-raised-button [disabled]="isProcessing" (click)="resetPassword()">Reset Password</button>
        <button md-raised-button [disabled]="isProcessing || !employee.profile.firstName" color="primary" (click)="save()">Save</button>
      </ng-container>
    </div>
  </div>
</div>
