.hradrbtns {
    position: absolute;
    top: 2.5%;
    right: 1%;
}

.reply {
    float: left;
    margin-left: 1%;
}

.fileBox {
    margin-top: 5%;
    border: 1px solid #bfbdbd;
    padding: 4%;
}

.userType {
    width: 64%;
    float: right;
}

.chimg,
.chimg:active,
.chimg:focus {
    width: 100%;
    background-color: #6b6b6b;
    color: white !important;
    border-radius: 0px;
    outline: none;
}

.file {
    border: 1px solid #bfbdbd;
    padding: 3%;
    margin-bottom: 3%;
}

.nameFormat {
    word-break: break-word;
}
.red-text{
    color:red;
  }
  .text-block {
    position: absolute;
    bottom: 0px !important;
    right: 10px !important;
    border-radius: 24px !important;
    background-color: white !important;
    color: #7D7D7D !important;
    
    padding: 9px !important;
}

  