<br>
<div class="row text-center">
    <a md-raised-button class="reply" color="primary" [routerLink]="['../']">
        <md-icon>reply</md-icon> Employees
    </a>
    <h5><b> {{employee?.properties?.id ? 'Employee Details' : 'New Employee' }}</b></h5>
    <span class="hradrbtns">
         <button  md-raised-button [disabled]="employee?.isProcessing || designations?.isLoading" color="primary" (click)="save(empForm)">Save</button>
         <button *ngIf="employee?.properties?.id"  md-raised-button [disabled]="employee?.isProcessing || designations?.isLoading" color="primary" (click)="resetPassword()">Reset Password</button>
    </span>

</div>
<br>
<div class="row capitalize">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 profieCrd">
        <md-card>
            <div class="row nameFormat">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>{{employee?.properties?.name}}</h4>
                    <h5>{{employee?.properties?.code}}</h5>
                    <h5>{{employee?.properties?.designation}}</h5>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row profileImage cursor">
                        <img *ngIf="employee?.properties?.picUrl" class="EmpProile" [src]="employee?.properties?.picUrl" onerror="this.src = 'assets/images/blank.png'" width="100%">
                        <img *ngIf="!employee?.properties?.picUrl" class="EmpProile" alt="img" src="assets/images/blank.png" width="100%">
                        <button *ngIf="employee?.properties?.id" (click)="isChangeImage = !isChangeImage" class="btn chimg" mdTooltip="Change Profile Picture" [mdTooltipPosition]="'above'">
                          Change Profile Picture
                        </button>
                    </div>

                </div>
                <br>
                <div *ngIf="isChangeImage" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center fileBox">
                    <h5><b>Image Upload</b></h5>
                    <input class="file" id="uploader" type="file" ng2FileSelect [uploader]="uploader" />
                    <div *ngFor="let item of uploader.queue">
                        <button md-raised-button color="primary" (click)="uploadImg()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            Upload
                        </button>
                        <button md-raised-button class="btn_grey" (click)="isChangeImage = !isChangeImage" [disabled]="item.isReady || item.isUploading  || uploader.isUploading">
                            Cancel
                        </button>
                    </div>
                    <button *ngIf="uploader?.queue?.length === 0" (click)="isChangeImage = !isChangeImage" md-raised-button class="btn_grey">
                            Cancel
                        </button>
                </div>
                <br>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br> User Type:&nbsp;
                    <select class="form-control userType" [(ngModel)]="employee.properties.userType">
                      <option value="superadmin">Super Admin</option>
                      <option value="admin">Admin</option>
                      <option value="normal">Normal</option>
                    </select>
                </div>
            </div>
        </md-card>
    </div>
    <md-spinner class="custom_spinner" *ngIf="employee?.isProcessing || uploader.isUploading || designations?.isLoading" mode="indeterminate"> </md-spinner>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <form #empForm="ngForm">
            <md-card>
                <div class="dialog_Header text-center">
                    <h5><b>Personal</b></h5>
                </div>
                <br>
                <table class="table">
                    <tr>
                        <th>Name:<span class="asterisk">*</span></th>
                        <td>
                            <input name="empName" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.name" required>
                        </td>
                        <th>Gender:</th>
                        <td>
                            <select name="gender" class="form-control" [(ngModel)]="employee.properties.gender">
                             <option [ngValue]="null">Select an option</option>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="others">Others</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>DOB:</th>
                        <td>
                            <input name="dob" id="dateSelector" type="text" class="form-control input-sm calendar no-spin">
                            <!--<input  type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.dob">-->
                        </td>
                        <th>Father/Husband Name:</th>
                        <td>
                            <input name="fname" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.fatherName">
                        </td>
                    </tr>
                    <tr>
                        <th>Blood Group:</th>
                        <td>
                            <select name="bgroup" class="form-control" [(ngModel)]="employee.properties.bloodGroup">
                               <option [ngValue]="null">Select an option</option>
                              <option value="A+">A+</option>
                              <option value="B+">B+</option>
                              <option value="O+">O+</option>
                              <option value="AB+">AB+</option>
                              <option value="A-">A-</option>
                              <option value="B-">B-</option>
                              <option value="O-">O-</option>
                              <option value="AB-">AB-</option>
                            </select>
                        </td>
                        <th>{{isNew ? '':'Status:'}}<span *ngIf="!isNew" class="asterisk">*</span></th>
                        <td>
                            <select *ngIf="!isNew" name="status" class="form-control" [(ngModel)]="employee.properties.status" [required]="!isNew">
                               <option [ngValue]="null">Select an option</option>
                              <option value="activate">Activate</option>
                              <option value="inComplete">InComplete</option>
                              <option value="deactivate">Deactivate</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>
                            <input name="phone" type="text" class="form-control" [maxlength]="validatorService.phoneNumberLength" [minLength]="validatorService.phoneNumberLength" [(ngModel)]="employee.properties.phone">
                        </td>
                        <th>Email:</th>
                        <td>
                            <input id="email" required email name="email" #email="ngModel" [(ngModel)]="employee.properties.email" type="text" class="form-control">
                            <span class="help block" *ngIf="email.invalid && email.touched"> Email is invalid</span>
                        </td>
                    </tr>
                </table>
            </md-card>
            <br>
            <md-card>
                <div class="dialog_Header text-center">
                    <h5><b>Employment</b></h5>
                </div>
                <br>
                <table class="table">
                    <tr>
                        <th>Supervisor:</th>
                        <td>
                            <input ngui-auto-complete [min-chars]="1" placeholder="Employee search" [(ngModel)]="employee.properties.supervisor" [source]="empSource.bind(this)" [value-formatter]="empFormatter" [list-formatter]="empListFormatter" class="form-control search" name="Supervisor"
                            />
                        </td>
                        <th>Employee Code<span class="asterisk">*</span>:</th>
                        <td>
                            <input name="empCode" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.code" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Designation:</th>
                        <td>
                            <select name="designation" class="form-control" [(ngModel)]="employee.properties.designation">
                               <option [ngValue]="null">Select an option</option>
                              <option *ngFor="let item of designations.items" [value]="item.name">{{item.name}}</option>
                            </select>
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </md-card>
            <br>
            <md-card>
                <div class="dialog_Header text-center">
                    <h5><b>Contact</b></h5>
                </div>
                <br>
                <table class="table">
                    <tr>
                        <th>Address Line 1:</th>
                        <td>
                            <input name="address1" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.address1">
                        </td>
                        <th>Address Line 2:</th>
                        <td>
                            <input name="address2" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.address2">
                        </td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>
                            <input name="city" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.city">
                        </td>
                        <th>District:</th>
                        <td>
                            <input name="district" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.district">
                        </td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>
                            <input name="state" type="text" class="form-control" [maxlength]="validatorService.textLength" [(ngModel)]="employee.properties.state">
                        </td>
                        <th>Pin Code:</th>
                        <td>
                            <input name="pincode" #pincode="ngModel" type="text" class="form-control" [maxlength]="validatorService.pinCodeLength" [minlength]="validatorService.pinCodeLength" [pattern]="validatorService.onlyNumber" [(ngModel)]="employee.properties.pincode">
                            <span class="asterisk" *ngIf="pincode.invalid">Enter 6 digit valid pin code</span>
                        </td>
                    </tr>
                </table>
            </md-card>
        </form>
    </div>
</div>