.fullShift {
    float: left;
    width: 33% !important;
    height: 5px !important;
    background-color: green;
    border: #f1f1f1 1px solid;
    padding-left: 3%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
}

.halfShift {
    float: left;
    width: 16% !important;
    height: 5px !important;
    background-color: green;
    border: #f1f1f1 1px solid;
    padding-left: 3%;
}

.half {
    float: left;
    width: 16% !important;
    height: 5px !important;
    background-color: red;
    border: #f1f1f1 1px solid;
    padding-left: 3%;
}

.quarter {
    float: left;
    width: 24% !important;
    height: 5px !important;
    background-color: red;
    border: #f1f1f1 1px solid;
    padding-left: 3%;
}

.hours {
    width: 90%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}
