.shift {
    /* width: 90%;
    height: 10px; */
    margin-left: auto;
    margin-right: auto;
}

.shift>div {
    float: left;
    width: 25% !important;
    height: 2px !important;
    padding-left: 3%;
    margin-left: 5px;
}

.shift>div.full {
    background-color: var(--primary);
}

.shift>div.quarter:first-child {
    background: linear-gradient(to right, var(--primary) 0%, var(--primary) 25%, var(--disabled) 26%);
}

.shift>div.quarter:first-child {
    background: linear-gradient(to right, red 0%, red 25%, var(--disabled) 26%);
}

.shift>div.half {
    background: linear-gradient(to right, var(--primary) 0%, var(--primary) 50%, var(--disabled) 51%);
}

.shift>div.half:first-child {
    background: linear-gradient(to right, red 0%, red 50%, var(--disabled) 51%);
}

.shift .three-quarter {
    background: linear-gradient(to right, var(--primary) 0%, var(--primary) 75%, var(--disabled) 76%);
}

.shift .three-quarter:first-child {
    background: linear-gradient(to right, red 0%, red 75%, var(--disabled) 76%);
}
