<md-card>
  <div class="dialog_Header text-center">
    <h5>
      <b>Leave Balance</b>
    </h5>

  </div>
  <br>
  <table class="table">
    <tr>
      <th>Type</th>
      <th class="type">Balance</th>
      <!-- <th></th> -->
    </tr>
    <tr *ngFor="let item of leaveBalances">
      <td class="balance">{{item?.leaveType?.name}}</td>
      <td class="text-center">
        <input *ngIf="!item.leaveType.unlimited" type="text" maxlength="4" [name]="item.days" [readOnly]="leaveBalances.isLoading || isUpdatingLeave || !isEdit"
          class="number form-control input-xs" [(ngModel)]="item.days">
        <span *ngIf="item.leaveType.unlimited">Unlimited</span>
      </td>

    </tr>
    <tr>
      <td colspan="2">
        <button *ngIf="!isEdit" md-raised-button color="primary" class="btnClmWidth" mdTooltip="Edit" [mdTooltipPosition]="'above'"
          (click)="isEdit = true">
          Edit
        </button>
        <button *ngIf="isEdit" md-raised-button color="white" [disabled]="leaveBalances.isLoading || isUpdatingLeave" class="btnClmWidth"
          (click)="reset()" mdTooltip="Cancel" [mdTooltipPosition]="'above'">
          Cancel
        </button>
        <button *ngIf="isEdit" md-raised-button color="primary" [disabled]="leaveBalances.isLoading || isUpdatingLeave" class="btnClmWidth "
          (click)="updateLeaveBalance(leaveBalances)" mdTooltip="Save" [mdTooltipPosition]="'above'">
          Save
        </button>

      </td>
    </tr>
  </table>
</md-card>