

.loginContainer {
    width: 47%;
    margin: 0 auto;
    margin-top: 2%;
}

.loginContainer .card {
    min-height: 501px;
    overflow-y: auto;
}

.imgRow {
    background-color: #404666;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
}

.imgRow img {
    width: 62%;
}

.cardBody {
    width: 100%;
    margin: 0;
    padding: 3% 20%;
}

.full_width {
    width: 100%;
}

.custmBtn {
    width: 100%;
    background-color: #404666;
    color: white;
}

.marginForgotpass {
    margin-top: 3%;
}

.marginForgotpass a:last-child {
    float: right;
}

.otpHeading {
    /* color: white; */
    /* font-size: 29px; */
    text-align: center;
    /* margin-top: -3%; */
}

.otpSubtxt {
    color: gray;
    /* font-size: 22px; */
}

.otpSpace {
    width: 16%;
    margin: 0;
    padding: 4px;
}

.otpTxt {
    border-radius: 0;
    text-align: center;
    font-weight: 700;
}

.otp {
  padding: 0px 5% 20px;
}

.otp input {
  width: 12%;
  /* border-radius: 2px !important; */
  /* border: solid #ccc 1px; */
  font-size: 205%;
  margin: 1px;
  /* background-color: #eee; */
  text-align: center;
  height: 40px;
  outline: none;
  border-bottom: 2px solid #aaa;
  border-left: none;
  border-right: none;
  border-top:none;
}
.otp input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

@media only screen and (max-width:600px) {
    .loginContainer .card {
        width: 100%;
        min-height: 501px;
        overflow-y: auto;
        margin-top: 15%;
    }
    .loginContainer {
        width: 100%;
        margin: 0 auto;
        margin-top: 2%;
    }
}
