<ng2-toasty></ng2-toasty>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section hiddenHorScroll">
    <router-outlet></router-outlet>
</div>
<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rowBody">
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
        <md-nav-list dense class="fixedSideNav">
            <div class="logo_container text-center">
                <img class="logo" src="assets/images/splash_logo.png">
                <br>
            </div>
            <md-divider></md-divider>
            <a md-list-item [routerLink]="['/pages/employees/list']" routerLinkActive="activeTab" #rla1="routerLinkActive">
                <h5>All Employee</h5>
            </a>
            <a md-list-item [routerLink]="['/pages/employees/designations']" routerLinkActive="activeTab" #rla2="routerLinkActive">
                <h5>Designations</h5>
            </a>

        </md-nav-list>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 section hiddenHorScroll">
        <router-outlet></router-outlet>
    </div>
</div> -->