<ng2-toasty></ng2-toasty>
<div class="container">
  <md-sidenav-container class="nav-container">
    <md-sidenav #sidenav [mode]="sideNavMode" [opened]="sideNavOpened">
      <aqua-navigation-bar *ngIf="currentUser" [currentUser]="currentUser"></aqua-navigation-bar>
    </md-sidenav>
    <md-toolbar class="header" color="primary" *ngIf="currentUser">
      <span md-icon-button *ngIf="!sidenav.opened" (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </span>
      <span class="example-spacer"></span>
      <div class="org-name" *ngIf="currentUser && currentUser.organization && currentUser.organization">
        {{currentUser.organization.name}}
      </div>
      <span class="example-spacer"></span>
      <button md-button (click)="logout()" mdTooltip="Logout" [mdTooltipPosition]="'below'">
        {{currentUser?.name}}
        <md-icon class="example-icon">exit_to_app</md-icon>
      </button>
    </md-toolbar>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
<div *ngIf="envName" class="alert alert-info text-center">{{envName}}</div>
