<ng2-toasty></ng2-toasty>
<div class="container">
  <md-sidenav-container class="nav-container">

    <md-sidenav #sidenav [mode]="sideNavMode" [opened]="sideNavOpened">
      <aqua-navigation-bar></aqua-navigation-bar>
    </md-sidenav>
    <md-toolbar class="header" color="primary" *ngIf="currentRole && currentRole.employee">
      <span md-icon-button *ngIf="!sidenav.opened" (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </span>
      <span class="example-spacer"></span>
      <div class="org-name" [class.with-sub-text]= "currentRole.employee.division && currentRole.employee.division.name && currentRole.employee.division.code !== 'default'" *ngIf="currentRole && currentRole.organization && currentRole.organization">
       <div>{{currentRole.organization.name}}
       </div> 
       <span class="sub-text" *ngIf= "currentRole.employee.division && currentRole.employee.division.name && currentRole.employee.division.code !== 'default'">{{currentRole.employee.division.name}}</span>
      </div>
      <span class="example-spacer"></span>
      <button md-button (click)="logout()" mdTooltip="Logout" [mdTooltipPosition]="'below'">
        {{currentRole?.employee?.profile?.firstName}}
        {{currentRole?.employee?.profile.lastName}}
        <md-icon class="example-icon">exit_to_app</md-icon>
      </button>
    </md-toolbar>

    <div [class.body]="currentRole">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
<div *ngIf="envName" class="alert alert-info text-center">{{envName}}</div>
