<div class="row page_header">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>
            <b>Weekly Roaster</b>
        </h5>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls-row">
        <span class="spacer"></span>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Week</span>
            <input id="weekSelector" type="text" class="form-control input-sm calendar no-spin">
        </div>
        <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'">
          <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
      </button>
        <button [matMenuTriggerFor]="moreMenu" md-icon-button> <md-icon>more_vert</md-icon></button>
        <md-menu #moreMenu="mdMenu">
            <button md-menu-item [disabled]="isDownloading || isLoading" (click)="export()" mdTooltip="Download Excel" [mdTooltipPosition]="'above'">
                <md-icon>cloud_download</md-icon> Download
            </button>
            <button md-menu-item [disabled]="isLoading || isDownloading" (click)="import()" mdTooltip="Excel Upload" [mdTooltipPosition]="'above'">
                <md-icon>cloud_upload</md-icon> Upload
            </button>
            <button (click)="resetShifts()" md-menu-item> <md-icon>build</md-icon> Reset</button>
        </md-menu>
    </div>
</div>

<!-- <div *ngIf="isUpload" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span class="uploadXl">
            <b>Excel Upload</b>
        </span>&nbsp;&nbsp;
    <input class="file" id="uploader" type="file" ng2FileSelect [uploader]="uploader" />
    <div *ngFor="let item of uploader.queue" class="queue">
        <button md-icon-button class="uploadBtn" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <md-icon>cloud_upload</md-icon>
            </button>
        <button md-icon-button class="uploadBtn" (click)="excel()" [disabled]="item.isReady || item.isUploading  || uploader.isUploading">
                <md-icon>highlight_off</md-icon>
            </button>
    </div>
    <button *ngIf="uploader?.queue?.length == 0" class="uploadBtn" (click)="excel()" md-icon-button>
            <md-icon>highlight_off</md-icon>
        </button>
</div> -->
<div class="row" *ngIf="isFilter">
    <md-card class="card">
        <div class="row text-center headr_bar">
            <h5>
                <b>Filters</b>
            </h5>
            <div class="actionBtns">
                <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter">
                    <md-icon>highlight_off</md-icon>
                </button>
            </div>
        </div>
        <aqua-employees-filter [hidden]="{attendanceStatus: true,userType: true}" (onReset)="reset()" (onChange)="applyFilters($event)"></aqua-employees-filter>
    </md-card>
</div>

<md-spinner class="custom_spinner" *ngIf="isDownloading || isLoading" mode="indeterminate"></md-spinner>
<div class="row">
    <md-card class="card">
        <div class="row text-center noData" *ngIf="effectiveShifts?.items?.length == 0">
            <h5>
                <b>no data to display !</b>
            </h5>
        </div>
        <table class="table table-condensed" *ngIf="effectiveShifts?.items?.length > 0">
            <thead class="primary_thead">
                <tr>
                    <th rowspan="2">Name/Code</th>
                    <th rowspan="2">Auto</th>
                    <th class="tdWidth" rowspan="2">Previous</th>
                    <th class="text-center tdWidth week" *ngFor="let date of dates">
                        <span [class.past]="date < isDateToday" [class.future]="date > isDateToday" [class.today]="(date | date:'dd/MM/yyyy') === (isDateToday | date:'dd/MM/yyyy')">{{date | date:'EEE'}}</span>
                    </th>
                </tr>
                <tr>
                    <th class="text-center tdWidth week" *ngFor="let date of dates ;let idx = index">
                        <span [class.past]="date < isDateToday" [class.future]="date > isDateToday" [class.today]="(date | date:'dd/MM/yyyy') === (isDateToday | date:'dd/MM/yyyy')">
                            <a *ngIf="idx === 0" (click)="previousWeek()">&laquo;</a>
                          {{date | date:'dd/MM'}}
                          <a  *ngIf="idx === 6" (click)="nextWeek()">&raquo;</a>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of effectiveShifts.items | paginate: { id: 'foo',
                    itemsPerPage: effectiveShifts.pageSize,
                    currentPage: effectiveShifts.pageNo,
                    totalItems: effectiveShifts.totalRecords };">
                    <td class="customStyle">{{item.employee.name || '--'}}
                        <br>
                        <span class="empCode">{{item.employee.code || '--'}}</span>
                    </td>
                    <td>
                        <md-slide-toggle [checked]="item.employee.isDynamicShift" (change)="toggleDynamicShift(item.employee)"></md-slide-toggle>
                    </td>
                    <td>
                        <div *ngIf="item.employee.isDynamicShift" class="shift disabled"></div>
                        <div *ngIf="!item.employee.isDynamicShift" class="shift previous" [style.border-color]="shiftColour(item?.previousShift?.shiftType)">{{item?.previousShift?.shiftType?.name || '--'}}</div>
                    </td>
                    <td class="tdStyle" *ngFor="let date of dates">
                        <aqua-shift-picker [shiftTypes]="shiftTypes.items" [effectiveShift]="item" [date]="date" (attendanceUpdated)="employeeUpdated(item)" (shiftUpdated)="employeeUpdated(item)" (leaveUpdated)="employeeUpdated(item)"></aqua-shift-picker>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="custom_pagination">
                <pagination-controls id="foo" (pageChange)="effectiveShifts.pageNo = $event;getEffectiveShift(effectiveShifts.filters.properties['fromDate']['value']);"></pagination-controls>
                <label>Total Records: {{effectiveShifts.totalRecords}}</label>
                <div class="pageSize" style="display: none;">
                    <label>Page Size:</label>
                    <select name="pageSize" [(ngModel)]="effectiveShifts.pageSize" (change)="effectiveShifts.pageNo = 1;getEffectiveShift(effectiveShifts.filters.properties['fromDate']['value'])">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </md-card>
</div>