<div class="tool-bar controls-row">
  <h5> Weekly Roaster</h5>
  <span class="spacer"></span>
  <button md-icon-button (click)="showPreviousWeek()">
    <md-icon>arrow_back</md-icon>
  </button>
  <div class="input-group">
    <input id="weekSelector" type="text" class="form-control input-sm calendar no-spin">
  </div>
  <button md-icon-button (click)="showNextWeek()">
    <md-icon>arrow_forward</md-icon>
  </button>
  <span class="spacer"></span>

  <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'">
    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button md-menu-item [disabled]="isDownloading || isLoading" (click)="export()" mdTooltip="Download Excel"
      [mdTooltipPosition]="'above'">
      <md-icon>cloud_download</md-icon> Download
    </button>
    <button md-menu-item [disabled]="isLoading || isDownloading" (click)="import()" mdTooltip="Excel Upload"
      [mdTooltipPosition]="'above'">
      <md-icon>cloud_upload</md-icon> Upload
    </button>
    <button (click)="resetShifts()" md-menu-item>
      <md-icon>build</md-icon> Reset
    </button>
  </md-menu>
</div>

<aqua-employees-filter *ngIf="isFilter" [fields]="filterFields" (onReset)="reset()" (onChange)="applyFilters($event)"></aqua-employees-filter>

<md-spinner class="custom_spinner" *ngIf="isDownloading || isLoading" mode="indeterminate"></md-spinner>

<md-card class="card">
  <table class="table table-condensed">
    <thead class="primary_thead mobileView">
      <tr>
        <th class="mvWidth">Name/Code</th>
        <th class="mvWidth">Auto</th>
        <th class="mvWidth">
          <input id="daySelector" type="text" class="form-control input-sm calendar no-spin">
        </th>
      </tr>
    </thead>
  </table>
</md-card>


<md-card class="card">
  <div class="row text-center noData" *ngIf="effectiveShifts?.items?.length == 0">
    <h5>No data to display !</h5>
  </div>
  <table class="table table-condensed" *ngIf="effectiveShifts?.items?.length > 0">
    <thead class="primary_thead webView">
      <tr>
        <th rowspan="2">Name/Code</th>
        <th rowspan="2">Auto</th>
        <th class="tdWidth" rowspan="2">Previous</th>
        <th class="text-center tdWidth week" *ngFor="let date of dates">
          <div [class.past]="date < isDateToday" [class.future]="date > isDateToday" [class.today]="(date | date:'dd/MM/yyyy') === (isDateToday | date:'dd/MM/yyyy')">
            {{date| date:'EEE'}}
            <div class="sub-text">{{date | date:'dd/MM'}}</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="webView">
      <tr *ngFor="let item of effectiveShifts.items | paginate: { id: 'foo',
                itemsPerPage: effectiveShifts.pageSize,
                currentPage: effectiveShifts.pageNo,
                totalItems: effectiveShifts.totalRecords };">
        <td class="customStyle">
          <div>{{item.employee.name || '--'}}</div>
          <span class="sub-text">{{item.employee.code || ''}}</span>
        </td>
        <td>
          <md-slide-toggle [checked]="item.employee.isDynamicShift" (change)="toggleDynamicShift(item.employee)"></md-slide-toggle>
        </td>
        <td>
          <div *ngIf="item.employee.isDynamicShift" class="shift disabled"></div>
          <div *ngIf="!item.employee.isDynamicShift" class="shift previous" [style.border-color]="item?.previousShift?.shiftType.color">{{item?.previousShift?.shiftType?.name
            || '--'}}</div>
        </td>
        <td class="tdStyle" *ngFor="let date of dates">
          <aqua-shift-picker [shiftTypes]="shiftTypes.items" [effectiveShift]="item" [date]="date" (attendanceUpdated)="employeeUpdated(item)"
            (shiftUpdated)="employeeUpdated(item)" (leaveUpdated)="employeeUpdated(item)"></aqua-shift-picker>
        </td>
      </tr>
    </tbody>
  </table>

</md-card>

<div class="mobileView">
  <aqua-roster-shifts-mobile *ngIf="effectiveShifts?.items?.length > 0" [shiftTypes]="shiftTypes.items"
    [effectiveShift]="effectiveShifts.items" (dateChanged)="getData($event)" (dynamicEmployee)="getEmployeeStatus($event)"
    [date]="selectedDate"></aqua-roster-shifts-mobile>
</div>

<div class="custom_pagination">
  <pagination-controls id="foo" (pageChange)="effectiveShifts.pageNo = $event;getEffectiveShift(effectiveShifts.filters.properties['fromDate']['value']);"></pagination-controls>
  <label>Total Records: {{effectiveShifts.totalRecords}}</label>
  <div class="pageSize" style="display: none;">
    <label>Page Size:</label>
    <select name="pageSize" [(ngModel)]="effectiveShifts.pageSize" (change)="effectiveShifts.pageNo = 1;getEffectiveShift(effectiveShifts.filters.properties['fromDate']['value'])">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>
