<div class="row page_header">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5><b>Alerts</b></h5>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="headerBtns">
            <button md-icon-button [disabled]="alerts?.isLoading" [routerLink]="['/pages/settings/alerts/types']" mdTooltip="Add" class="marginLetf" [mdTooltipPosition]="'above'"><md-icon >add_circle_outline</md-icon></button>
        </div>
    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="alerts?.isLoading" mode="indeterminate"></md-spinner>

<div class="row bottom_row">
    <div class="alertBox col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let item of alerts.items">
        <br>
        <md-card>
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-7 col-lg-7">
                    <h5><b>{{item?.alertType?.name}}</b></h5>
                    <p>{{item?.alertType?.description}}</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-5 col-lg-5">
                    <img width="100%" [src]="item?.alertType?.picUrl">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  capitalize">
                    <br>
                    <md-slide-toggle [checked]="item?.status == 'active'" (change)="toggleStatus(item)">{{item?.status}}</md-slide-toggle>
                    <a md-raised-button color="primary" class="rightBtns" [routerLink]="['/pages/settings/alerts',item?.id]">Configure</a>
                </div>
            </div>
        </md-card>
    </div>
</div>