<video poster="assets/images/login/bg.png" id="bgvid" playsinline autoplay muted loop>
        <!-- <source src="images/bgvideo.mp4" type="video/mp4"> -->
  </video>


<div class="row text-center rowBody">
    <div id="header">
        <nav class="navbar custmNav navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img src="assets/images/login/logo1.png" alt="scrolllogo" class="logo" style="display:none" id="scrollLogo" />
                    </a>
                </div>
                <div id="nav">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="http://qa.www.hrms.aqua.m-sas.com/index.html#header" target="_blank">Home</a></li>
                            <li><a href="http://qa.www.hrms.aqua.m-sas.com/index.html#feature" target="_blank">Features</a></li>
                            <li><a href="http://qa.www.hrms.aqua.m-sas.com/index.html#about" target="_blank">About Us</a></li>
                            <li><a href="http://qa.www.hrms.aqua.m-sas.com/index.html#contact" target="_blank">Contact</a></li>
                            <li><a [routerLink]="['/login']">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <br>
    <img src="assets/images/login/logo.png">
    <br>
    <br>
    <h3>Download App</h3>
    <br>
    <br>
    <br>
    <div class="row text-center links">
        <a href="http://bit.ly/2sPVnP3">
            <img src="assets/images/googlestore.png">
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://goo.gl/A4op5a">
            <img src="assets/images/appstore.png">
        </a>
    </div>
</div>