<div class="tool-bar controls-row">
  <h5>Employees</h5>
  <span class="spacer"></span>
  <div class="input-group">
    <span class="input-group-addon">Status:</span>
    <select class="form-control" [(ngModel)]="statusFilter" (change)="fetchByStatus()">
      <option [value]="'new'">New</option>
      <option [value]="'active'">Active</option>
      <option [value]="'inactive'">Deactivated</option>
      <option [value]="'archived'">Archived</option>
    </select>
  </div>
  <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'">
    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button md-menu-item [routerLink]="['new']" mdTooltip="New Employee" [mdTooltipPosition]="'above'">
      <md-icon>add_circle_outline</md-icon> New Employee
    </button>
    <button md-menu-item (click)="downloadlink()">
      <md-icon>cloud_download</md-icon> Export
    </button>
    <button md-menu-item (click)="import()" mdTooltip="Upload">
      <md-icon>cloud_upload</md-icon> Import
    </button>
  </md-menu>
</div>
<aqua-employees-filter *ngIf="isFilter" [fields]="filterFields" (onReset)="reset()" (onChange)="applyFilters($event)"></aqua-employees-filter>
<md-spinner class="custom_spinner" *ngIf="employees?.isLoading || uploader.isUploading || employee?.isProcessing" mode="indeterminate"></md-spinner>
<md-card class="card">
  <div class="row text-center noData" *ngIf="employees?.items?.length == 0">
    <h5> No data to display !</h5>
  </div>
  <div class="table-responsive" *ngIf="employees?.items?.length > 0">
    <table class="table table-condensed table-hover">
      <thead class="primary_thead">
        <tr>
          <th>Name</th>
          <th class="tdWidth">Designation</th>
          <th class="tdWidth">Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employees.items | paginate: { id: 'foo',
                                                      itemsPerPage: employees.pageSize,
                                                      currentPage: employees.pageNo,
                                                      totalItems: employees.totalRecords };"
          class="capitalize">

          <td>
            <div class="cols">
              <div>
                <img *ngIf="item?.profile?.pic?.url" class="img-circle img-profile" alt="img" [src]="item?.profile?.pic?.url"
                  onError="this.src='/assets/images/blank.png'">
                <img *ngIf="!item?.profile?.pic?.url" class="img-circle img-profile" alt="img" src="assets/images/blank.png">
              </div>
              <div>
                <a [routerLink]="[item.code]">{{item?.profile?.firstName || '-'}}
                  {{item?.profile?.lastName || ''}}</a>
                <p class="sub-text">{{item?.code || ''}}</p>
              </div>
            </div>
          </td>
          <td class="tdWidth">
            <span *ngIf="item?.designation">{{(item?.designation?.code && item?.designation?.code !==
              'default')? item?.designation?.name : '--' }}
            </span>
          </td>
          <td class="tdWidth">
            <span *ngIf="item?.department">{{(item?.department?.code && item?.department?.code !==
              'default')? item?.department?.name : '--' }}</span>
            <p class="sub-text" *ngIf="item?.config?.contractor">{{(item?.config?.contractor?.code &&
              item?.config?.contractor?.code !==
              'default')? item?.config?.contractor?.name : '' }}</p>
          </td>
          <td class="tdWidth text-center">
            <button md-icon-button class="subtle" mdTooltip="Edit" [mdTooltipPosition]="'above'" [routerLink]="[item.code]">
              <md-icon>edit</md-icon>
            </button>
            &nbsp;
            <button [disabled]="employees?.isLoading || employee?.isProcessing" md-icon-button class="subtle" mdTooltip="Terminate"
              [mdTooltipPosition]="'above'" (click)="terminateEmp(item.id, item.name)">
              <i class="fa fa-user-times fa-lg" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="custom_pagination">
      <pagination-controls id="foo" (pageChange)="employees.pageNo = $event;fetchEmp();"></pagination-controls>
      <label>Total Records: {{employees.totalRecords}}</label>
      <div class="pageSize">
        <label>Page Size:</label>
        <select name="pageSize" [(ngModel)]="employees.pageSize" (change)="employees.pageNo = 1;fetchEmp()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </div>
    </div>
  </div>
</md-card>
