<div class="row page_header">
    <div *ngIf="!isUpload" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>
            <b>Employee List</b>
        </h5>
    </div>
    <div *ngIf="!isUpload" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="filterStatus">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Status:</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle capitalize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{statusFilter}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="fetchEmp('activate')">Activate</a>
                        </li>
                        <li>
                            <a (click)="fetchEmp('verified')">verified</a>
                        </li>
                        <li>
                            <a (click)="fetchEmp('inComplete')">In Complete</a>
                        </li>
                        <li>
                            <a (click)="fetchEmp('pending')">Pending</a>
                        </li>
                        <li>
                            <a (click)="fetchEmp('deactivate')">Deactivate</a>
                        </li>
                        <li>
                            <a (click)="fetchEmp('archive')">Archive</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filtrEmpName">
            <form>
                <div class="input-group">
                    <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="employees?.isLoading || employee?.isProcessing"
                        [(ngModel)]="employees.filters.properties['name']['value']" name="Name" placeholder="Search by employee name">
                    <span class="input-group-btn">
                        <button [disabled]="employees?.isLoading || employee?.isProcessing" class="btn btn-default" type="submit" (click)="fetchEmp()">Search</button>
                        <!--<button  class="btn btn-default" type="submit" (click)="fetchEmp()">New</button>-->
                    </span>
                </div>
            </form>

        </div>
        <a class="newEmp" md-icon-button [routerLink]="['new']" mdTooltip="New Employee" [mdTooltipPosition]="'above'">
            <md-icon>add_circle_outline</md-icon>
        </a>
        <a class="exl" md-icon-button (click)="excel()" mdTooltip="Excel Upload" [mdTooltipPosition]="'above'" angulartics2On="click"
            angularticsEvent="excelUploadClick" angularticsCategory="employee " [angularticsProperties]="{label: 'Fall Campaign'}">
            <md-icon>cloud_upload</md-icon>
        </a>
        <a class="exlD" md-icon-button mdTooltip="Excel Download" [mdMenuTriggerFor]="appMenu" [mdTooltipPosition]="'above'" angulartics2On="click"
            angularticsEvent="excelUploadClick" angularticsCategory="employee " [angularticsProperties]="{label: 'Fall Campaign'}">
            <md-icon>cloud_download</md-icon>
        </a>
        <md-menu #appMenu="mdMenu">
            <button md-menu-item (click)="download(true,false,'Extra hours - after Shift end time')">Employee Add</button>
            <button md-menu-item (click)="download(false,true,'Extra hours - after Shift hours')">Employee Update
            </button>
            <button md-menu-item (click)="download(false,false, 'Day Attendance')">Biometric Add</button>
        </md-menu>

    </div>
    <div *ngIf="isUpload" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 upload">
            <span style="float: left">
                <b>Select type</b>
            </span>&nbsp;&nbsp;
            <select [disabled]="dailyAttendnace?.isLoading  || isDownloading" placeholder="Status" name="Status" style="width: 50%; height:30px'">
                <option value="">Employee Add</option>
                <option value="present">Employee Update</option>
                <option value="absent">BIometric Add</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 upload">
            <span style="float: left">
                <b>Excel Upload</b>
            </span>&nbsp;&nbsp;
            <input class="file" id="uploader" type="file" ng2FileSelect [uploader]="uploader" angulartics2On="click" angularticsEvent="chooseFileClick"
                angularticsCategory="employee" [angularticsProperties]="{label: 'Fall Campaign'}" />
            <div *ngFor="let item of uploader.queue" class="queue">
                <button md-icon-button class="uploadBtn" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <md-icon>cloud_upload</md-icon>
                </button>
                <button md-icon-button class="uploadBtn" (click)="excel()" [disabled]="item.isReady || item.isUploading  || uploader.isUploading">
                    <md-icon>highlight_off</md-icon>
                </button>
            </div>
            <button *ngIf="uploader?.queue?.length == 0" class="uploadBtn" (click)="excel()" md-icon-button>
                <md-icon>highlight_off</md-icon>
            </button>
        </div>

    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="employees?.isLoading || uploader.isUploading || employee?.isProcessing" mode="indeterminate"></md-spinner>
<div class="row">
    <md-card class="card">
        <div class="row text-center noData" *ngIf="employees?.items?.length == 0">
            <h5>
                <b>no data to display !</b>
            </h5>
        </div>
        <div class="table-responsive" *ngIf="employees?.items?.length > 0">
            <table class="table table-condensed table-hover">
                <thead class="primary_thead">
                    <tr>
                        <th>Name</th>
                        <th class="tdWidth">Code</th>
                        <th class="tdWidth">Status</th>
                        <th class="tdWidth">Designation</th>
                        <th class="tdWidth  text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of employees.items | paginate: { id: 'foo',
                                                      itemsPerPage: employees.pageSize,
                                                      currentPage: employees.pageNo,
                                                      totalItems: employees.totalRecords };" class="capitalize">

                        <td>
                            <img *ngIf="item?.picUrl" class="img-circle profile_pic" alt="img" [src]="item?.picUrl">
                            <img *ngIf="!item?.picUrl" class="img-circle profile_pic" alt="img" src="assets/images/blank.png"> &nbsp;
                            <a [routerLink]="[item.id]">{{item?.name || '--'}}</a>
                        </td>
                        <td class="tdWidth">{{item?.code || '--'}}</td>
                        <td class="tdWidth">{{item?.status || '--'}}</td>
                        <td class="tdWidth">{{item?.designation || '--'}}</td>
                        <td class="tdWidth text-center">
                            <a md-icon-button class="button_align cursor" mdTooltip="Edit details" [mdTooltipPosition]="'above'" [routerLink]="[item.id]">
                                <md-icon>edit</md-icon>
                            </a>
                            &nbsp;
                            <button [disabled]="employees?.isLoading || employee?.isProcessing" md-icon-button class="button_align cursor" mdTooltip="Terminate"
                                [mdTooltipPosition]="'above'" (click)="terminateEmp(item.id, item.name)">
                                <i class="fa fa-user-times fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="custom_pagination">
                <pagination-controls id="foo" (pageChange)="employees.pageNo = $event;fetchEmp(status);"></pagination-controls>
                <label>Total Records: {{employees.totalRecords}}</label>
                <div class="pageSize">
                    <label>Page Size:</label>
                    <select name="pageSize" [(ngModel)]="employees.pageSize" (change)="employees.pageNo = 1;fetchEmp()">
                        <!-- <option value=10>10</option>
                      <option value=20>20</option> -->
                        <option value=50>50</option>
                        <option value=100>100</option>
                        <option value=500>500</option>
                    </select>
                </div>
            </div>
        </div>
    </md-card>
</div>