

.setting {
    position: absolute;
    top: 1px;
    right: 3px;
}

.bottom_row {
    margin-bottom: 2%;
}
.btnDownload{
    background-color: #6b6b6b;
    align-content: flex-end;
    color: white;
}
.btnNotification{
    background-color: #6b6b6b;
    align-content: flex-end;
    color: white;
    margin-left: 6.6%;
}
.btnView{
    background-color: #6b6b6b !important;
    align-content: flex-end;
    color: white !important;
}
.imgCard {
    height: 200px;
    overflow: auto;
}
.btnView[_ngcontent-c7] {
    background-color: #6b6b6b !important;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    color: white !important;
    margin-right: 43px !important;
}