<div *ngIf="status">
  <ng-template #elsePart>
    <div *ngIf="isPast" class="badge shift-status" [class.warn]="status === 'absent'" [class.info]="status === 'present'"
      [class.disabled]="firstHalfStatus === 'A' && secondHalfStatus === 'A'" [class.first]="firstHalfStatus === 'P' && secondHalfStatus === 'A'"
      [class.second]="firstHalfStatus === 'A' && secondHalfStatus === 'P'">
      {{status | titlecase}}
    </div>

    <div *ngIf="!isPast && status == 'absent'" class="badge shift-status warn">{{status | titlecase}}</div>

    <div *ngIf="!isPast && status !== 'absent'" class="badge shift-status" [class.info]="status === 'present'"
      [class.second]="firstHalfStatus === 'A'">{{status | titlecase}}
    </div>

    <aqua-shift-count *ngIf="isPast && status !== 'absent'" [count]="count"></aqua-shift-count>
  </ng-template>
  <span *ngIf="status == 'absent' && (shiftStatus === 'weekOff' || shiftStatus === 'holiday'); else elsePart">{{shiftStatus
    | titlecase}}</span>
</div>
