<div class="filters">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="row" *ngFor="let item of alert?.properties?.alertType?.trigger?.parameters">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h5>
            <b>{{item?.title}} <span class="star">*</span></b>
          </h5>
          <p>{{item?.description}}</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div *ngIf="item.type.toLowerCase() == 'number' && item.expectedValues.length == 0">
            <input type="number" class="form-control" [name]="item?.name" [maxlength]="validatorService.aletrNumberLength" [pattern]="validatorService.onlyNumber"
              [(ngModel)]="item.value">
          </div>
          <div *ngIf="item.type.toLowerCase() == 'string' && item.expectedValues.length == 0">
            <input type="text" class="form-control" [name]="item?.name" [(ngModel)]="item.value" [maxlength]="validatorService.textLength">
          </div>
          <div *ngIf="item.expectedValues.length != 0">
            <select class="form-control" [name]="item?.name" [(ngModel)]="item.value">
              <option [ngValue]="null"></option>
              <option *ngFor="let i of item.expectedValues" [value]="i">{{i}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label>Date<span  class="star">*</span></label>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                <input id="dateSelector" type="text" class="form-control input-sm calendar no-spin">

      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin-top: 50px">
        <label>Name</label>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: 50px">
        <input type="text" class="form-control">
      </div>

    </div>
  </div>
 

</div>