<div class="rows">
    <div *ngIf="show.datePicker || show.monthPicker">
        <div *ngIf="show.datePicker" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="from">Date <span class="required">*</span></label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input class="form-control calendar no-spin" type="date" required [(ngModel)]="reportRequest.reportParams.from">
            </div>
        </div>

        <div *ngIf="show.monthPicker" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="from">Month<span class="required">*</span></label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input class="form-control calendar no-spin" type="month" required [(ngModel)]="reportRequest.reportParams.from">
            </div>
        </div>
    </div>
    <md-divider *ngIf="show.employeeFilters && (show.datePicker || show.monthPicker)"></md-divider>
    <div *ngIf="show.employeeFilters">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="name">Name</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input class="form-control" ngui-auto-complete [min-chars]="1" placeholder="Employee search" [(ngModel)]="employee" (valueChanged)="onSelectEmp($event)" [source]="empSource.bind(this)" [value-formatter]="empFormatter" [list-formatter]="empListFormatter"
                    name="roleId" />
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label for="name">Team</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input class="form-control" ngui-auto-complete [min-chars]="1" placeholder="Supervisor search" [(ngModel)]="supervisor" (valueChanged)="onSelectSup($event)" [source]="empSource.bind(this)" [value-formatter]="empFormatter" [list-formatter]="empListFormatter"
                    name="roleId" />
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group" *ngFor="let item of tagTypes?.items">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label>{{item?.name | titlecase}}</label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control" [disabled]="isLoading" #tag (change)="tags.select({tagTypeId:item.id,tagId:tag.value})" placeholder="Tag" name="tags">
              <option selected [ngValue]="null">select an option</option>
              <option *ngFor="let tag of item?.tags" [value]="tag.id">
                {{tag?.name | titlecase}}
              </option>
            </select>
            </div>
        </div>
    </div>
    <div class="controls-row footer">
        <span class="spacer"></span>
        <button md-button (click)="type=''">Cancel</button>
        <button md-raised-button color="primary" [disabled]="!reportRequest.reportParams.from" (click)="onSubmit()">Submit</button>
    </div>
    <md-spinner class="custom_spinner" *ngIf="isLoading" mode="indeterminate"></md-spinner>
</div>