.filterSize {
    width: 30% !important;
}

.marginLeft {
    margin-left: 25% !important;
}

.required {
    color: red;
}

.paddingClass {
    padding-top: 2%;
}

.rows div {
    padding-top: 5px;
}

.rows .footer {
    padding-bottom: 5px;
}
