.dayName {
    padding: 4%;
}

.dots {
    padding: 1%;
    text-align: center;
}

.dot {
    width: 20% !important;
    float: left;
    font-size: 48%;
}

.dot img {
    width: 7%;
}

.day {
    cursor: pointer;
}

.day:hover {
    background-color: #c6e7ec !important;
}

.day p {
    color: grey;
    margin: 0;
    font-size: 40%;
}

.calBox {
    /*border: 1px solid;*/
    background-color: #f1f1f1;
    width: 14.28%;
    float: left;
    /* margin: 0.1%; */
    padding: 0.1%;
    border: 0.1px solid white;
    text-align: center;
    height: 70px;
    font-size: 76%;
}

.calender {
    margin-top: 1%;
}

.absent {
    background-image: url(../../../assets/images/corners/absent-icon.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 18%;
}

.present {
    background-image: url(../../../assets/images/corners/present-icon.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 18%;
}

.leave {
    background-image: url(../../../assets/images/corners/leave-icon.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 18%;
}

.holiday {
    background-image: url(../../../assets/images/corners/holiday-icon.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 18%;
}

.weekoff {
    color: grey !important;
}

.profile-card {
    /* padding: 0; */
}

.calHeader {
    background: #00a8c6;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
