<div class="row" style="
margin: 0 auto;word-break: break-all;
">

    <md-spinner class="custom_spinner" *ngIf="isProcessingAttendance" mode="indeterminate"></md-spinner>
    <md-card class="dots">
        <div class="row">
            <div class="dot"><img src="assets/images/dots/present.png">&nbsp;Present</div>
            <div class="dot"><img src="assets/images/dots/absent.png">&nbsp;Absent</div>
            <div class="dot"><img src="assets/images/dots/leave.png">&nbsp;Leave</div>
            <div class="dot"><img src="assets/images/dots/misswipe.png">&nbsp;Missed Swipe</div>
            <div class="dot"><img src="assets/images/dots/holiday.png">&nbsp;Holiday</div>
        </div>
    </md-card>
    <br>
    <md-card>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 calHeader text-center cursor">
                <h5><b>{{selectedDate | date:'MMMM y'}}</b></h5>
            </div>
            <br>
            <div class="calBox dayName" *ngFor="let item of days">{{item}}</div>
            <div class="calBox" *ngFor="let item of emptyStartDays"></div>
            <div class="calBox day corners shadow" *ngFor="let item of events;let i = index" [ngClass]="{'present': (item?.status === 'present' || item?.status === 'checkedin'),
                                                                                   'absent':item?.status === 'absent'  && item?.shift?.status === 'working',
                                                                                   'leave':item?.status === 'onleave' || item?.status === 'halfday'  && item?.shift?.status === 'working',
                                                                                   'missedSwipe':item?.status === 'missswipe',
                                                                                   'weekoff':item?.shift?.status === 'weekoff' && (item?.status !== 'present' && item?.status !== 'checkedin' && item?.status !== 'missswipe'),
                                                                                   'holiday':item?.shift?.status === 'holiday' && (item?.status !== 'present' && item?.status !== 'checkedin' && item?.status !== 'missswipe')}">
                <h6>{{getDate(item?.ofDate)}}</h6>
                <!--<p>{{i}} {{item?.ofDate | date}}</p>-->
                <!--<p>{{item?.ofDate}}</p>-->
                <!--<div *ngIf="item?.shift?.status === 'working'">-->
                <p *ngIf="item?.status === 'present'
             || item?.status === 'checkedin'
             || item?.status === 'missswipe'
             || item?.status === 'checked-in-again'
             || item?.status === 'halfday'">
                    In - {{item?.checkIn | date:'shortTime'}}
                </p>
                <p *ngIf="item?.status === 'present'
            || item?.status === 'checkedin'
            || item?.status === 'missswipe'
            || item?.status === 'checked-in-again'
            || item?.status === 'halfday'">
                    Out - {{item?.checkOut | date:'shortTime'}}
                </p>
                <p *ngIf="item?.status === 'onleave'
            || item?.status === 'absent'
            && item?.shift?.status === 'working'">
                    <span class="capitalize">{{item?.status}}</span>
                </p>
                <p *ngIf="item?.shift?.status === 'holiday' &&
              (item?.status !== 'present' && item?.status !== 'checkedin' && item?.status !== 'missswipe')">
                    <span class="capitalize">{{item?.shift?.holiday?.name}}</span>
                </p>
                <!--</div>-->
            </div>
        </div>
    </md-card>

</div>