<div class="tool-bar controls-row">
  <h5>{{ isNew ? 'New': 'Edit'}} Shift</h5>
  <span class="spacer"></span>
  <a md-icon-button *ngIf="!isNew" (click)="backClicked()">
    <md-icon>close</md-icon>
  </a>
  <ng-container *ngIf="isNew">
    <button md-button (click)="backClicked()">Cancel</button>
    <button md-raised-button [disabled]="shiftType?.isProcessing || shiftType.properties.name" color="primary" (click)="save()">Next
    </button>
  </ng-container>
</div>

<md-spinner class="custom_spinner" *ngIf="shiftType?.isProcessing" mode="indeterminate"></md-spinner>

<div class="row">
  <md-card>
    <div class="table-responsive">
      <form #shiftForm="ngForm">
        <!-- table-condensed -->
        <table class="table ">
          <tr>
            <td class="labelWidth">
              <label>Name<span class="asterisk">*</span></label>
            </td>
            <td class="valueWidth">
              <input type="text" class="form-control" [maxlength]="validatorService.textLength" name="shiftName"
                [(ngModel)]="shiftType.properties.name" required [disabled]="shiftType?.properties?.name?.toLowerCase() === 'general'">
            </td>
            <td class="labelWidth">
              <label>Code<span class="asterisk">*</span></label>
            </td>
            <td class="valueWidth">
              <input type="text" class="form-control" [maxlength]="validatorService.textLength" name="shiftcode"
                [(ngModel)]="shiftType.properties.code" required [disabled]="shiftType?.properties?.code?.toLowerCase() === 'gen'">
            </td>
          </tr>
          <tr>
            <td>
              <label>Start Time<span class="asterisk">*</span></label>
            </td>
            <td>
              <input type="time" class="form-control" name="startTime" [(ngModel)]="shiftType.properties.startTime"
                required>
            </td>
            <td>
              <label>End Time<span class="asterisk">*</span></label>
            </td>
            <td>
              <input type="time" class="form-control" name="endTime" [(ngModel)]="shiftType.properties.endTime"
                required>
            </td>
          </tr>
          <tr>
            <td>
              <label>Department</label>
            </td>
            <td>
              <select class="form-control" [(ngModel)]="shiftType.properties.department" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="null">Select an option</option>
                <option *ngFor="let item of departments" [value]="item.name">{{item.name}}</option>
              </select>
            </td>
            <td><label>Break Time<span class="asterisk">*</span></label></td>
            <td>
              <input type="text" class="form-control" [maxlength]='2' name="breakTime" [(ngModel)]="shiftType.properties.breakTime"
                required>
            </td>

          </tr>
          <tr>
            <td colspan="2"><label>Grace CheckIn</label></td>

            <td colspan="2"><label>Grace CheckOut</label></td>

          </tr>
          <tr>
            <td colspan="2">
              <div class="graceLable">
                <label>Early<span class="asterisk">*</span></label>
                <input type="text" class="form-control graceInput" [maxlength]='2' name="earlyIn" [(ngModel)]="shiftType?.properties.grace?.checkIn.early"
                  required>
              </div>
              <div class="graceLable">
                <label>Late<span class="asterisk">*</span></label><input type="text" class="form-control graceInput"
                  [maxlength]='2' name="lateIn" [(ngModel)]="shiftType?.properties.grace?.checkIn.late" required>
              </div>
            </td>
            <td colspan="2">
              <div class="graceLable">
                <label>Early<span class="asterisk">*</span></label>
                <input type="text" class="form-control graceInput" [maxlength]='2' name="earlyOut" [(ngModel)]="shiftType?.properties.grace?.checkOut.early"
                  required>
              </div>
              <div class="graceLable">
                <label>Late<span class="asterisk">*</span></label>
                <input type="text" class="form-control graceInput" [maxlength]='2' name="lateOut" [(ngModel)]="shiftType?.properties.grace?.checkOut.late"
                  required>
              </div>
            </td>

            <!-- <td><label>Early<span class="asterisk">*</span></label>

                <input type="text" class="form-control" [maxlength]='2' name="graceIn" [(ngModel)]="shiftType.properties.graceIn"
                  required>
              </td>
              <td ><label>Late<span class="asterisk">*</span></label>
                <input type="text" class="form-control" [maxlength]='2' name="graceOut" [(ngModel)]="shiftType.properties.graceOut"
                  required>
              </td> -->
          </tr>
          <tr>
            <td>
              <label>Days</label>
            </td>
            <td>
              <label>Type</label>
            </td>
            <td>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Monday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="monday" [(ngModel)]="shiftType.properties.monday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td>

            </td>
            <td></td>
          </tr>

          <tr>
            <td>
              <label>Tuesday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="tuesday" [(ngModel)]="shiftType.properties.tuesday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Wednesday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="Wednesday" [(ngModel)]="shiftType.properties.wednesday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td>
            </td>
            <td></td>
          </tr>

          <tr>
            <td>
              <label>Thursday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="thrusday" [(ngModel)]="shiftType.properties.thursday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Friday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="friday" [(ngModel)]="shiftType.properties.friday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Saturday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="saturday" [(ngModel)]="shiftType.properties.saturday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Sunday<span class="asterisk">*</span></label>
            </td>
            <td>
              <select class="form-control" name="sunday" [(ngModel)]="shiftType.properties.sunday" required>
                <option [ngValue]="null">select an option</option>
                <option value="off">Off</option>
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="alternate">Alternate</option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>
  </md-card>

  <div class="controls-row footer">
    <span class="spacer"></span>
    <ng-container *ngIf="isNew">
      <button md-button (click)="backClicked()">Cancel</button>
      <button md-raised-button [disabled]="shiftType?.isProcessing || !shiftType.properties.name" color="primary"
        (click)="save()">Next</button>
    </ng-container>
    <ng-container *ngIf="!isNew">
      <button md-raised-button [disabled]="shiftType?.isProcessing || !shiftType.properties.name" color="primary"
        (click)="save()">Save</button>
    </ng-container>
  </div>
</div>
