.labelWidth {
    width: 11%
}

.valueWidth {
    width: 39%
}

.rightBtn {
    float: right;
}
.graceWidth {
    width: 25%
}
.graceLable {
    width:50%;
  float:left;
  padding-left: 5%
}
.graceInput {
    width:97%;
    padding: 5px;
}
