<div class="tool-bar controls-row">
  <h5>{{ isNew ? 'New': 'Edit'}} Shift</h5>
  <span class="spacer"></span>
  <a md-icon-button *ngIf="!isNew" (click)="backClicked()">
    <md-icon>close</md-icon>
  </a>
  <ng-container *ngIf="isNew">
    <button md-button (click)="backClicked()">Cancel</button>
    <button md-raised-button [disabled]="shiftType?.isProcessing || shiftType.properties.name" color="primary" (click)="save()">Next
    </button>
  </ng-container>
</div>

<md-spinner class="custom_spinner" *ngIf="shiftType?.isProcessing" mode="indeterminate"></md-spinner>

<md-card>
  <div class="flex-row three">
    <div class="form-group">
      <label>Name</label><span class="asterisk">*</span>
      <input type="text" class="form-control" [maxlength]="validatorService.textLength" name="shiftName" [(ngModel)]="shiftType.properties.name"
        required [disabled]="shiftType?.properties?.name?.toLowerCase() === 'general'">
    </div>
    <div class="form-group">
      <label>Code</label><span class="asterisk">*</span>
      <div class="controls-row">
        <input type="text" class="form-control" [maxlength]="validatorService.textLength" name="shiftCode" [(ngModel)]="shiftType.properties.code"
          required [disabled]="shiftType?.properties?.code?.toLowerCase() === 'gen'">
        <button class="btn btn-sm btn-toggle btn-default" [class.btn-primary]="shiftType?.properties?.isDynamic"
          (click)="toggleDynamic()">Auto</button>
      </div>
    </div>
    <div class="form-group">
      <label>Department</label>
      <select class="form-control" [(ngModel)]="shiftType.properties.department" [ngModelOptions]="{standalone: true}">
        <option [ngValue]="null">Select an option</option>
        <option *ngFor="let item of departments" [value]="item.name">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="flex-row three">
    <div class="form-group">
      <label>Days</label>

      <div class="form-control btn-group btn-group-sm">
        <!-- <div class="btn-group btn-group-sm"> -->
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('sunday')" [ngClass]="{
          'off' :shiftType.properties.sunday?.toLowerCase() === 'off' || !shiftType.properties.sunday,
          'full':shiftType.properties.sunday?.toLowerCase() === 'full',
          'half':shiftType.properties.sunday?.toLowerCase() === 'half',
          'alt': shiftType.properties.sunday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.sunday?.toUpperCase()" [mdTooltipPosition]="'above'">Sun</button>
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('monday')" [ngClass]="{
          'off' :shiftType.properties.monday?.toLowerCase() === 'off' || !shiftType.properties.monday,
          'full':shiftType.properties.monday?.toLowerCase() === 'full',
          'half':shiftType.properties.monday?.toLowerCase() === 'half',
          'alt': shiftType.properties.monday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.monday?.toUpperCase()" [mdTooltipPosition]="'above'">Mon</button>
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('tuesday')" [ngClass]="{
          'off' :shiftType.properties.tuesday?.toLowerCase() === 'off' || !shiftType.properties.tuesday,
          'full':shiftType.properties.tuesday?.toLowerCase() === 'full',
          'half':shiftType.properties.tuesday?.toLowerCase() === 'half',
          'alt': shiftType.properties.tuesday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.tuesday?.toUpperCase()" [mdTooltipPosition]="'above'">Tue</button>
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('wednesday')" [ngClass]="{
          'off' :shiftType.properties.wednesday?.toLowerCase() === 'off' || !shiftType.properties.wednesday,
          'full':shiftType.properties.wednesday?.toLowerCase() === 'full',
          'half':shiftType.properties.wednesday?.toLowerCase() === 'half',
          'alt': shiftType.properties.wednesday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.wednesday?.toUpperCase()" [mdTooltipPosition]="'above'">Wed</button>
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('thursday')" [ngClass]="{
          'off' :shiftType.properties.thursday?.toLowerCase() === 'off' || !shiftType.properties.thursday,
          'full':shiftType.properties.thursday?.toLowerCase() === 'full',
          'half':shiftType.properties.thursday?.toLowerCase() === 'half',
          'alt': shiftType.properties.thursday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.thursday?.toUpperCase()" [mdTooltipPosition]="'above'">Thu</button>
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('friday')" [ngClass]="{
          'off' :shiftType.properties.friday?.toLowerCase() === 'off' || !shiftType.properties.friday,
          'full':shiftType.properties.friday?.toLowerCase() === 'full',
          'half':shiftType.properties.friday?.toLowerCase() === 'half',
          'alt': shiftType.properties.friday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.friday?.toUpperCase()" [mdTooltipPosition]="'above'">Fri</button>
        <button type="button" class="btn btn-sm btn-default" (click)="toggleDay('saturday')" [ngClass]="{
            'off' :shiftType.properties.saturday?.toLowerCase() === 'off' || !shiftType.properties.saturday,
            'full':shiftType.properties.saturday?.toLowerCase() === 'full',
            'half':shiftType.properties.saturday?.toLowerCase() === 'half',
            'alt': shiftType.properties.saturday?.toLowerCase() === 'alternate'}"
          [mdTooltip]="shiftType.properties.saturday?.toUpperCase()" [mdTooltipPosition]="'above'">Sat</button>
      </div>
    </div>
    <div class="form-group">
      <label>Color</label>
      <div class="form-control color-picker btn-group btn-group-sm">
        <button type="button" [style.background-color]="shiftType.properties.color === color ? color: ''"
          [style.border-color]="color" class="btn btn-sm" (click)="setColor(color)" *ngFor="let color of colors"></button>
      </div>
    </div>
    <div class="form-group">
      <label>Break Time (minutes)</label>
      <input type="number" class="form-control" min="0" max="360" name="breakTime" [(ngModel)]="shiftType.properties.breakTime"
        required>
    </div>
  </div>
  <h5>Check In</h5>
  <div class="flex-row three">
    <div class="form-group">
      <label>Time</label><span class="asterisk">*</span>
      <input type="time" class="form-control" name="startTime" [(ngModel)]="shiftType.properties.startTime" required>
    </div>

    <div class="form-group">
      <label>Early (minutes)</label>
      <input type="number" class="form-control" min="0" max="360" name="earlyIn" [(ngModel)]="shiftType?.properties.grace?.checkIn.early"
        required>
    </div>
    <div class="form-group">
      <label>Late (minutes)</label>
      <input type="number" class="form-control" min="0" max="360" name="lateIn" [(ngModel)]="shiftType?.properties.grace?.checkIn.late"
        required>
    </div>
  </div>
  <h5>Check Out</h5>
  <div class="flex-row three">
    <div class="form-group">
      <label>Time</label><span class="asterisk">*</span>
      <input type="time" class="form-control" name="endTime" [(ngModel)]="shiftType.properties.endTime" required>
    </div>

    <div class="form-group">
      <label>Early (minutes)</label>
      <input type="number" class="form-control" min="0" max="360" name="earlyOut" [(ngModel)]="shiftType?.properties.grace?.checkOut.early"
        required>
    </div>
    <div class="form-group">
      <label>Late (minutes)</label>
      <input type="number" class="form-control" min="0" max="360" name="lateOut" [(ngModel)]="shiftType?.properties.grace?.checkOut.late"
        required>
    </div>
  </div>

</md-card>

<div class="controls-row footer">
  <ng-container *ngIf="!isNew">
    <button md-raised-button [disabled]="shiftType?.isProcessing || !shiftType.properties.name" (click)="remove()">Remove</button>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="isNew">
    <button md-button (click)="backClicked()">Cancel</button>
    <button md-raised-button [disabled]="shiftType?.isProcessing || !shiftType.properties.name" color="primary" (click)="save()">Next</button>
  </ng-container>
  <ng-container *ngIf="!isNew">
    <button md-raised-button [disabled]="shiftType?.isProcessing || !shiftType.properties.name" color="primary" (click)="save()">Save</button>
  </ng-container>
</div>
