<div class="row page_header">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5><b>Monthly Attendance</b></h5>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="headerInpts">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Select Month</span>
                <input id="monthSelector" type="text" class="form-control input-sm calendar no-spin">
            </div>
        </div>
        <div class="headerBtns">
            <button [disabled]="monthlyAttendnace?.isLoading || employee?.isProcessing" md-icon-button mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>
            <button [disabled]="monthlyAttendnace?.isLoading || isDownloading || employee?.isProcessing" [mdMenuTriggerFor]="appMenu" md-icon-button><md-icon>cloud_download</md-icon> </button>
            <md-menu #appMenu="mdMenu">
                <button md-menu-item (click)="download(true,false)">Attendance With Extra Hours by shiftEnd</button>
                <button md-menu-item (click)="download(false,true)">Attendance With Extra Hours by shiftLength</button>
                <button md-menu-item (click)="download(false,false)">Download Attendance</button>
            </md-menu>
            <!-- <button [disabled]="monthlyAttendnace?.isLoading || isDownloading || employee?.isProcessing" md-icon-button mdTooltip="Download Attendance extraHours" [mdTooltipPosition]="'above'" (click)="download(true)"><md-icon>cloud_download</md-icon> </button>
            <button [disabled]="monthlyAttendnace?.isLoading || isDownloading || employee?.isProcessing" md-icon-button mdTooltip="Download Attendance" [mdTooltipPosition]="'above'" (click)="download(false)" angulartics2On="click" angularticsEvent="monthyAttendnaceDownloadClick"
                angularticsCategory="monthyAttendnace" [angularticsProperties]="{label: 'Fall Campaign'}"><md-icon >cloud_download</md-icon></button> -->
        </div>

    </div>
</div>
<md-spinner class="custom_spinner" *ngIf="monthlyAttendnace?.isLoading || isDownloading || employee?.isProcessing" mode="indeterminate"></md-spinner>

<div class="row" *ngIf="isFilter">
    <md-card class="card">
        <div class="row text-center headr_bar">
            <h5><b>Filters</b></h5>
            <div class="actionBtns">
                <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter"><md-icon >highlight_off</md-icon></button>
            </div>
        </div>
        <form class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-3">
                    <label for="email">Name</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="monthlyAttendnace?.isLoading  || isDownloading" [(ngModel)]="monthlyAttendnace.filters.properties['name']['value']" name="Name">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label for="pwd">Code</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="monthlyAttendnace?.isLoading  || isDownloading" [(ngModel)]="monthlyAttendnace.filters.properties['code']['value']" name="Code">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>Shift</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select class="form-control" [disabled]="monthlyAttendnace?.isLoading  || isDownloading" [(ngModel)]="monthlyAttendnace.filters.properties['shiftType']['value']" placeholder="Shift" name="shift">
                   <option *ngFor="let item of shiftTypes.items" [value]="item.id">
                    {{item?.name}}
                </option>
                </select>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  form-group ">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label for="pwd">Designation</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input [maxlength]="validatorService.textLength" type="text" class="form-control" [disabled]="monthlyAttendnace?.isLoading  || isDownloading" [(ngModel)]="monthlyAttendnace.filters.properties['designation']['value']" name="Code">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>Tag Type</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select class="form-control" [disabled]="monthlyAttendnace?.isLoading  || isDownloading" #tagType (ngModelChange)="tagType.value = $event" (change)="selectTagType(tagType.value)" placeholder="Tag Type" name="tagtype">
                      <option selected [ngValue]="">select an option</option>
                 <option *ngFor="let item of tagTypes.items" [value]="item.id">
                  {{item?.name | titlecase}}
              </option>
              </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>Tags</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select id="tag" class="form-control" [disabled]="monthlyAttendnace?.isLoading  || isDownloading" #tag (change)="addChips(tag.value)" placeholder="Tag" name="tags">
                        <option selected [ngValue]="">select an option</option>
                      <option *ngFor="let item of tags" [value]="item.id">
                        {{item?.name | titlecase}}
                    </option>
                    </select>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 chipsBadge form-group">
                <span *ngFor="let item of selectedTags;let i = index" class="badge badge-pill badge-dark"> {{item?.name | titlecase}}&nbsp;<i (click)="removeChip(i)" class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 button_align form-group text-center">
                <button [disabled]="monthlyAttendnace?.isLoading || isDownloading" md-raised-button color="primary" mdTooltip="Apply" [mdTooltipPosition]="'above'" (click)="getAttendance(monthlyAttendnace.filters.properties['ofDate']['value']);">Apply</button>
                <button [disabled]="monthlyAttendnace?.isLoading || isDownloading" md-raised-button class="btn_grey" mdTooltip="Reset" [mdTooltipPosition]="'above'" (click)="reset()">Reset</button>
            </div>

        </form>
    </md-card>
</div>

<div class="row">
    <md-card class="card">
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead class="primary_thead">
                    <tr>
                        <th>Name</th>
                        <th class="tdWidth">Code</th>
                        <th class="tdWidth">Shift</th>
                        <th class="tdWidth">Present Days</th>
                        <th class="tdWidth">Absent Days</th>
                        <th class="tdWidth">Leave Balance</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of monthlyAttendnace.items | paginate: { id: 'foo',
                                                      itemsPerPage: monthlyAttendnace.pageSize,
                                                      currentPage: monthlyAttendnace.pageNo,
                                                      totalItems: monthlyAttendnace.totalRecords };" class="capitalize">
                        <td>
                            <img *ngIf="item?.picUrl" class="img-circle profile_pic" alt="img" [src]="item?.picUrl" onError="this.src='/assets/images/blank.png'">
                            <img *ngIf="!item?.picUrl" class="img-circle profile_pic" alt="img" src="assets/images/blank.png"> &nbsp;
                            <a [routerLink]="[item.id]">{{item?.name || '--'}}</a>
                        </td>
                        <td class="tdWidth">{{item?.code || '--'}}</td>
                        <td class="tdWidth">{{item?.shiftType?.name || '--'}}</td>
                        <td class="tdWidth">{{item?.presentDays || '--'}}</td>
                        <td class="tdWidth">{{item?.absentDays || '--'}}</td>
                        <td class="tdWidth">{{item?.totalLeaveBalance | number:'1.0-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="custom_pagination">
                <pagination-controls id="foo" (pageChange)="monthlyAttendnace.pageNo = $event;getAttendance(monthlyAttendnace.filters.properties['ofDate']['value']);"></pagination-controls>
                <div class="pageSize">
                    <label>Page Size:</label>
                    <select name="pageSize" [(ngModel)]="monthlyAttendnace.pageSize" (change)="monthlyAttendnace.pageNo = 1;getAttendance(monthlyAttendnace.filters.properties['ofDate']['value']);">
                      <option value=10>10</option>
                      <option value=20>20</option>
                      <option value=50>50</option>
                      <option value=100>100</option>
                    </select>
                </div>
            </div>
        </div>
    </md-card>

</div>