<div class="tool-bar controls-row">
  <h5>Monthly Attendance</h5>
  <span class="spacer"></span>
  <button md-icon-button (click)="showPreviousMonth()" [disabled]="isProcessing">
    <md-icon>arrow_back</md-icon>
  </button>
  <div class="input-group">
    <span id="monthSelector" class="form-control input-sm calendar no-spin">{{date| date: 'MMM yy'}}</span>
  </div>
  <button md-icon-button (click)="showNextMonth()" [disabled]="isProcessing">
    <md-icon>arrow_forward</md-icon>
  </button>
  <span class="spacer"></span>
  <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf"
    [mdTooltipPosition]="'above'">
    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
  </button>

  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button md-menu-item (click)="regenerate()" [mdTooltipPosition]="'above'" mdTooltip="Regenerate">
      <md-icon>build</md-icon> Regenerate
    </button>
    <button md-menu-item [matMenuTriggerFor]="downloadMenu">
      <md-icon>cloud_download</md-icon> Download
    </button>
    <md-menu #downloadMenu="mdMenu">
      <button md-menu-item (click)="downloadlink()">Report</button>
    </md-menu>
  </md-menu>
</div>

<md-spinner class="custom_spinner" *ngIf="monthlyAttendance?.isLoading" mode="indeterminate"></md-spinner>
<aqua-employees-filter *ngIf="isFilter" [fields]="filterFields" (onReset)="reset()" (onChange)="applyFilters($event)">
</aqua-employees-filter>
<div class="row">
  <md-card class="card">
    <div class="table-responsive full">
      <table class="table table-condensed table-hover">
        <thead class="primary_thead">
          <tr>
            <th>Name</th>
            <th class="tdWidth">Designation</th>
            <th class="tdWidth">Department</th>
            <th class="tdWidth">Presents</th>
            <th class="tdWidth">Holidays</th>
            <th class="tdWidth">Leaves</th>
            <th class="tdWidth">Week Offs</th>
            <th class="tdWidth">Absents</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of monthlyAttendance.items | paginate: { id: 'foo',
                                                      itemsPerPage: monthlyAttendance.pageSize,
                                                      currentPage: monthlyAttendance.pageNo,
                                                      totalItems: monthlyAttendance.totalRecords };">
            <td>
              <div class="cols">
                <div>
                  <img *ngIf="item?.picUrl" class="img-circle img-profile" alt="img" [src]="item?.employee?.picUrl"
                    onError="this.src='/assets/images/blank.png'">
                  <img *ngIf="!item?.employee?.picUrl" class="img-circle img-profile" alt="img"
                    src="assets/images/blank.png">
                </div>
                <div>
                  <a *ngIf="auth.hasPermission('superadmin')" [routerLink]="[ '/', 'employees', item?.employee?.code]">{{item?.employee?.name
                    || '--'}}</a>
                  <span *ngIf="!auth.hasPermission('superadmin')">{{item?.employee?.name || '--'}}</span>
                  <p class="sub-text">{{item?.employee?.code || ''}}</p>
                </div>
              </div>
            </td>
            <td class="tdWidth">{{item?.employee?.designation || '--'}}</td>
            <td class="tdWidth">{{item?.employee?.department || '--'}}</td>
            <td class="tdWidth">{{item?.presentDays || '--'}}</td>
            <td class="tdWidth">{{item?.holidayDays || '--'}}</td>
            <td class="tdWidth">{{item?.leaveDays || '--'}}</td>
            <td class="tdWidth">{{item?.offDays || '--'}}</td>
            <td class="tdWidth">{{item?.absentDays || '--'}}</td>
            <td><button class="subtle" md-icon-button [routerLink]="[item?.employee?.id]"><i
                  class="fa fa-chevron-right"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mini">
      <aqua-monthly-mobile-view [monthlyAttendance]="monthlyAttendance.items"></aqua-monthly-mobile-view>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="custom_pagination">
        <pagination-controls id="foo" (pageChange)="monthlyAttendance.pageNo = $event;getAttendance();">
        </pagination-controls>
        <label class="full">Total Records: {{monthlyAttendance.totalRecords}}</label>
        <div class="pageSize">
          <label>Page Size:</label>
          <select name="pageSize" [(ngModel)]="monthlyAttendance.pageSize"
            (change)="monthlyAttendance.pageNo = 1;getAttendance();">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
          </select>
        </div>
      </div>
    </div>
  </md-card>
</div>
