<div class="tool-bar controls-row">
  <h5>Tasks</h5>
  <span class="spacer"></span>

  <button md-icon-button (click)="tasks.showPrevious()" [disabled]="!tasks.previousEnabled">
    <md-icon>chevron_left</md-icon>
  </button>
  <button md-icon-button (click)="fetch()">
    <md-icon>loop</md-icon>
  </button>
  <button md-icon-button (click)="tasks.showNext()" [disabled]="!tasks.nextEnabled">
    <md-icon>chevron_right</md-icon>
  </button>
  <span class="spacer"></span>
  <button md-icon-button (click)="showFilters = !showFilters" mdTooltip="Filters" [mdTooltipPosition]="'above'">
    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button md-menu-item [routerLink]="['/system', 'tasks', 'new']" mdTooltip="New Task" [mdTooltipPosition]="'above'">
      <md-icon>add_circle_outline</md-icon> New
    </button>
    <button md-menu-item (click)="clear()" mdTooltip="Abort All" [mdTooltipPosition]="'above'">
      <md-icon>clear_all</md-icon> Abort All
    </button>
  </md-menu>
</div>
<md-card class="filters" *ngIf="showFilters">
  <div class="flex-row three">
    <div class="form-group">
      <label>Status</label>
      <select class="form-control" name="level" [(ngModel)]="tasks.filters.properties['status']['value']">
        <option value="any" [selected]>Any</option>
        <option value="new">New</option>
        <option value="queued">Queued</option>
        <option value="in-progress">In Progress</option>
        <option value="done">Done</option>
        <option value="error">Error</option>
      </select>
    </div>

    <div class="form-group">
      <label>Assigned To</label>
      <select class="form-control" name="level" [(ngModel)]="tasks.filters.properties['assignedTo']['value']">
        <option value="any" [selected]>Any</option>
        <option value="sync-service">Sync Service</option>
        <option value="processor">Processor</option>
        <option value="job">Job</option>
      </select>
    </div>

    <div class="form-group">
      <label>From</label>
      <input type="date" class="form-control input-sm calendar no-spin"
        [(ngModel)]="tasks.filters.properties['from']['value']">
    </div>
    <div class="form-group">
      <label>Devices</label>
      <select class="form-control" name="devices" [(ngModel)]="tasks.filters.properties['deviceId']['value']">
        <option value="">All</option>
        <option *ngFor="let device of devices.items" value="{{device.id}}">{{device.name}}</option>
      </select>
    </div>

  </div>
  <md-card-footer>
    <div class="flex-row">
      <div class="spacer"></div>
      <button [disabled]="tasks.isLoading" md-button mdTooltip="Reset" [mdTooltipPosition]="'above'"
        (click)="reset()">Reset</button>
      <button [disabled]="tasks.isLoading" md-raised-button color="primary" mdTooltip="Apply"
        [mdTooltipPosition]="'above'" (click)="fetch()">Apply</button>
      <div class="spacer"></div>
    </div>
  </md-card-footer>
</md-card>
<md-spinner class="custom_spinner" *ngIf="tasks.isLoading" mode="indeterminate"></md-spinner>

<md-card class="card">
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead class="primary_thead">
        <tr>
          <th class="cellFormat"></th>
          <th class="cellFormat">Date</th>
          <th class="cellFormat">Assigned To</th>
          <th class="cellFormat">Entity</th>
          <th class="cellFormat">Meta</th>
          <th class="cellFormat">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks.items | paginate: { id: 'foo',
                                                    itemsPerPage: tasks.pageSize,
                                                    currentPage: tasks.pageNo,
                                                    totalItems: tasks.totalRecords };"
          [ngClass]="{'bg-danger': item.status === 'Error'} ">
          <td class="cellFormat" [ngSwitch]="item.status">
            <button md-icon-button (click)="item.isSelected = !item.isSelected">
              <md-icon mdTooltip="{{item.status}}">
                <i *ngSwitchCase="'new'" class="fa fa-play" style="color: #a1a1a1;" aria-hidden="true"></i>
                <i *ngSwitchCase="'queued'" class="fa fa-pause" style="color: #a1a1a1;" aria-hidden="true"></i>
                <i *ngSwitchCase="'canceled'" class="fa fa-ban" style="color: #D8000C;" aria-hidden="true"></i>
                <i *ngSwitchCase="'in-progress'" class="fa fa-clock-o" style="color: #38b6ff;" aria-hidden="true"></i>
                <i *ngSwitchCase="'error'" class="fa fa-exclamation-triangle" style="color: #D8000C;"
                  aria-hidden="true"></i>
                <i *ngSwitchCase="'done'" class="fa fa-check" style="color: rgb(0, 155, 65);" aria-hidden="true"></i>
              </md-icon>
            </button>

          </td>
          <td class="cellFormat">
            <div>{{item?.date | date: "HH:mm"}}</div>
            <div class="sub-text">{{item?.date | date: "dd-MM-yyyy"}}</div>
          </td>
          <td class="cellFormat">{{item.assignedTo}}</td>
          <td class="cellFormat">
            <div>{{item.action}}</div>
            <span class="sub-text">{{item.entity}}</span>
          </td>
          <td class="cellFormat">
            <div *ngIf="!item.isSelected || !item.error">
              <code *ngIf="item.data">{{item.data}}</code>
              <div *ngIf="item.device && item.device.id" [routerLink]="[ '/settings','devices']"
                [queryParams]="{ id: item.device.id}">
                Device: {{item.device.id}}</div>
              <div *ngIf="item.employee && item.employee.code">Employee: {{item.employee.code}}</div>
              <div *ngIf="item.meta"><code>{{stripErrors(item.meta) | json}}</code></div>
            </div>
            <code *ngIf="item.isSelected && item.error" (click)="item.isSelected = !item.isSelected"
              class="cta">{{item.error | json}}</code>
            <code *ngIf="item.isSelected && item.meta.errors && item.meta.errors.length"
              (click)="item.isSelected = !item.isSelected" class="cta">{{item.meta.errors | json}}</code>
          </td>
          <td class="cellFormat">
            <button *ngIf="item.status === 'new' && item.assignedTo !== 'sync-service'" class="btn btn-primary btn-sm" [disabled]="item.isProcessing"
              (click)="run(item)">Run</button>
            <button *ngIf="item.status === 'error'" class="btn btn-primary btn-sm" [disabled]="item.isProcessing"
              (click)="run(item)">Retry</button>
            <div *ngIf="item.progress">{{item.progress}} %</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>
<label>Total: {{tasks.totalRecords}}</label>
<pagination-controls id="foo" (pageChange)="tasks.pageNo = $event;fetch();"></pagination-controls>
<div class="pageSize">
  <label>Page Size:</label>
  <select [(ngModel)]="tasks.pageSize" (change)="tasks.pageNo = 1;fetch();">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>
