<md-card>
  <div class="mat-card-header">
    <h5>Shifts</h5>
  </div>
  <div class="mat-card-content">
    <div class="controls-row">
      <h5>Roaster</h5>
      <span class="spacer"></span>
      <div class="input-group">
        Auto <md-slide-toggle [checked]="employee.isDynamicShift" (change)="toggleDynamicShift(employee)"></md-slide-toggle>
      </div>
    </div>

    <table *ngIf="!employee.isDynamicShift" class="table table-condensed">
      <tr>
        <th>Date</th>
        <th>Shift</th>
        <th>
          <button md-icon-button (click)="addShift()" class="subtle">
            <md-icon>add_circle_outline</md-icon>
          </button>
        </th>
      </tr>
      <tr>
        <td>Current</td>
        <td><span [style.color]="employee.shiftType?.color">{{employee.shiftType.name}}</span></td>
        <td>
          <span *ngIf="currentShift">
            <md-icon mdTooltip="Wrong Shift {{currentShift.name}}" class="warn" *ngIf="employee.shiftType.id !== currentShift.id">report_problem</md-icon>
          </span>
        </td>
      </tr>
      <tr *ngFor="let item of upcomingShift">
        <td>
          {{item.date | date:'dd-MM-yyyy'}}
        </td>
        <td>
          <span [style.color]="item.shiftType.color">{{item.shiftType.name}}</span>
        </td>
        <td>
          <button md-icon-button (click)="removeShift(item)" class="subtle">
            <md-icon>remove_circle_outline</md-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</md-card>
