<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead class="primary_thead">
            <tr>
                <th class="text-center">Day</th>
                <th class="text-center">Time</th>
                <th class="text-center">Type</th>
                <th class="text-center">Source</th>
            </tr>
        </thead>
        <tbody>
            <tr class="capitalize" *ngFor="let item of logs">
                <ng-container *ngIf="!item?.location?.show && item">
                    <td class="text-center">{{item?.time | date: 'dd-MM-yyyy' || '--'}}</td>
                    <td class="text-center">{{item?.time | date: 'h:mm a' || '--'}}</td>
                    <td class="text-center" *ngIf="item.type =='checkIn'">In</td>
                    <td class="text-center" *ngIf="item.type =='checkOut'">Out</td>
                    <td class="text-center" *ngIf="item.source == 'biometricDevice'">Biometric</td>
                    <td class="text-center" *ngIf="item.source != 'biometricDevice'">{{item.source}}</td>
                </ng-container>
            </tr>
            <tr *ngIf="newTimeLog">
                <td class="text-center">
                    <select class="form-control" [(ngModel)]="newTimeLogDate" (change)="onDateSelected($event)">
                        <option value="{{ofDate| date: 'dd-MM-yyyy'}}">{{ofDate| date: 'dd-MM-yyyy'}}</option>
                        <option value="{{nextDate| date: 'dd-MM-yyyy'}}">{{nextDate| date: 'dd-MM-yyyy'}}</option>
                    </select>
                </td>
                <td class="text-center">
                    <input class="form-control" type="time" [(ngModel)]="newTimeLogTime" (change)="onTimeSelected()" required>
                </td>
                <td class="text-center">
                    <select class="form-control" [(ngModel)]="newTimeLog.type">
                        <option [value]="'checkIn'">In</option>
                        <option [value]="'checkOut'">Out</option>
                    </select>
                </td>
                <td>
                    <button md-raised-button [disabled]="!newTimeLog.type || !newTimeLog.time" (click)="saveNewLog()">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>