/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --primary: #00A8c6;
  --accent: #bfbdbd;
  --primaryBackdrop: #00bcd47a;
}

body {
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
}

h4 {
  text-align: center;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3f4766;
    border-radius: 15px;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #3f4766;
}

.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px 1px rgb(245, 245, 245);
}

.mat-primary {
    background: var(--primary) !important;
    color: white !important;
}

.mat-toolbar {
    font-size: 100% !important;
    font-weight: 300 !important;
}

.container {
    width: 100%;
}

.table {
    margin-bottom: 0;
}

.table .mat-icon-button {
  height: inherit;
  width: inherit;
  line-height: inherit;
}

.mat-icon.warn {
  color: red;
}

.primary_thead {
    background-color: var(--accent);
    color: black;
}

.hiddenHorScroll {
    height: 85vh;
    overflow-x: hidden;
    margin-left: -5px;
}

.card {
    /* margin-top: 1% !important; */
    padding: 0 !important;
}

.cards-col .mat-card {
  margin-bottom: 20px
}

.mat-card-header {
  background-color: var(--accent)!important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.mat-card-header h5 {
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.mat-card-content {
  padding-top: 20px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: var(--primary);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: var(--primaryBackdrop);
}
.example-spacer {
    flex: 1 1 auto;
}

.mat-progress-bar-fill::after {
    background-color: var(--primary);
}

.cta {
    color: #ff6666;
}


/* .mat-focused.mat-form-field-underline{
    color:  #6c78a8;
} */

.mat-form-field-ripple {
    background-color: #6c78a8;
}

.capitalize {
    text-transform: capitalize;
}

.non_editAble {
    border: none;
    background-color: white !important;
    outline: none;
    box-shadow: none;
}

.calendar {
    background-image: url(assets/images/calendar-with-spring-binder-and-date-blocks.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: white !important;
    /*padding-left: 20px;*/
}

.cursor {
    cursor: pointer;
}

.btn_grey {
    background-color: #6b6b6b;
    color: white !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.tool-bar {
  margin-top: 10px;
  margin-bottom: 5px;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.page_header {
    /* background-color: #e4e4e4; */
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    padding-right: 2.5%;
    /* border-bottom: 1px solid #d0cdcd; */
}

.headr_bar {
    background-color: #dadada;
    margin: -1% 0px 2% 0%;
}

.headerInpts {
    position: absolute;
    right: 12%;
    width: 26%;
    top: 2px;
}

.headerBtns {
    position: absolute;
    width: 21%;
    right: -8%;
    top: -3px;
    color: #6b6b6b;
}

.actionBtns {
    position: absolute;
    top: -2px;
    right: 23px;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance: textfield !important;
}


/*input::-webkit-calendar-picker-indicator {
    display: none;
}*/

.no-spin::-ms-expand,
.no-spin::-webkit-calendar-picker-indicator {
    display: none;
}

.ngx-pagination a,
.ngx-pagination button,
.ngui-auto-complete>ul li {
    cursor: pointer;
}

pagination-controls {
    float: right !important;
}

.custom_pagination {
    margin: 1% 1% 0px 0px;
}

.pageSize {
    float: right;
    margin-top: 0.3%;
}

.button_align {
    color: #6b6b6b !important;
    text-align: right;
    padding-right: 3%;
}
button.subtle {
  color: #eee;
}

button.subtle:hover {
  color: #999;
}

button.phantom {
  opacity: 0;
}

.asterisk {
    color: red;
    position: absolute;
    padding-left: 5px;
}

.ng-untouched {
    border-color: #ccc !important;
}


.dialog_Header {
    background-color: var(--accent)!important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.ng-invalid,
.ng-invalid:focus {
    border-color: red;
}

.search {
    background-image: url(assets/images/search.png);
    background-repeat: no-repeat;
    background-position: right;
    /*padding-left: 20px;*/
}

.custom_spinner {
    position: fixed;
    z-index: 99999999999999;
    left: 49%;
    bottom: 50%;
    width: 63px !important;
    background: white !important;
    height: 63px !important;
    border-radius: 73%;
    box-shadow: 0px 0px 0px 0 var(--primary);
}

.mat-progress-spinner path,
.mat-spinner path {
    stroke: var(--primary) !important;
}

.ngui-auto-complete {
    color: black !important;
    cursor: pointer !important;
}

.apporve {
    color: green !important;
}

.reject {
    color: red !important;
}

.datepicker-days>table>tbody>tr>td>.active>.day {
    background-color: var(--primary) !important;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-image: linear-gradient(to bottom, var(--primary), var(--primary)) !important;
    background-repeat: repeat-x !important;
}

.noData {
    padding: 7%;
}

.profile-card {
    word-break: break-all;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: var(--primary);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--primary);
}

.input-element>select::-ms-expand {
    display: none;
}

.input-element>select {
    border-radius: 0px;
    -webkit-appearance: none;
}

.input-element>span {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 99;
}

.form-control.small.right {
  width: 50%;
  float: right;
}

.mat-radio-label-content {
    font-weight: 100 !important;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-row .col {
    flex-basis: 100%;
}

.flex-row .left {
    order: 1;
    flex-basis: 100%;
}

.flex-row .middle {
    order: 3;
    flex-basis: 100%;
}

.flex-row .right {
    order: 2;
    flex-basis: 100%;
}

.flex-row .spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-row.four>div {
    flex-basis: 100%;
}

.flex-row.two>div {
    flex-basis: 100%;
}

@media (max-width: 600px) {
    .flex-row {
        flex-wrap: wrap;
    }
    .flex-row.five>div {
        flex-basis: 100%;
    }
    .flex-row.four>div {
        flex-basis: 100%;
    }
    .flex-row.three>div {
        flex-basis: 100%;
    }
    .flex-row.two>div {
        flex-basis: 100%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .flex-row {
        flex-wrap: wrap;
    }
    .flex-row.five>div {
        flex-basis: 30%;
    }
    .flex-row.four>div {
        flex-basis: 50%;
    }
    .flex-row.three>div {
        flex-basis: 100%;
    }
    .flex-row.two>div {
        flex-basis: 100%;
    }
}

@media screen and (min-width:800px) {
    .flex-row {
        flex-wrap: wrap;
    }
    .flex-row.five>div {
        flex-basis: 20%;
    }
    .flex-row.four>div {
        flex-basis: 25%;
    }
    .flex-row.three>div {
        flex-basis: 33%;
    }
    .flex-row.two>div {
        flex-basis: 50%;
    }
    .flex-row .left {
        flex-basis: 33%;
        /* flex-basis: 200px; */
        padding: 5px;
        order: 1;
    }
    .flex-row .middle {
        flex-basis: 33%;
        padding: 5px;
        order: 2;
    }
    .flex-row .right {
        flex: 1;
        padding: 5px;
        order: 3;
    }
    .flex-row .col {
        flex: 1;
        padding: 5px;
    }
}

.cols {
    display: flex;
    flex-direction: row;
}

.cols.four>div {
    width: 25%;
    padding: 5px;
}

.cols .spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.rows {
    display: flex;
    flex-direction: column;
}

.rows .spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.controls-row {
    display: flex;
    flex-direction: row;
}

.controls-row .spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.controls-row .input-group {
    max-width: 200px;
    padding-top: 5px;
}

.flex-row>.form-group {
  padding: 0 5px;
}

.form-group .sub-text {
  position: relative;
  top: -15px
}

.sub-text {
    white-space: pre-line;
    font-size: 12px;
    color: #919191;
}

.mini-control.mat-button-toggle-group {
    height: 25px;
}

.mini-control .mat-button-toggle-label-content {
    line-height: 25px;
    font-size: smaller;
}


.section>h5 {
    text-align: center;
    width: 100%;
    color: #ccc;
    padding-bottom: 4px;
    margin: 7px 10px;
}

.footer {
    margin-top: 10px;
}

.mat-select-underline {
    display: none !important;
}

.mat-select-trigger {
    top: -5px;
}

.selected-list .c-btn {
    width: 100%;
    box-shadow: none !important;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 34px;
    border-radius: 4px !important;
}

.selected-list .c-btn .c-list .c-token {
    background-color: white;
    color: black;
    padding: 0px;
}

.selected-list .c-list .c-token {
    list-style: none;
    padding: 0px !important;
    background: white !important;
    color: black !important;
    border-radius: 2px;
    margin-right: 4px;
    margin-top: -5px !important;
    margin-bottom: -34px;
    float: left;
    position: relative;
    padding-right: 0px !important;
}

.selected-list .c-list .c-token .c-remove svg {
    display: none !important;
    fill: black;
}

.mat-drawer-content {
    position: relative;
    transform: translate3d(0, 0, 0);
    display: block;
    height: 100%;
    overflow-x: hidden !important;
}

.filters {
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: -15px;
    margin-right: -15px; */
}

.img-profile {
  width: 33px;
  margin-right: 10px;
  /* height: 33px; */
}
@media only screen and (max-width:539px) {
  .img-profile {
      width: 20px;
      margin-right: 5px;
      /* height: 20px; */
  }
}

.popup .backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4000;
}

.popup .outer {
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4200;
  top: 0;
  left: 0;
}

.popup .content {
  background: #fff;
  top: 10%;
  padding: 20px;
  width: 440px;
  position: relative;
  z-index: 10000000;
  margin: 20px auto;
  left: 0;
}

.popup .content.wide {
  width: 80%;
  max-width: 800px;
}

.popup .content.narrow {
  width: 50%;
  max-width: 500px;
}

@media only screen and (max-width:539px) {
  .popup .content.wide,
  .popup .content.narrow {
    width: 90%;
  }
}

.btn.alt {
  background: linear-gradient(to right, #0CF 0%,#0CF  25%, #FFF 26%, #FFF 50%, #0CF  51%,#0CF  75%, #FFF  76%);
}
.btn.half {
  background: linear-gradient(to right, #0CF  0%, #0CF  50%, #FFF 51%);
}
.btn.full {
  background: #0CF ;
}
.btn.off {
  background: #FFF
}
.btn-toggle {
  margin-left: 10px;
  outline: none;
}

.status .error {
  color: red;
}
