<div class="row page_header">
</div>
<md-spinner class="custom_spinner" *ngIf="systems?.isLoading" mode="indeterminate"></md-spinner>

<div class="row">
  <md-card class="card">
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead class="primary_thead">
            <tr>
                <th class="tdWidth text-center">S.No.</th>
                <th class="tdWidth text-center">Organization Code</th>
                <th class="tdWidth text-center">Organization Name</th>
                <th class="tdWidth text-center">Active Employees</th>
                <th class="tdWidth text-center">Active Alerts</th>
                <th class="tdWidth text-center">BioMetric Count</th>
                <th class="tdWidth text-center">Wifi Count</th>
                <th class="tdWidth text-center">Never Logged In Employees</th>
                <th class="tdWidth text-center">Time Logs Count</th>               
                <th class="tdWidth text-center">Last Employee Login</th>
                <th class="tdWidth text-center">Last Admin Login</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of systems.items; let i=index">
            <td class="tdWidth text-center">{{ i + 1 }}</td>
            <td class="tdWidth text-center">{{item?.code | uppercase}}</td>
            <td class="tdWidth text-center">{{item?.name | titlecase}}</td>
            <td class="tdWidth text-center">{{item?.activeEmployeeCount}}</td>
            <td class="tdWidth text-center">{{item?.alertsCount}}</td>
            <td class="tdWidth text-center">{{item?.biometricCount}}</td>
            <td class="tdWidth text-center">{{item?.wifiCount}}</td>
            <td class="tdWidth text-center">{{item?.neverLoggedInCount}}</td>
            <td class="tdWidth text-center">{{item?.timeLogsCount}}</td>          
            <td class="tdWidth text-center">{{item?.lastEmployeeLogin | date:'dd-MM-yyyy' || '--'}}</td>
            <td class="tdWidth text-center">{{item?.lastAdminLogin | date:'dd-MM-yyyy' || '--'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-card>
</div>