<div class="row text-center upper">
  <img src="assets/images/login/logo.png">
  <h1>stay connected with your organization</h1>
  <h4>Step ahead to enjoy AQUA Teams a complete HR Solutions</h4>
</div>
<div class="row text-center lower">
  <h4 class="grey_color">Get the apps to sync your files</h4>
  <div class="row text-center links">
    <a href="http://bit.ly/2sPVnP3">
      <img src="assets/images/googlestore.png">
    </a>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <a href="https://goo.gl/A4op5a">
      <img src="assets/images/appstore.png">
    </a>
  </div>
  <h4>Want to know more about Aqua Teams?</h4>
  <h4>Then <a href="http://aquahrms.m-sas.com">Click Here</a></h4>
  <br>
  <br>
  <h4>If you like Aqua Teams, <a>recommend it to your friends</a> and contribute back !</h4>

</div>
