<div class="row page_header">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>
            <b>Daily Attendance</b>
        </h5>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls-row">
        <span class="spacer"></span>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Date</span>
            <input id="dateSelector" type="text" class="form-control input-sm calendar no-spin">
        </div>
        <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'">
            <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
        </button>

        <button [matMenuTriggerFor]="moreMenu" md-icon-button>
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #moreMenu="mdMenu">
            <button md-menu-item mdTooltip="Bulk Time Logs" [mdTooltipPosition]="'above'" (click)="showBulkTimeLogsDialog()">
                <md-icon>add_circle_outline</md-icon> Add Time Logs
            </button>
            <button md-menu-item (click)="regenerate()" [mdTooltipPosition]="'above'" mdTooltip="Regenerate">
              <md-icon>build</md-icon> Regenerate
          </button>
            <button md-menu-item [matMenuTriggerFor]="downloadMenu">
                <md-icon>cloud_download</md-icon> Download
            </button>
            <md-menu #downloadMenu="mdMenu">
                <button md-menu-item (click)="downloadlink('daily-attendance')">Daily Attendance</button>
                <button md-menu-item (click)="downloadlink('daily-extra-hours-after-shift-end')">Daily Extra Hours (after shift)</button>
                <button md-menu-item (click)="downloadlink('daily-extra-hours-after-shift-hours')">Daily Extra Hours (net)</button>
            </md-menu>
            <button md-menu-item mdTooltip="Upload" [mdTooltipPosition]="'above'" (click)="import()">
                <md-icon>cloud_upload</md-icon> Upload
            </button>
        </md-menu>

    </div>
</div>

<md-spinner class="custom_spinner" *ngIf="dailyAttendnace?.isLoading" mode="indeterminate"></md-spinner>


<div class="row" *ngIf="isFilter">
    <md-card class="card">
        <div class="row text-center headr_bar">
            <h5>
                <b>Filters</b>
            </h5>
            <div class="actionBtns">
                <button md-icon-button mdTooltip="Close" [mdTooltipPosition]="'above'" (click)="isFilter = !isFilter">
                    <md-icon>highlight_off</md-icon>
                </button>
            </div>
        </div>
        <aqua-employees-filter (onReset)="reset()" (onChange)="applyFilters($event)"></aqua-employees-filter>
    </md-card>
</div>

<div class="row">
    <md-card class="card">
        <div class="table-responsive full">
            <table class="table table-condensed table-bordered table-hover">
                <thead class="primary_thead">

                    <tr>
                        <th class="tdWidth text-center">Name</th>
                        <th class="tdWidth">Designation</th>
                        <th class="tdWidth">Shift</th>
                        <th class="tdWidth">Status</th>
                        <th class="text-center tdWidth">Check In</th>
                        <th class="text-center tdWidth">Check Out</th>
                        <th class="tdWidth">Team</th>
                        <!-- <th class="tdWidth">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of attendances | paginate: { id: 'foo',
                                                      itemsPerPage: dailyAttendnace.pageSize,
                                                      currentPage: dailyAttendnace.pageNo,
                                                      totalItems: dailyAttendnace.totalRecords };" class="capitalize">
                        <td>
                            <a (click)="updateDayEvent(item.employee.id)">{{item.employee.name || '--'}}</a>
                            <br>
                            <span class="sub-text">{{item.employee.code || '--'}}</span>
                        </td>
                        <td class="tdWidth">{{item.employee.designation || '--'}}</td>
                        <td class="tdWidth">{{item.shift.shiftType.name}}</td>
                        <!-- <td class="tdWidth">{{item?.attendance?.hoursWorked || '--'}}</td> -->
                        <td class="tdWidth">
                            <ng-template #elsePart>
                                <div [class.cta]="item.status === 'absent'">{{item.status | titlecase}}</div>
                                <aqua-shift-count *ngIf="this.isPast && item.status !== 'absent'" [count]="item.count"></aqua-shift-count>
                            </ng-template>
                            <span *ngIf="item.status == 'absent' && (item.shift.status === 'weekOff' || item.shift.status === 'holiday'); else elsePart">{{item.shift.status | titlecase}}</span>
                        </td>
                        <!-- <td class="tdWidth">{{item?.department || '--'}}</td> -->
                        <td class=" tdWidth">{{item.checkIn | date:'shortTime'}}<br>
                            <span class="sub-text" *ngIf="item.checkInStatus">{{item?.checkInStatus}}</span>
                        </td>
                        <td class=" tdWidth">
                            <ng-container *ngIf="item.checkOut">
                                <div>{{item.checkOut | date:'shortTime'}}</div>
                                <span class="sub-text" *ngIf="item.checkOutStatus && this.isPast">{{item?.checkOutStatus}}</span>
                            </ng-container>
                            <span class="cta" *ngIf="!item.checkOut && item.checkOutStatus && this.isPast">{{item?.checkOutStatus}}</span>
                        </td>
                        <td class="tdWidth">
                            <a [routerLink]="['teams',item.employee.id]" *ngIf="item.employee.hasTeam">
                                <img src="assets/images/team.png" width="30px;">
                            </a>
                        </td>
                        <!-- <td class="tdWidth">
                            <button [matMenuTriggerFor]="moreMenu" md-icon-button *ngIf="item.needsAction && !(item.shift.status === 'weekOff' || item.shift.status === 'holiday')">
                                <md-icon>more_vert</md-icon>
                            </button>
                            <md-menu #moreMenu="mdMenu">
                                <button md-menu-item mdTooltip="Clear Action" [mdTooltipPosition]="'above'" (click)="clearAction(item)">
                                    Clear action &nbsp;&nbsp;
                                    <md-icon>clear</md-icon>
                                </button>
                            </md-menu>
                        </td> -->
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="mini">
            <aqua-daily-mobile-view [attendance]="attendances"></aqua-daily-mobile-view>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="custom_pagination">
                <pagination-controls id="foo" (pageChange)="dailyAttendnace.pageNo = $event;getAttendance();"></pagination-controls>
                <label class="full">Total Records: {{dailyAttendnace.totalRecords}}</label>
                <div class="pageSize">
                    <label>Page Size:</label>
                    <select name="pageSize" [(ngModel)]="dailyAttendnace.pageSize" (change)="dailyAttendnace.pageNo = 1;getAttendance();">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>
        </div>
    </md-card>
</div>