<div class="tool-bar controls-row">
  <h5>Daily Attendance</h5>
  <span class="spacer"></span>
  <button md-icon-button (click)="showPreviousDate()" [disabled]="attendancePage.isLoading">
    <md-icon>arrow_back</md-icon>
  </button>
  <div class="input-group">
    <input id="dateSelector" type="text" class="form-control input-sm calendar no-spin" [disabled]="attendancePage.isLoading">
  </div>
  <button md-icon-button (click)="showNextDate()" [disabled]="attendancePage.isLoading">
    <md-icon>arrow_forward</md-icon>
  </button>
  <span class="spacer"></span>
  <button md-icon-button (click)="isFilter = !isFilter" mdTooltip="Filters" class="marginLetf" [mdTooltipPosition]="'above'">
    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
  </button>

  <button [matMenuTriggerFor]="moreMenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #moreMenu="mdMenu">
    <button md-menu-item mdTooltip="Bulk Time Logs" [mdTooltipPosition]="'above'" (click)="showBulkTimeLogsDialog()">
      <md-icon>add_circle_outline</md-icon> Add Time Logs
    </button>
    <button md-menu-item (click)="regenerate()" [mdTooltipPosition]="'above'" mdTooltip="Regenerate">
      <md-icon>build</md-icon> Regenerate
    </button>

    <button md-menu-item (click)="resetLogs()" [mdTooltipPosition]="'above'" mdTooltip="Reset Logs">
      <md-icon>build</md-icon> Reset Logs
    </button>
    <button md-menu-item [matMenuTriggerFor]="downloadMenu">
      <md-icon>cloud_download</md-icon> Download
    </button>
    <md-menu #downloadMenu="mdMenu">
      <button md-menu-item (click)="downloadlink('daily-attendance')">Daily Attendance</button>
      <button md-menu-item (click)="downloadlink('daily-extra-hours-after-shift-end')">Daily Extra Hours (after shift)</button>
      <button md-menu-item (click)="downloadlink('daily-extra-hours-after-shift-hours')">Daily Extra Hours (net)</button>
    </md-menu>
    <button md-menu-item mdTooltip="Upload" [mdTooltipPosition]="'above'" (click)="import()">
      <md-icon>cloud_upload</md-icon> Upload
    </button>
  </md-menu>

</div>

<md-spinner class="custom_spinner" *ngIf="attendancePage?.isLoading" mode="indeterminate"></md-spinner>
<aqua-employees-filter *ngIf="isFilter" [fields]="filterFields" [fromDate]="ofDate" (onReset)="reset()" (onChange)="applyFilters($event)"></aqua-employees-filter>

<md-card class="card">
  <div class="table-responsive full">
    <table class="table table-condensed table-bordered table-hover">
      <thead class="primary_thead">
        <tr>
          <th class="tdWidth text-center">Name</th>
          <th class="tdWidth">Designation</th>
          <th class="tdWidth">Shift</th>
          <th class="tdWidth">Status</th>
          <th class="text-center tdWidth">Check In</th>
          <th class="text-center tdWidth">Out 1</th>
          <th class="text-center tdWidth">In 2</th>
          <th class="text-center tdWidth">Out 2</th>
          <th class="text-center tdWidth">In 3</th>
          <th class="text-center tdWidth">Check Out</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of attendances | paginate: { id: 'foo',
                                                      itemsPerPage: attendancePage.pageSize,
                                                      currentPage: attendancePage.pageNo,
                                                      totalItems: attendancePage.totalRecords };"
          class="capitalize">
          <td>
            <a [routerLink]="['/', 'employees', item.employee.code]">{{item.employee.name || '--'}}</a>
            <br>
            <span class="sub-text">{{item.employee.code || ''}}</span>
          </td>
          <td class="tdWidth">{{item.employee.designation || '--'}}</td>
          <td class="tdWidth" (click)="updateDayEvent(item.employee.id)">{{item.shift.shiftType.name}}</td>
          <!-- <td class="tdWidth">{{item?.attendance?.hoursWorked || '--'}}</td> -->
          <td class="tdWidth" (click)="updateDayEvent(item.employee.id)">
            <ng-template #elsePart>
              <div class="badge shift-status" [class.warn]="item.status === 'absent'" [class.info]="item.status === 'present'"
                [class.first]="item.firstHalfStatus === 'P' && item.secondHalfStatus === 'A'" [class.second]="item.firstHalfStatus === 'A' && item.secondHalfStatus === 'P'">{{item.status
                | titlecase}}
              </div>
              <aqua-shift-count *ngIf="this.isPast && item.status !== 'absent'" [count]="item.count"></aqua-shift-count>
            </ng-template>
            <span *ngIf="item.status == 'absent' && (item.shift.status === 'weekOff' || item.shift.status === 'holiday'); else elsePart">{{item.shift.status
              | titlecase}}</span>
          </td>
          <!-- <td class="tdWidth">{{item?.department || '--'}}</td> -->
          <td class=" tdWidth" (click)="updateDayEvent(item.employee.id)">
            <ng-container *ngIf="item.checkIn">
              <div>{{item.checkIn | date:'shortTime'}}</div>
              <span class="sub-text" *ngIf="item.checkInStatus && (item.checkInStatus === 'late')">Came Late</span>
              <span class="sub-text" *ngIf="item.checkInStatus && (item.checkInStatus === 'early')">Came Early</span>
              <span class="sub-text" *ngIf="item.checkInStatus && (item.checkInStatus === 'missed')">Missed</span>
            </ng-container>
            <span class="cta" *ngIf="item.status=== 'present' && !item.checkIn && item.checkInStatus">Missed Check In</span>
          </td>
          <td class="tdWidth">
            <span *ngIf="item.passes[0] && item.passes[0].out" (click)="updateDayEvent(item.employee.id)">
              {{item.passes[0].out.time|date:'shortTime'}}
            </span>
          </td>
          <td class="tdWidth">
            <span *ngIf="item.passes[0] && item.passes[0].in" (click)="updateDayEvent(item.employee.id)">
              {{item.passes[0].in.time| date:'shortTime'}}
            </span>
          </td>
          <td class="tdWidth">
            <span *ngIf="item.passes[1] && item.passes[1].out" (click)="updateDayEvent(item.employee.id)">
              {{item.passes[1].out.time|date:'shortTime'}}
            </span>
          </td>
          <td class="tdWidth">
            <span *ngIf="item.passes[1] && item.passes[1].in" (click)="updateDayEvent(item.employee.id)">
              {{item.passes[1].in.time| date:'shortTime'}}
            </span>
          </td>
          <td class=" tdWidth" (click)="updateDayEvent(item.employee.id)">
            <div class="controls-row">
              <div *ngIf="item.checkOut">{{item.checkOut | date:'shortTime'}}</div>
              <ng-container *ngIf="this.isPast && item.checkOut ">
                <span class="sub-text" *ngIf="item.checkOutStatus && this.isPast && item.status === 'late'">Went Late</span>
                <span class="sub-text" *ngIf="item.checkOutStatus && this.isPast && item.status === 'early'">Left Early</span>
                <span class="sub-text" *ngIf="item.checkOutStatus && this.isPast && item.status === 'missed'">Missed</span>
              </ng-container>
              <span class="cta" *ngIf="!item.checkOut && item.checkOutStatus && this.isPast && item.status === 'present'">Missed
                Check Out</span>

              <span class="spacer"></span>
              <button md-icon-button class="subtle" (click)="updateDayEvent(item.employee.id)"><i class="fa fa-chevron-right"></i></button>
            </div>
          </td>
          <!-- <td class="tdWidth">
                            <a [routerLink]="['teams',item.employee.id]" *ngIf="item.employee.hasTeam">
                                <img src="assets/images/team.png" width="30px;">
                            </a>
                        </td> -->
          <!-- <td class="tdWidth">
                            <button [matMenuTriggerFor]="moreMenu" md-icon-button *ngIf="item.needsAction && !(item.shift.status === 'weekOff' || item.shift.status === 'holiday')">
                                <md-icon>more_vert</md-icon>
                            </button>
                            <md-menu #moreMenu="mdMenu">
                                <button md-menu-item mdTooltip="Clear Action" [mdTooltipPosition]="'above'" (click)="clearAction(item)">
                                    Clear action &nbsp;&nbsp;
                                    <md-icon>clear</md-icon>
                                </button>
                            </md-menu>
                        </td> -->
        </tr>

      </tbody>
    </table>
  </div>
  <div class="mini">
    <aqua-daily-mobile-view [attendance]="attendances"></aqua-daily-mobile-view>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="custom_pagination">
      <pagination-controls id="foo" (pageChange)="attendancePage.pageNo = $event;getAttendance();"></pagination-controls>
      <label class="full">Total Records: {{attendancePage.totalRecords}}</label>
      <div class="pageSize">
        <label>Page Size:</label>
        <select name="pageSize" [(ngModel)]="attendancePage.pageSize" (change)="attendancePage.pageNo = 1;getAttendance();">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </div>
    </div>
  </div>
</md-card>
