<div *ngIf="show" class="container-fluid format">

    <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="name">Name
        <span class="asterisk">*</span>
      </label>
            <input class="form-control" type="text" [(ngModel)]="leaveType.properties.name">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="code">Code</label>
            <input class="form-control" type="text" [(ngModel)]="leaveType.properties.code">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="unitsPerDay">Min Per Day
        <span class="asterisk">*</span>
      </label>
            <select class="form-control" [(ngModel)]="leaveType.properties.unitsPerDay">
        <option [ngValue]="null">select an option</option>
        <option value=1>Full</option>
        <option value=2>Half</option>
        <option value=3>One Third</option>
      </select>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="unlimited">Is Unlimited</label>
            <select class="form-control" [(ngModel)]="leaveType.properties.unlimited">
        <option [ngValue]="null">select an option</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="leaveCategory">Category
        <span class="asterisk">*</span>
      </label>
            <select class="form-control" [(ngModel)]="leaveType.properties.category">
        <option [ngValue]="null" disabled>select an option</option>
        <option value="lossOfPay">Loss Of Pay</option>
        <option value="OnDuty">On Duty</option>
        <option value="paidLeave">Paid Leave</option>
      </select>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="periodicityType">Period</label>
            <select class="form-control" [(ngModel)]="leaveType.properties.periodicity.type">
              <option [ngValue]="null" disabled>select an option</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>
            </select>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="periodicityValue">Credit</label>
            <input class="form-control" type="number" min="0" [(ngModel)]="leaveType.properties.periodicity.value" [disabled]="!leaveType.properties.periodicity.type">
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="carryForward"> Yearly Carry Forward</label>
            <input class="form-control" type="number" min="0" [(ngModel)]="leaveType.properties.carryForward">
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xs-3">
            <label for="carryForward">Monthly Limit</label>
            <input class="form-control" type="number" min="0" [(ngModel)]="leaveType.properties.monthlyLimit">
        </div>

    </div>

    <div class="row text-center">
        <button class="btn btn-primary" (click)="saveLeaveType()">Submit</button>
        <button class="btn btn-primary" (click)="show= false">Cancel</button>
    </div>


</div>
<md-spinner class="custom_spinner" *ngIf="isLoading" mode="indeterminate"></md-spinner>